<!--{eval $_TPL['nosidebar']=1;}-->
<!--{template header}-->

<div class= "apps_farewell">
	<div class= "apps_farewell_txt">
	离校系统正在建设中...
	</div>
	<div class= "apps_farewell_bg">
	</div>
	<div class= "apps_farewell_txt">
	<a href='http://my.buaa.edu.cn' />点此传送—></a>
	</div>
	<div class="apps_farewell_form">
	您是否需要直接加载这个应用？
	</div>
	<div class="apps_farewell_form">
	<form name="vote" action=" " method="post" >
	<input type="radio" name="test" value="yes" checked>是的
	<input type="radio" name="test" value="no" >不
	<input type="radio" name="test" value="casual" >无所谓
	<input type="submit" name="submit" value="提交">
	</form>
	</div>
</div>
<!--{template footer}-->