<!--{eval $_TPL['nosidebar']=1;}-->
<!--{template header}-->

<div class= "apps_all">
	<div class= "apps_all_sort">
		<div class= "apps_all_sort_title">资源类应用</div>
		<div class= "apps_all_sort_list"><a href="apps.php?appsname=farewell"><img src="image/apps/1.gif" alt="离校系统" /></a><dt>名称：花园BT</dt><dt>下载量：212</dt><dt>评分：84 (56评分)</dt><dt>更新：2012-5-31</dt><dt>加载速度：1.2S</dt></div>
		<div class= "apps_all_sort_list"><a href="apps.php?appsname=farewell"><img src="image/apps/1.gif" alt="离校系统" /></a><dt>名称：花园BT</dt><dt>下载量：212</dt><dt>评分：84 (56评分)</dt><dt>更新：2012-5-31</dt><dt>加载速度：1.2S</dt></div>
		<div class= "apps_all_sort_list"><a href="apps.php?appsname=farewell"><img src="image/apps/1.gif" alt="离校系统" /></a><dt>名称：花园BT</dt><dt>下载量：212</dt><dt>评分：84 (56评分)</dt><dt>更新：2012-5-31</dt><dt>加载速度：1.2S</dt></div>
		<div class= "apps_all_sort_list"><a href="apps.php?appsname=farewell"><img src="image/apps/1.gif" alt="离校系统" /></a><dt>名称：花园BT</dt><dt>下载量：212</dt><dt>评分：84 (56评分)</dt><dt>更新：2012-5-31</dt><dt>加载速度：1.2S</dt></div>
	</div>
	<div class= "apps_all_sort">
		<div class= "apps_all_sort_title">学生类应用</div>
		<div class= "apps_all_sort_list"><a href="index.php"><img src="image/apps/2.gif" alt=" " /></a></div>
		<div class= "apps_all_sort_list"><a href="index.php"><img src="image/apps/2.gif" alt=" " /></a></div>
		<div class= "apps_all_sort_list"><a href="index.php"><img src="image/apps/2.gif" alt=" " /></a></div>
		<div class= "apps_all_sort_list"><a href="index.php"><img src="image/apps/2.gif" alt=" " /></a></div>
	</div>
	<div class= "apps_all_sort">
		<div class= "apps_all_sort_title">教职工类应用</div>
		<div class= "apps_all_sort_list"><a href="index.php"><img src="image/apps/3.gif" alt=" " /></a></div>
		<div class= "apps_all_sort_list"><a href="index.php"><img src="image/apps/3.gif" alt=" " /></a></div>
		<div class= "apps_all_sort_list"><a href="index.php"><img src="image/apps/3.gif" alt=" " /></a></div>
		<div class= "apps_all_sort_list"><a href="index.php"><img src="image/apps/3.gif" alt=" " /></a></div>
	</div>
</div>
<!--{template footer}-->