.complain_list tbody tr td {
    border-bottom: 1px solid #dcdcdc;
}
.complain_list thead tr td {
    border-bottom: 1px solid #dcdcdc;
    color: #333;
}
table.complain_list {
    margin: 5px 0 20px;
    width: 100%;
}
.complain_list tbody tr {
    cursor: pointer;
}
.complain_list td {
    padding: 8px 10px;
    color: #777;
    line-height: 150%;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100px;
	text-overflow: ellipsis;
    vertical-align: top;
}
.complain_list td a {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.complain_list .alt {
    background: #f9f9f9;
}
#complain_list .h_status a {
    margin-right: 3px;
    text-decoration: none;
}
#complain_list {
	margin-bottom: 20px;
}
.dept_rank li {
	margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    height: 117px;
}
.dept_rank .head img {
    border-radius: 10px 0 0 10px;
    height: 115px;
    width: 115px;
}
.dept_rank .dept_center {
    width: 70%;
    margin: 10px;
    float: left;
}
.dept_center .feed_li_inner {
    padding-top: 2px;
    padding-bottom: 5px;
}
.dept_center .dept_detail {
    padding-top: 5px;
    margin-left: 10px;
    max-height: 60px;
    overflow: hidden;
}
.dept_detail .dept_detail_tip {
    float: left;
}
.dept_detail .dept_detail_info {
    color: #575757;
    padding-left: 5px;
    width: 427px;
    overflow: hidden;
}
.dept_detail i {
    cursor: pointer;
}
.dept_rank .dept_score {
	color: #777;
    margin-left: 10px;
}
.dept_rank .dept_op {
    float: right;
    padding: 4px 12px;
}
.dept_rank .dept_op a {
    padding: 5px 0;
    display: block;
}
.dept_rank_index {
    color: white;
    text-align: center;
    font-size: 16px;
    margin-left: 15px;
    width: 27px;
    height: 30px;
    line-height: 26px;
    background: url(../../image/icons/rank_bg.png) center center no-repeat;
    position: absolute;
}
.complain_list_filter {
    margin-left: 23px;
}
.complain_list_container .page a {
    color: #01b6f9;
}