<!--{template header}-->
<!--{if $op == 'delete'}-->
<h1>删除日历</h1>
<a href="javascript:hideMenu();" class="float_del" title="关闭">关闭</a>
<div class="popupmenu_inner" id="__deletecalendar_{$calendar_id}">
    <form method="post" id="deletecalendar_{$calendar_id}" action="cp.php?ac=calendar&op=delete&calendar_id=$calendar_id">
        <p>确定删除指定的日历吗？</p>
        <p class="btn_line">
        <input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
        <input type="hidden" name="deletesubmit" value="true" />
        <button name="btnsubmit" type="button" 
            class="btn btn-sm btn-comments" value="true" onclick="ajaxpost('deletecalendar_{$calendar_id}', 'calendar_delete', 2000)">确定</button>
        </p>
        <input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
    </form>
</div>
<!--{elseif $op == "calendar"}-->	
<div class="calendar">
    <a href="#" onclick="showcalendar('$premonth'); this.blur(); return false;">
        <div id="calendar_pre" class="floatleft goleft">
        </div>
    </a>
    <a href="#" onclick="showcalendar('$nextmonth'); this.blur(); return false;">
        <div id="calendar_next" class="floatright goright">
        </div>
    </a>
    <span id="thecalendar_year">$year</span>年 <span id="thecalendar_month">$month</span>月
    <ul>
        <li class="calendarli calendarweek">日</li>
        <li class="calendarli calendarweek">一</li>
        <li class="calendarli calendarweek">二</li>
        <li class="calendarli calendarweek">三</li>
        <li class="calendarli calendarweek">四</li>
        <li class="calendarli calendarweek">五</li>
        <li class="calendarli calendarweek">六</li>	
        <!--{eval echo str_repeat('<li class="calendarblank">&nbsp;</li>', $week)}-->
        <!--{loop $days $key $value}-->		
        <!--{if !strcmp($value[class],"on_today")&& !$value[count]}-->
        <a href="/space.php?do=calendar&showFcDate=$year-$month-$key&id=$calendar_id">
            <li class="calendarli on_today">$key</li>
        </a>
        <!--{elseif $value[count]}-->		
        <!--{if $value[class]=="on_today"}-->
        <!--{eval $class="on_today onlink"}-->
        <!--{else}-->
        <!--{eval $class="onlink"}-->
        <!--{/if}-->
        <li class="calendarli $class" onmouseover="$('day_$key').style.display='block';" onmouseout="$('day_$key').style.display='none';">
        <!--wangnan<img class="calendar_red_point" src="template/default/image/red_point.png"></img>-->
        <a href="$url&date=$year-$month-$key">$key</a>
        <div class="dayevents" id="day_$key" style="display:none;">
            <ul class="news_list">
                <!--{eval $num=0}-->    
                <!--{loop $value[arrangement] $arrangement}-->
                <!--{eval $num++}-->
                <li class="dayeventsli">
                <div class="dayeventstitle"><img style="width:18px;margin-top:-5px;" src="image/alert.png"></img>&nbsp;&nbsp;事件&nbsp;{$num}</div>
                <a href="space.php?do=arrangement&id=$arrangement[arrangementid]">$arrangement[subject]</a>
                </li>
                <!--{/loop}-->
            </ul>
        </div>
        </li>
        <!--{else}-->
        <a href="/space.php?do=calendar&showFcDate=$year-$month-$key&id=$calendar_id"><li class="calendarli">$key</li></a>
        <!--{/if}-->
        <!--{/loop}-->
    </ul>
</div>
<!--{else}-->
<!--{if $_GET['op'] == 'add'}-->
<h1>添加日历</h1>
<a href="javascript:hideMenu();" class="float_del" title="关闭">关闭</a>
<div class="popupmenu_inner" id="__addcalendar_">
    <form id="addcalendar_" name="titleform" action="cp.php?ac=calendar&op=add" method="post" enctype="multipart/form-data" onsubmit="return check_ics_file();">
        名称：<input type="text" class="t_input form-control input-sm" id="subject" style="display:inline;width:200px;" name="subject" value="" />
        <p style="margin-top:5px;">
        <a href="javascript:void(0)" onclick="jq('#ics_files').show();"><font color="#000">+导入日历</font></a>
        <span id="ics_files" style="display:none;">
            <input type="file" name="ics_file" id="ics_file" class="t_input form-control input-sm" style="width:200px; margin-top:10px;" />
        </span>
        </p>
        <span id="ics_error" style="color:#F00"></span>
        <p class="btn_line" style="float:right; margin-top:10px; margin-bottom:5px;">
        <input type="hidden" name="calendarbutton" class="submit btn btn-sm btn-comments" value="true">
        <button name="btnsubmit" type="submit" class="btn btn-sm btn-comments" value="true">确定</button>
        <input type="hidden" name="refer" value="$_SGLOBAL[refer]">
        </p>
        <input type="hidden" name="makefeed1" id="makefeed1" value="1">
        <input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
    </form>
</div>
<!--{/if}-->
<!--{if $_GET['op'] == 'edit'}-->
<h1>编辑日历</h1>
<a href="javascript:hideMenu();" class="float_del" title="关闭">关闭</a>
<div class="popupmenu_inner" id="__editcalendar_{$calendar_id}">
    <form id="editcalendar_{$calendar_id}" name="titleform" action="cp.php?ac=calendar&calendar_id=$calendar_id" method="post" enctype="multipart/form-data" onsubmit="return check_ics_file();">
        名称：<input type="text" class="t_input form-control input-sm" id="subject" style="display:inline;width:100px;" name="subject" value="$calendar[calendar_name]" />
        <p style="margin-top:5px;">
        <a href="javascript:void(0)" onclick="jq('#ics_files').show();"><font color="#000">+导入日历</font></a>
        <span id="ics_files" style="display:none;">
            <input type="file" name="ics_file" id="ics_file" class="t_input form-control input-sm" style="width:200px; margin-top:10px;" />
        </span>
        </p>
        <span id="ics_error" style="color:#F00"></span>
        <p class="btn_line" style="float:right; margin-top:10px; margin-bottom:5px;">
        <input type="hidden" name="calendarbutton" class="submit btn btn-sm btn-comments" value="true">
        <button name="btnsubmit" type="submit" class="btn btn-sm btn-comments" value="true">确定</button>
        <input type="hidden" name="refer" value="$_SGLOBAL[refer]">
        </p>
        <input type="hidden" name="makefeed1" id="makefeed1" value="1">
        <input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
    </form>
</div>
<!--{/if}-->
<!--{if $_GET['op'] == 'addEvent'}-->
<style>
    .calender_line {
        margin-bottom:7px;
    }
    .select_img {
        cursor:pointer;
        margin-right:3px;
    }
</style>
<h1>添加事件</h1>
<a href="javascript:hideMenu();" class="float_del" title="关闭">关闭</a>
<div class="popupmenu_inner" id="__calendarAddEvent_{$calendar_id}">
    <form id="calendarAddEvent_{$calendar_id}" name="calendarAddEvent" action="cp.php?ac=calendar&op=addEventDo&calendar_id=$calendar_id" method="post">
        <div style="padding: 20px 30px;">
            <div class="calender_line">
                <label>内容：<input type="text" class="t_input form-control input-sm" style="display:inline;width:250px;" name="eventContent" value="" /></label>
            </div>

            <div class="calender_line">
                <label>地点：<input name="place" value="$calendarInfo['place']" class="t_input form-control input-sm" style="display:inline;width:250px;"></label>
            </div>
            <div id="msg_div" style="display:none">
                 <label class="radio-inline">
                     <input type="radio" name="is_send_msg_time" checked  id="is_send_msg_1" value="1"/>提前1小时
                 </label>
                 <label class="radio-inline">
                     <input type="radio" name="is_send_msg_time" id="is_send_msg_2" value="2"> 提前2小时
                 </label>
                 <label class="radio-inline">
                     <input type="radio" name="is_send_msg_time" id="is_send_msg_3" value="3" > 提前3小时
                 </label>
             </div>
             <input id="bg" type="hidden" name="bg" value="school"/>
            <div class="calender_line">
                <label>日历:</label>
                <label style="margin-left:5px;margin-right:10px;" for="calendar_select_school" onclick="select_me('calendar_select_school')"><img class="select_img" onclick="select_me('calendar_select_school')" id="calendar_select_school_box" data-for="calender_select_school" src="image/calender/pink_select_on.png"><input type="radio" style="margin-left:10px;display:none;" checked  name="calendar_select_id" id="calendar_select_school" >课程表</label>
                <label for="calendar_select_person" onclick="select_me('calendar_select_person')"><img class="select_img" onclick="select_me('calendar_select_person')" id="calendar_select_person_box" data-for="calender_select_person" src="image/calender/green_select.png">
                <input type="radio" name="calendar_select_id" style="display:none;" id="calendar_select_person" >个人日历</label></div>
            <div class="calender_line clearfix"> 
                <input type="hidden" name="calendarEventBtn" class="submit btn btn-sm btn-comments" value="true">
                <button name="btnsubmit" type="button" style="float:right" class="btn btn-sm btn-comments" value="true" onclick="ajaxpost('calendarAddEvent_{$calendar_id}', 'addEventOK', 2000)">保存</button>
                <input type="hidden" name="refer" value="$_SGLOBAL[refer]">
            </div>
        </div>
    
       <input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->"/>
    </form>
</div>
<!--{/if}-->

<!--{if $_GET['op'] == 'editEvent'}-->
<h1>编辑事件</h1>
<a href="javascript:hideMenu();" class="float_del" title="关闭">关闭</a>
<div class="popupmenu_inner" id="__calendarEditEvent_{$calendar_id}">
    <form id="calendarEditEvent_{$calendar_id}" name="calendarEditEvent" action="cp.php?ac=calendar&op=editEvent&calendar_id=$calendar_id&calendar_info_id=$calendar_info_id" method="post">
        <div style="padding:20px 30px;">
        <div class="calender_line">
                <label>内容：<input type="text" class="t_input form-control input-sm" style="display:inline;width:250px;" name="eventContent" value="$calendarInfo['content']" /></label>
            </div>

            <div class="calender_line">
                <label>地点：<input name="place" value="$calendarInfo['place']" class="t_input form-control input-sm" style="display:inline;width:250px;"></label>
            </div>
            <div class="calender_line">
                <label>时间：
                    <input type="text" name="start_d" readonly style="margin-left:-3px;" class="t_input time-input form-control input-sm" id="start_d_hidden" value="{$calendarInfo['start_d']}"/>
                </label>
                至
                <label>
                    <input type="text" name="end_d" id="end_d_hidden" readonly class="t_input time-input form-control input-sm" value="{$calendarInfo['end_d']}" />
                </label>

                     <input name="is_send_msg" type="checkbox" onclick="show_send_msg(this);"/>提醒
            <div id="msg_div" style="display:none">
                 <label class="radio-inline">
                     <input type="radio" name="is_send_msg_time" checked  id="is_send_msg_1" value="1"/>提前1小时
                 </label>
                 <label class="radio-inline">
                     <input type="radio" name="is_send_msg_time" id="is_send_msg_2" value="2"> 提前2小时
                 </label>
                 <label class="radio-inline">
                     <input type="radio" name="is_send_msg_time" id="is_send_msg_3" value="3" > 提前3小时
                 </label>
             </div>
             <input id="bg" type="hidden" name="bg" value="school"/>
            <div class="calender_line">
                <label>日历:</label>
                <label style="margin-left:5px;margin-right:10px;" for="calendar_select_school" onclick="select_me('calendar_select_school')"><img class="select_img" onclick="select_me('calendar_select_school')" id="calendar_select_school_box" data-for="calender_select_school" src="image/calender/pink_select_on.png"><input type="radio" style="margin-left:10px;display:none;" checked  name="calendar_select_id" id="calendar_select_school" >课程表</label>
                <label for="calendar_select_person" onclick="select_me('calendar_select_person')"><img class="select_img" onclick="select_me('calendar_select_person')" id="calendar_select_person_box" data-for="calender_select_person" src="image/calender/green_select.png">
                <input type="radio" name="calendar_select_id" style="display:none;" id="calendar_select_person" >个人日历</label></div>
            <div class="calender_line clearfix"> 
                <input type="hidden" name="calendarEventBtn" class="submit btn btn-sm btn-comments" value="true">
                <button name="btnsubmit" type="button" onclick="post_edit({$calendar_info_id},{$calendar_id})" style="float:right" class="btn btn-sm btn-comments" value="true" id="edit_save" >保存</button>
                <input type="hidden" name="refer" value="$_SGLOBAL[refer]">
            </div>
        </div>
    
        <input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->"/>
    </div>
    </form>
</div>
<!--{/if}-->

<!--{if $_GET['op'] == 'showEvent'}-->
<h1>事件</h1>
<a href="javascript:hideMenu();" class="float_del" title="关闭">关闭</a>
<div class="popupmenu_inner" id="__calendarShowEvent_{$calendar_id}">
    <form id="calendarShowEvent_{$calendar_id}" name="calendarShowEvent" action="cp.php?ac=calendar&op=showEvent&calendar_id=$calendar_id&calendar_info_id=$calendar_info_id" method="post">
        <div style="padding: 10px 20px;">
            <p style="font-size: 20px;width: 250px;">
                $calendarInfo['content']
                </p>
            
            <p>
                $calendarInfo['show_date']</p>
                <p>日历：
                <!--{if $calendarInfo['bgcolor'] == '#7515E0'}-->课程表
                <!--{else}-->
                    个人日历
                <!--{/if}--></p>
            <p>地点： $calendarInfo['place']</p>
        </div>
        <p class="btn_line" style="float:right; margin-bottom:20px;">
        <!--<input type="hidden" name="start_t" value="$calendarInfo['start_t']">
        <input type="hidden" name="end_t" value="$calendarInfo['end_t']">-->
        <button name="btnsubmit" type="button"
            class="btn btn-sm" value="true" onclick="deleteEvent($calendar_id, $calendar_info_id);hideMenu();">删除</button>
        <button type="button"
            class="btn btn-sm btn-comments" value="true" onclick="showEditEvent($calendar_info_id, 'cp.php?ac=calendar&op=editEvent&calendar_id=$calendar_id&calendar_info_id=$calendar_info_id');hideMenu();">编辑</button>
        <input type="hidden" name="refer" value="$_SGLOBAL[refer]">
        </p>
        <input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
    </form>
</div>
<!--{/if}-->
<!--{/if}-->
<!--{template footer}-->
