<!--{template header}-->
<style>
    input[type=radio]{
        margin-right:5px;
        margin-left:10px;
    }
</style>
<!--{if $op == 'addopt'}-->

<h1>添加投票项</h1>
<a href="javascript:hideMenu();" class="float_del" title="关闭">关闭</a>
<div class="popupmenu_inner" id="$pid">
	<form id="add_option_{$pid}" name="add_option_{$pid}" method="post" action="cp.php?ac=poll&op=addopt&pid=$pid">
		<div id="__add_option_{$pid}">
			<table>
				<tr>
					<td>
						<label for="newoption">请输入新增的投票候选项：</label><br />
						<input type="text" class="t_input" id="newoption" name="newoption" value="" size="50"/>
					</td>
				</tr>
				<tr>
					<td>
						<label for="newoption">请输入新增的超链接：</label><br />
						<input type="text" class="t_input" id="newlink" name="newlink" value="" size="50"/>
					</td>
				</tr>
				<tr>
					<td>
						<label for="newoption">请上传新增的图片：</label><br />
						<div id="uploadform">
						<input id="fileupload" type="file" name="feedfile" value="" />
						<a href="javascript:void(0)" onclick="uploadfile()">上传</a>
						<input type="hidden" name="picid" id="picid" value="" />
						<input type="hidden" name="newpic" id="picpath" value="" />
						</div>
						<div id="showpic" style="display:none"></div>
					</td>
				</tr>
				<tr>
					<td>
					<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
					<input type="hidden" name="addopt" value="true" />
					<input type="submit" name="addopt_btn" id="addopt_btn" value="提交" class="submit btn btn-sm btn-comments"  />
					</td>
				</tr>
			</table>
			<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
		</div>
	</form>
</div>
<script type="text/javascript">
	jQuery.noConflict();	
	jQuery(function ($) {});
	
	function uploadfile(){
		var pic = jQuery("#fileupload").val();
		if(pic==''){
			alert("请先选择图片~!");
			return false;
		}
		jQuery("#fileupload").wrap("<form id='myupload' action='cp.php?ac=upload&file=upload&type=pic' method='post' enctype='multipart/form-data'></form>");
		jQuery("#myupload").ajaxSubmit({
			dataType:  'json',
			success: function(data) {
				var img = "$_SC['attachurl']"+data.pic;
				var num = 12;
				var name = data.name;
				var picid = data.picid;
				name = cut_string(name,num);
				jQuery("#picid").val(picid);
				jQuery("#picpath").val(data.pic);
				jQuery("#showpic").html("<img style='max-height:100px;max-width:100px;' src='"+img+"'><a href=\"javascript:void(0)\" onclick=\"deletepic()\">删除</a>");
				jQuery("#uploadform").css("display", "none");
				jQuery("#showpic").css("display", "block");
			},
			error:function(xhr){
				alert(xhr.responseText);
			}
		});
	}
	
	function deletepic(){
		var picid = jQuery("#picid").val();
		jQuery.get("cp.php?ac=upload&file=delete&type=pic",{ picid: picid },function(data){
			if(data=='ok'){
				jQuery("#picpath").val('');
				jQuery("#picid").val('');
				jQuery("#fileupload").val('');
				jQuery("#fileupload").unwrap();
				jQuery("#showpic").css("display", "none");
				jQuery("#uploadform").css("display", "block");
			}else{
				alert("删除失败~!");
			}
		});
	}
	function cut_string(string,num){
        var str = string.split('.');
        var s_length = str.length;
		var str_len = str[0].replace(/[^\x00-\xff]/g, "**").length;
		if( str_len > num){
			var content = str[0].substr(0,num);
			return content+"..."+str[s_length-1];
		}
		else{
			return string;
		}        
	}
</script>
<!--{elseif $op=='delete'}-->

<h1>删除投票</h1>
<a href="javascript:hideMenu();" class="float_del" title="关闭">关闭</a>
<div class="popupmenu_inner">
	<form method="post" action="cp.php?ac=poll&op=delete&pid=$pid">
		<p>确定删除指定的投票吗？</p>
		<p class="btn_line">
			<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
			<input type="hidden" name="deletesubmit" value="true" />
			<input type="submit" name="btnsubmit" value="确定" class="submit btn btn-sm btn-comments" />
		</p>
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
	</form>
</div>

<!--{elseif $op=='endreward'}-->

<h1>终止悬赏</h1>
<a href="javascript:hideMenu();" class="float_del" title="关闭">关闭</a>
<div class="popupmenu_inner">
	<form method="post" action="cp.php?ac=poll&op=endreward&pid=$pid">
		<p>终止悬赏后，剩余的积分打回您的帐户<br>确定继续吗？</p>
		<p class="btn_line">
			<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
			<input type="hidden" name="endrewardsubmit" value="true" />
			<input type="submit" name="btnsubmit" value="确定" class="submit btn btn-sm btn-comments" />
		</p>
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
	</form>
</div>

<!--{elseif $op == 'edithot'}-->

<h1>调整热度</h1>
<a href="javascript:hideMenu();" class="float_del" title="关闭">关闭</a>
<div class="popupmenu_inner">
<form method="post" action="cp.php?ac=poll&op=edithot&pid=$pid">
	<p class="btn_line">
		新的热度：<input type="text" name="hot" value="$poll[hot]" size="5"> 
		<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
		<input type="hidden" name="hotsubmit" value="true" />
		<input type="submit" name="btnsubmit" value="确定" class="submit btn btn-sm btn-comments" />
	</p>
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>
</div>

<!--{elseif $op == 'addreward'}-->

<h1>追加投票悬赏</h1>
<a href="javascript:hideMenu();" class="float_del" title="关闭">关闭</a>
<div class="popupmenu_inner" id="$pid">
	<form id="add_addreward_{$pid}" name="add_addreward_{$pid}" method="post" action="cp.php?ac=poll&op=addreward&pid=$pid">
		<div id="__add_addreward_{$pid}">
			<table>
				<tr>
					<td>
			
						<label for="addcredit">追加悬赏总额：</label>
						<input type="text" class="t_input" id="addcredit" name="addcredit" value="" size="10"/> 范围：0~$space[credit]
					</td>
				</tr>
				<!--{if $maxreward}-->
				<tr>
					<td>
						<label for="addpercredit">追加每人悬赏：</label>
						<input type="text" class="t_input" id="addpercredit" name="addpercredit" value="" size="10"/> 范围：0~$maxreward
					</td>
				</tr>
				<!--{/if}-->
				<tr>
					<td>
					<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
					<input type="hidden" name="addrewardsubmit" value="true" />
					<input type="submit" name="addopt_btn" id="addopt_btn" value="提交" class="submit btn btn-sm btn-comments" />
					</td>
				</tr>
			</table>
			<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
		</div>
	</form>
</div>

<!--{elseif $op=='modify'}-->


<h1>修改投票结束时间</h1>
<a href="javascript:hideMenu();" class="float_del" title="关闭">关闭</a>
<div class="popupmenu_inner" id="expiration_$pid">
<form id="modify_expiration_{$pid}" name="modify_expiration_{$pid}" method="post" action="cp.php?ac=poll&op=modify&pid=$pid">
<table>
	<tr>
		<td>
			<label for="expiration">请输入新的结束时间：</label><br />
			<input type="text" class="t_input" id="expiration" name="expiration" readonly value="<!--{date('Y-m-d', $poll[expiration]?$poll[expiration]:$_SGLOBAL[timestamp]+2592000)}-->" size="30" onclick="showcalendar(event, this, 0, '<!--{date('Y-m-d',$_SGLOBAL[timestamp])}-->')"/>
		</td>
	</tr>
	<tr>
		<td>
		<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
		<input type="hidden" name="modifysubmit" value="true" />
		<input type="submit" name="modifysubmit_btn" id="modifysubmit_btn" value="提交" class="submit btn btn-sm btn-comments" />
		</td>
	</tr>
</table>
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>
</div>

<!--{elseif $op=='summary'}-->


<h1>投票总结</h1>
<a href="javascript:hideMenu();" class="float_del" title="关闭">关闭</a>
<div class="popupmenu_inner" id="summary_$pid">
<form id="edit_summary_{$pid}" name="edit_summary_{$pid}" method="post" action="cp.php?ac=poll&op=summary&pid=$pid">
<table>
	<tr>
		<td>

			<label for="message">请输入对此次投票的总结：</label>
			<img src="image/zoomin.gif" onmouseover="this.style.cursor='pointer'" onclick="zoomTextarea('summary', 1)">

			<img src="image/zoomout.gif" onmouseover="this.style.cursor='pointer'" onclick="zoomTextarea('summary', 0)">

			<br />
			<textarea id="summary" name="summary" cols="70" onkeydown="ctrlEnter(event, 'summarysubmit_btn');" rows="8">$poll[summary]</textarea></td>
	</tr>
	<tr>
		<td>
        <script language="javascript" src="source/face.js"></script>
        <a href="javascript:;" id="editface_{$pid}" class="drop_face comment_face" title="插入表情"><div></div></a>
        <div class="drop_face_menu" data-target="summary"></div>
		<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
		<input type="hidden" name="summarysubmit" value="true" />
		<input type="submit" name="summarysubmit_btn" id="summarysubmit_btn" value="提交" class="submit btn btn-sm btn-comments" />
		</td>
	</tr>
</table>
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>
</div>

<!--{elseif $op == 'get'}-->
	<ul id="vote_list" class="voter_list" style="padding-top:45px; padding-bottom:0;">
	<!--{if $voteresult}-->
	<!--{loop $voteresult $value}-->
		<li>
			<!--{if $value[uid]==$_SGLOBAL[supe_uid]}-->
			<img class="meicon" alt="我自己的" src="image/arrow.gif"/>
			<!--{/if}-->
			<!--{if empty($value[username])}-->
			匿名
			<!--{else}-->
			<a href="space.php?uid=$value[uid]">{$_SN[$value[uid]]}</a>
			<!--{/if}-->
			<!--{date('Y-m-d H:i:s',$value[dateline],1)}--> 投票给 $value[option]
		</li>
	<!--{/loop}-->
	<!--{else}-->
		<li>暂时没有相关<!--{if $_GET[filtrate]=='we'}-->好友<!--{/if}-->投票记录</li>
	<!--{/if}-->
	</ul>
	<!--{if $multi}--><div class="page">$multi</div><br/><!--{/if}-->
	
<!--{elseif $op == 'invite'}-->

<form id="inviteform" name="inviteform" method="post" action="cp.php?ac=poll&op=invite&pid=$poll[pid]&uid=$_GET[uid]&grade=$_GET[grade]&group=$_GET[group]&page=$_GET[page]&start=$_GET[start]">

<h4 class="title title30"><img class="pic10" src="image/icons/icon_vote.png" />投票</h4>
<a href="space.php?uid=$poll[uid]&do=poll&pid=$poll[pid]" style="position:absolute;top:40px;right:30px;"><span>返回投票</span></a>
<div class="tabs_header">
	<ul class="tabs">
		<li><a href="cp.php?ac=poll"><span>发起新投票</span></a></li>
		<li class="active"><a href="cp.php?ac=poll&op=invite&pid=$poll[pid]"><span>邀请好友</span></a></li>
	</ul>
</div>
<div id="content" style="width: 640px;border-right:none">
	<div class="h_status" style="margin-left:10px;border-bottom:none;margin-bottom:5px;padding-left:5px;">
      好友分类：
			<a href="cp.php?ac=poll&pid=$poll[pid]&op=invite&group=-1" <!--{if $_GET[group]==-1}--> class="active"<!--{/if}-->>全部好友</a>
			<!--{loop $groups $key $value}-->
			<a href="cp.php?ac=poll&pid=$poll[pid]&op=invite&group=$key"<!--{if $_GET[group]==$key}--> class="active"<!--{/if}-->>$value</a></li>
			<!--{/loop}-->
        

	</div>
	
	<div class="h_status" style="border-bottom:none;padding:0;margin-bottom:0;">
		<!--{if $list}-->
		<ul class="avatar_list">
          <style>
            .avatar_list li img {
            width:55px;
            height:55px;
           }
          </style>
		<!--{loop $list $value}-->
			<li style="margin-right:5px;margin-bottom:10px"><div class="avatar48" style="margin:0 auto"><a href="space.php?uid=$value[fuid]" title="{$_SN[$value[fuid]]}"><!--{avatar($value[fuid],small)}--></a></div>
				<p style="margin-bottom:0">
				<a href="space.php?uid=$value[fuid]" title="{$_SN[$value[fuid]]}">{$_SN[$value[fuid]]}</a>
				</p>
                <p><!--{if empty($invitearr[$value[fuid]])}--><input id="invite_label_$value[fuid]"style="margin-right:5px;"type="checkbox" name="ids[]" value="$value[fuid]"><label for="invite_label_$value[fuid]">选定</label><!--{else}-->已邀请<!--{/if}--></p>
			</li>
		<!--{/loop}-->
		</ul>
		<div class="page">$multi</div>
		<!--{else}-->
		<div class="c_form">还没有好友。</div>
		<!--{/if}-->
	</div>
	<p style="margin-left:20px;">
    <input type="checkbox" style="margin-right:5px;" id="chkall" name="chkall" onclick="checkAll(this.form, 'ids')"><label for="chkall">全选 &nbsp;</label>
		<input type="submit" name="invitesubmit" value="邀请" class="submit btn btn-ms btn-comments" />
	</p>
</div>

<div id="sidebar" style="width: 150px;">
	<div class="cat">
		<h3>好友分类</h3>
		<ul class="post_list line_list">

		</ul>
	</div>
</div>
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>
<!--{else}-->


<!--{if $topic}-->
	<!--{template cp_topic_menu}-->
<!--{else}-->
	<h4 class="title title30" style="margin-left:30px;"><img class="pic10" src="image/icons/icon_vote.png" />投票</h4>
    <a href="space.php?do=poll&view=me" style="position:absolute;top:40px;left:50%;margin-left:390px"><span>返回我的投票</span></a>
	<!--<div class="tabs_header">
		<ul class="tabs">
			<li class="active" style="width:120px;"><a href="cp.php?ac=poll"><span>发起新投票</span></a></li>
			<li style="width:120px;"><a href="space.php?do=poll&view=me"><span>返回我的投票</span></a></li>
		</ul>
      </div>-->
<!--{/if}-->

<div class="c_form">
	
	<form id="addnewpoll" name="addnewpoll" method="post" action="cp.php?ac=poll">
		<table cellspacing="4" cellpadding="4" width="100%" class="infotable">
			<tr>
				<th width="80">投票主题</th>
				<td>
					<input type="text" class="t_input" style="width:450px;" id="subject" name="subject" value=""> <br/>
					<a id="addtip" href="javascript:;" onclick="initIntro();" onfocus="this.blur();">添加投票详细说明</a>
				</td>
			</tr>
			<tr id="intropoll" style="display:none">
				<th>详细说明</th>
				<td><textarea id="message" style="padding: 3px 2px;width:450px;height:50px;" name="message"></textarea> </td>
			</tr>
			<tr>
				<td colspan="2" height="1px" style="line-height: 30px;"><div style="width: 550px; height:1px; border-bottom:1px solid #DDDDDD;"></div>
				<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color=#3E91D5>投票支持超链接和图片功能</font>
				<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;超链接格式为: http://www.buaa.edu.cn (必须带http://)
				<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;图片格式为 gif、jpg、png，宽高均小于190像素
				<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;点击“浏览”选择好图片后再点击“上传”后看到缩略图即表明上传成功
				</td>
			</tr>
			<!--{eval $option=array(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50); }-->
			<!--{loop $option $key $val}-->
			<!--{if $val==26}-->
			<tbody id="moreoption" style="display: none;">
			<!--{/if}-->
			<tr>
				<th>候选项{$val}</th>
				<td>
					<input type="text" class="t_input"  style="width:450px;" name="option[]" value="" maxlength="120">
					<!--{if $val==25}-->
					<div><a id="moretip" href="javascript:;" onclick="showMoreOption();" onfocus="this.blur();">增加更多选项</a></div>
					<!--{/if}-->
				</td>
			</tr>
			<tr>
				<th>链接{$val}</th>
				<td>
					<input type="text" class="t_input"  style="width:450px;" name="link[]" value="" maxlength="120" />					
				</td>
			</tr>
			<tr>
				<th>图片{$val}</th>
				<td>
					<div id="uploadform_$val">
					<input id="fileupload_$val" type="file" name="feedfile" value="" />
					<a href="javascript:void(0)" onclick="uploadfile('$val')">上传</a>
					<input type="hidden" name="picid[]" id="picid_$val" value="" />
					<input type="hidden" name="picpath[]" id="picpath_$val" value="" />
					</div>
					<div id="showpic_$val" style="display:none"></div>
				</td>
			</tr>
			<!--{/loop}-->
<script type="text/javascript">
	jQuery.noConflict();	
	jQuery(function ($) {});
	
	function uploadfile(id){
		var pic = jQuery("#fileupload_"+id).val();
		if(pic==''){
			alert("请先选择图片~!");
			return false;
		}
		jQuery("#fileupload_"+id).wrap("<form id='myupload_"+id+"' action='cp.php?ac=upload&file=upload&type=pic' method='post' enctype='multipart/form-data'></form>");
		jQuery("#myupload_"+id).ajaxSubmit({
			dataType:  'json',
			success: function(data) {
				var img = "$_SC['attachurl']"+data.pic;
				var num = 12;
				var name = data.name;
				var picid = data.picid;
				name = cut_string(name,num);
				jQuery("#picid_"+id).val(picid);
				jQuery("#picpath_"+id).val(data.pic);
				jQuery("#showpic_"+id).html("<img style='max-height:100px;max-width:100px;' src='"+img+"'><a href=\"javascript:void(0)\" onclick=\"deletepic('"+id+"')\">删除</a>");
				jQuery("#uploadform_"+id).css("display", "none");
				jQuery("#showpic_"+id).css("display", "block");
			},
			error:function(xhr){
				alert(xhr.responseText);
			}
		});
	}
	
	function deletepic(id){
		var picid = jQuery("#picid_"+id).val();
		jQuery.get("cp.php?ac=upload&file=delete&type=pic",{ picid: picid },function(data){
			if(data=='ok'){
				jQuery("#picpath_"+id).val('');
				jQuery("#picid_"+id).val('');
				jQuery("#fileupload_"+id).val('');
				jQuery("#fileupload_"+id).unwrap();
				jQuery("#showpic_"+id).css("display", "none");
				jQuery("#uploadform_"+id).css("display", "block");
			}else{
				alert("删除失败~!");
			}
		});
	}
	function cut_string(string,num){
        var str = string.split('.');
        var s_length = str.length;
		var str_len = str[0].replace(/[^\x00-\xff]/g, "**").length;
		if( str_len > num){
			var content = str[0].substr(0,num);
			return content+"..."+str[s_length-1];
		}
		else{
			return string;
		}        
	}
</script>
			</tbody>
			<tr>
				<th>最多投选</th>
				<td>
					<select name="maxchoice">
						<!--{loop $option $key $val}-->
							<option value="$val">
								<!--{if $val==1}-->
								单选
								<!--{else}-->
								最多选{$val}项
								<!--{/if}-->
							</option>
						<!--{/loop}-->
					</select>
				</td>
			</tr>
			<tr>
				<th>至少投选</th>
				<td>
					<select name="minchoice">
						<!--{loop $option $key $val}-->
							<option value="$val">
								<!--{if $val==1}-->
								单选
								<!--{else}-->
								至少选{$val}项
								<!--{/if}-->
							</option>
						<!--{/loop}-->
					</select>
				</td>
			</tr>
			<tr>
				<th>截止时间</th>
				<td>
					<script type="text/javascript" src="source/script_calendar.js" charset="$_SC[charset]"></script>
					<input type="text" class="t_input" size="16" id="expiration" readonly name="expiration" value="" onclick="showcalendar(event, this, 0, '<!--{date('Y-m-d',$_SGLOBAL[timestamp])}-->')" />
				</td>
			</tr>
			<tr>
				<th>投票限制</th>
				<td>
					<input type="radio" name="sex" value="0" checked style="margin-left:0"/>不限制 
					<input type="radio" name="sex" value="1" />男
					<input type="radio" name="sex" value="2" />女
				</td>
			</tr>
			<tr>
				<th>匿名限制</th>
				<td>
					<input type="radio" name="anonymous" value="1" checked style="margin-left:0"/>允许匿名
					<input type="radio" name="anonymous" value="0" />不允许匿名
				</td>
			</tr>
			<tr>
				<th>评论限制</th>
				<td>
					<input type="radio" name="noreply" value="0" checked style="margin-left:0"/>不限制 
					<input type="radio" name="noreply" value="1" />仅限好友
				</td>
			</tr>
			<tr>
				<th>悬赏投票</th>
				<td>
					<input type="radio" name="reward" value="0" checked onclick="initReward(this.value);" style="margin-left:0"/>否
					<input type="radio" name="reward" value="1" onclick="initReward(this.value);" />是
				</td>
			</tr>
			<tbody id="rewardlist" style="display: none;">
				<tr>
					<th>悬赏总额</th>
					<td>
						<input type="text" class="t_input" size="16" id="credit" name="credit" value="" maxlength="60"> 范围：1~$space[credit]
					</td>
				</tr>
				<tr>
					<th>每人悬赏</th>
					<td>
						<input type="text" class="t_input" size="16" id="percredit" name="percredit" value="" maxlength="60"> 范围：1~$_SCONFIG[maxreward]
					</td>
				</tr>
			</tbody>
			<!--{if checkperm('seccode')}-->
				<!--{if $_SCONFIG['questionmode']}-->
				<tr>
					<th style="vertical-align: top;" width="90">请回答验证问题</th>
					<td>
						<p><!--{eval question();}--></p>
						<input type="text" id="seccode" name="seccode" value="" size="15" class="t_input" />
					</td>
				</tr>
				<!--{else}-->
				<tr>
					<th style="vertical-align: top;" width="90">请填写验证码</th>
					<td>
						<script>seccode();</script>
						<p>请输入上面的4位字母或数字，看不清可<a href="javascript:updateseccode()">更换一张</a></p>
						<input type="text" id="seccode" name="seccode" value="" size="15" class="t_input" />
					</td>
				</tr>
				<!--{/if}-->
			<!--{/if}-->
			
			<tr>
				<th></th>
				<td>
					<input type="hidden" name="pollsubmit" id="pollsubmit" value="true" />
					<input type="hidden" name="makefeed" id="makefeed" value="1">
					<input type="hidden" name="topicid" value="$_GET[topicid]" />
					<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
					<input type="submit" name="addpollsubmit" id="addpollsubmit" value="发起投票" class="submit btn btn-sm btn-comments" onclick="validate(this);return false;" />
					<div id="__addnewpoll"></div>
				</td>
			</tr>
		</table>
	</form>
	<script type="text/javascript" charset="$_SC[charset]">
		function initIntro() {
			var introObj = $('intropoll');
			var tipObj = $('addtip');
			if(introObj.style.display == 'none') {
				introObj.style.display = '';
				
				tipObj.innerHTML = "隐藏投票详细说明";
			} else {
				if (($('message').value.length == 0) || (confirm("详细说明将被清空，你确定要隐藏吗？"))) {
					introObj.style.display = 'none';
					$('message').value = '';
					tipObj.innerHTML = "添加投票详细说明";
				}
			}
		}
		function initReward(status) {
			var rewardObj = $('rewardlist');
			if(status == 1) {
				rewardObj.style.display = '';
			} else {
				rewardObj.style.display = 'none';
				$("credit").value = '';
				$("percredit").value = '';
			}
		}
		function showMoreOption() {
			$("moreoption").style.display = '';
			$("moretip").style.display = 'none';
		}
		function validate(obj) {
		    var subject = $('subject');
		    if (subject) {
		    	var slen = strlen(subject.value);
		        if (slen < 1 || slen > 80) {
		            alert("标题长度(1~80字符)不符合要求");
		            subject.focus();
		            return false;
		        }
		    }
		    
			var optionCount = 0;
			var optionObj = document.getElementsByName("option[]");
			for(var i=0;i<optionObj.length;i++) {
				if(optionObj[i].value.Trim()!="") {
					optionCount++;
				}
			}
			
			var optionCount = 0;
			var optionObj = document.getElementsByName("option[]");
			var file = document.getElementsByName("file[]");
			var i=0;
			while(optionObj[i].value||file[i].value) {
				if(!optionObj[i].value)
				optionObj[i].value="picture"+i;
				optionCount++;
				i++;
			}
			
			
			if(optionCount<2) {
				alert('请至少添加两个候选项！');
				return false;
			}
			var maxCredit = $space[credit];
			var maxPercredit = $_SCONFIG[maxreward];
			//验证悬赏投票设置
			var credit = parseInt($('credit').value.Trim());
			var percredit = parseInt($('percredit').value.Trim());
			if(credit || percredit) {
				if(!credit) {
					alert("请正确填写悬赏总额");
					return false;
				} else if(!percredit) {
					alert("请正确填写每人悬赏积分");
					return false;
				} else if(credit > maxCredit) {
					alert("悬赏总额应在:1~"+maxCredit+"之间取值");
					return false;
				} else if(maxPercredit && percredit > maxPercredit) {
					alert("每人悬赏应在:1~"+maxPercredit+"之间取值");
					return false;
				} else if(credit < percredit) {
					alert("每人悬赏不能高于悬赏总额");
					return false;
				}
			}
			var nowDate = parsedate("<!--{date('Y-m-d',$_SGLOBAL[timestamp])}-->");
			
			
			if($('expiration').value.Trim() != "") {
				var expiration = parsedate($('expiration').value.Trim());
				if(expiration < nowDate) {
					alert("过期时间不能小于当前时间");
					return false;
				}
			}
		    if($('seccode')) {
				var code = $('seccode').value;
				var x = new Ajax();
				x.get('cp.php?ac=common&op=seccode&code=' + code, function(s){
					s = trim(s);
					if(s.indexOf('succeed') == -1){
						alert(s);
						$('seccode').focus();
		           		return false;
					}
				});
		    }
		    ajaxpost('addnewpoll', 'poll_post_result');
		    return false;
		}
		String.prototype.Trim = function() {
			return this.replace(/(^\s*)|(\s*$)/g, ""); 
		}
	</script>
</div>
<!--{/if}-->

<!--{template footer}-->
