<!--{template dev_header}-->
<div class="container table-container">
    <div class="row table-row">
        <!--{template dev_manage_sidebar}-->
        <div class="col-md-10 table-col" id="servicearea">
            <h4>接口使用日志</h4>

            <div role="tabpanel">
                <div style="margin-top: 30px">
                    <table class="table table-striped" id="servicelist">
                        <thead>
                        <tr>
                            <th>接口名称</th>
                            <th>服务名称</th>
                            <th>应用ID</th>
                            <th>日志时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>状态接口</td>
                            <td>中外语言互助</td>
                            <td>ID：920</td>
                            <td>2014-05-29 19:32</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
