<!--{template dev_header}-->
<style>
    #tips p {
        margin-top: 40px;
    }
</style>
<div class="container">
    <div class="mainarea">
        <h3 class="form-name">提交服务</h3>
        <hr>
        <div style="margin-left: 100px;width: 500px;" id="tips">
            <p style="font-size: 25px;font-weight: bold">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                服务提交失败
            </p>
            <p style="font-size: 15px;">应用提交失败,请联系管理员~!。</p>
            <p>
                <a href="developer.php?do=service&op=addservice" class="btn btn-success" role="button">重新提交服务</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="developer.php?do=service&op=servicelist" class="btn btn-success" role="button">查看服务列表</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>
