<!--{template dev_header}-->
<style>
    #tips p {
        margin-top: 40px;
    }
</style>
<div class="container">
    <div class="mainarea">
        <h3 class="form-name">身份验证</h3>
        <hr>
        <div style="margin-left: 100px;width: 300px;" id="tips">
            <p style="font-size: 25px;font-weight: bold">
                <img src="image/success.png" style="width: 50px; height: 50px; margin-right: 5px;">
                验证成功
            </p>
            <p style="font-size: 15px;">您已完成验证，成为开发者的一员了！</p>
            <p><a href="developer.php?do=service" class="btn btn-success" role="button">进入开发者后台</a></p>
        </div>
    </div>
</div>
</body>
</html>
