<div class="col-md-2 table-col text-center" id="sidebar" style="padding-right: 0">
    <div class="list-group">
        <a href="developer.php?do=service&op=addservice"
           class="list-group-item <!--{if $op=='addservice'}-->active<!--{/if}-->">提交服务</a>
        <a href="developer.php?do=service&op=servicelist"
           class="list-group-item <!--{if $op=='servicelist'}-->active<!--{/if}-->">服务列表</a>
        <a href="developer.php?do=service&op=servicestat"
           class="list-group-item <!--{if $op=='servicestat'}-->active<!--{/if}-->">服务数据</a>
    </div>
</div>
