<!DOCTYPE html>
<html>
<head>
    <meta name="renderer" content="webkit">
    <meta http-equiv="content-type" content="text/html; charset=$_SC[charset]"/>
    <meta http-equiv="X-UA-Compatible" content="IE=8"/>
    <title>开发者中心-用户协议</title>
    <link rel="shortcut icon" href="image/logo_title.png"/>
    <link rel="edituri" type="application/rsd+xml" title="rsd" href="xmlrpc.php?rsd=$space[uid]"/>
    <link rel="stylesheet" href="plugin/bootstrap/dist/css/bootstrap.ihome.css"/>
    <script src="plugin/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h3>
        用户协议
    </h3>

    <div>
        <p>用户协议翠苑居委会户口管理系统是由***股份有限公司合作完成。下列协议适用于翠苑居委会户口管理系统的管理员，若您使用翠苑居委会户口管理系统提供的服务，您必须同意此协议。
        </p>

        <p>接受
        </p>

        <p>当您使用翠苑居委会户口管理系统提供的服务时，您知晓并且同意此协议中的条款。 此协议在必要时将进行更新，每次改动都会在中国制造网即刻发布，并立即生效。
        </p>

        <p>如果您拒绝接受新的协议，您必须放弃使用中国制造网提供的服务；若您继续使用中国制造网提供的服务，则表明您接受新的协议。
        </p>

        <p>除非特别声明，某些增强服务的新功能将适用此协议。 此协议只有中国制造网的书面授权人员才可以修改。 用户
        </p>

        <p>翠苑居委会户口管理系统的用户是能够承担相应法律责任的公司或个人。若您不具备此资格，请不要使用翠苑居委会户口管理系统提供的服务。
        </p>

        <p>翠苑居委会户口管理系统要求用户在使用服务时必须遵守相关法律，但对用户使用服务所产生的纠纷不负法律责任。
        </p>

        <p>翠苑居委会户口管理系统有权依据自己的判断随时中断对某一用户的服务。
        </p>

        <p>翠苑居委会户口管理系统的服务将不提供给那些被翠苑居委会户口管理系统临时或永久取消会员资格的公司或个人。 注册条款
        </p>

        <p>若您注册成为翠苑居委会户口管理系统的会员，您必须同意：
        </p>

        <p>申请会员时，您提供真实、准确、即时、完整的注册信息；
        </p>

        <p>维护并及时更新注册信息以保持其真实、准确、即时、完整。若您提供的信息不真实、不准确、不即时、不完整，翠苑居委会户口管理系统有权暂停或终止对您的会员服务。 登录名，密码和安全
        </p>

        <p>在注册过程中，您可自主选择一个登录名和密码，并须对其保密性负责，同时对使用该登录名和密码的所有活动负责。您同意：
        </p>

        <p>对非授权使用您的登录名及密码以及其他破坏安全性的行为立即向翠苑居委会户口管理系统； 确保每次使用翠苑居委会户口管理系统后正确地离开该站点。翠苑居委会户口管理系统对您因没有遵守此协议而造成的损失不负任何法律责任。
            翠苑居委会户口管理系统对所收集信息的声明
        </p>

        <p>如果您希望成为翠苑居委会户口管理系统的会员，您必须注册并提供相应的信息。当您在翠苑居委会户口管理系统注册成为会员时，翠苑居委会户口管理系统需要收集您的姓名、Email等信息。当您浏览翠苑居委会户口管理系统时，服务器会自动收集您的IP地址，此IP地址只被计算机用来向您发送相关的页面。
        </p>

        <p>只有翠苑居委会户口管理系统的会员才可以进行发布商业信息，查看其他会员联系方式等活动。翠苑居委会户口管理系统有权审核发布或删除会员提交的信息。所有的用户对其发布信息的准确性、完整性、即时性、合法性都独立承担所有责任，翠苑居委会户口管理系统会尽可能检查用户提交的信息，但并不能完全保证信息的准确性和合法性，同时也不承担由此引至的任何法律责任。翠苑居委会户口管理系统在任何情况下均不就因本网站、本网站的服务或本协议而产生或与之有关的利润损失或任何特别、间接或后果性的损害（无论以何种方式产生，包括疏忽）承担任何责任。
        </p>
    </div>
</div>
</body>
</html>
