<!--{template dev_header}-->
<style>
    #tips p {
        margin-top: 40px;
    }
</style>
<div class="container">
    <div class="mainarea">
        <h3 class="form-name">提交服务</h3>
        <hr>
        <div style="margin-left: 100px;width: 500px;" id="tips">
            <p style="font-size: 25px;font-weight: bold">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                服务提交成功
            </p>
            <p style="font-size: 15px;">您的服务已经提交成功，管理员会尽快处理您的申请。</p>
            <p>
                <a href="developer.php?do=service&op=addservice" class="btn btn-success" role="button">继续提交服务</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="developer.php?do=service&op=servicelist" class="btn btn-success" role="button">查看服务列表</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>
