<style type="text/css">
<!--
a {
color: #3B5998;text-decoration:none;
}
body, th, td, input, select, textarea, button {
font: 12px/1.5em Verdana, "Lucida Grande", Arial, Helvetica, sans-serif;
}
-->
</style> 
<script type="text/javascript">
function H$(i) {return document.getElementById(i)}
function H$$(c, p) {return p.getElementsByTagName(c)}
var slider = function () {
 function init (o) {
  this.id = o.id;
  this.at = o.auto ? o.auto : 3;
  this.o = 0;
  this.pos();
 }
 init.prototype = {
  pos : function () {
   clearInterval(this.__b);
   this.o = 0;
   var el = H$(this.id), li = H$$('li', el), l = li.length;
   var _t = li[l-1].offsetHeight;
   var cl = li[l-1].cloneNode(true);
   cl.style.opacity = 0; cl.style.filter = 'alpha(opacity=0)';
   el.insertBefore(cl, el.firstChild);
   el.style.top = -_t + 'px';
   this.anim();
  },
  anim : function () {
   var _this = this;
   this.__a = setInterval(function(){_this.animH()}, 20);
  },
  animH : function () {
   var _t = parseInt(H$(this.id).style.top), _this = this;
   if (_t >= -1) {
    clearInterval(this.__a);
    H$(this.id).style.top = 0;
    var list = H$$('li',H$(this.id));
    H$(this.id).removeChild(list[list.length-1]);
    this.__c = setInterval(function(){_this.animO()}, 20);
    //this.auto();
   }else {
    var __t = Math.abs(_t) - Math.ceil(Math.abs(_t)*.07);
    H$(this.id).style.top = -__t + 'px';
   }
  },
  animO : function () {
   this.o += 2;
   if (this.o == 100) {
    clearInterval(this.__c);
    H$$('li',H$(this.id))[0].style.opacity = 1;
    H$$('li',H$(this.id))[0].style.filter = 'alpha(opacity=100)';
    this.auto();
   }else {
    H$$('li',H$(this.id))[0].style.opacity = this.o/100;
    H$$('li',H$(this.id))[0].style.filter = 'alpha(opacity='+this.o+')';
   }
  },
  auto : function () {
   var _this = this;
   this.__b = setInterval(function(){_this.pos()}, this.at*1000);
  }
 }
 return init;
}();
</script>

<div style="width:$width; float:left;padding:0;overflow:hidden;background:white;" id="slider_outer">
<!--[if IE]>
<style type="text/css">
#slider_outer {margin-top:-18px}
</style>
<![endif]-->

	<ul style="margin:0;padding:0;" id="slider">
	<!--{loop $topic $last_topic}-->
		<!--{eval $last_topic = mkfeed($last_topic);}-->
		<li style="padding:3px 5px; float:left;clear:both; overflow:hidden; width:100%; border-top:1px #ccc dotted;">
			<div style="padding:0;float:left;width:48px;height:48px;overflow:hidden;" title="$last_topic[username]"><!--{avatar($last_topic[uid],small)}--></div>
			<div style="padding-left:5px;float:left;width:$text_width;">
				$last_topic[title_template]
				 
				<div class="feed_content">
						
					<!--{if $last_topic['image_1']}-->
					<img src="$last_topic[image_1]" class="summaryimg" />
					<!--{/if}-->
					<!--{if $last_topic['image_2']}-->
					<img src="$last_topic[image_2]" class="summaryimg" />
					<!--{/if}-->
					<!--{if $last_topic['image_3']}-->
					<img src="$last_topic[image_3]" class="summaryimg" />
					<!--{/if}-->
					<!--{if $last_topic['image_4']}-->
					<img src="$last_topic[image_4]" class="summaryimg" />
					<!--{/if}-->
					
					<!--{if $last_topic['body_template']}-->
					<div class="detail"<!--{if $last_topic['image_3']}--> style="clear: both;"<!--{/if}-->>
						$last_topic[body_template]
					</div>
					<!--{/if}-->
					
					<!--{if $last_topic['body_general']}-->
					<div class="quote"><span class="q">$last_topic[body_general]</span></div>
					<!--{/if}-->
					<!--{if empty($_TPL[hidden_time])}-->
						<span class="gray"><!--{date('m-d H:i',$last_topic[dateline],1)}--></span>
					<!--{/if}-->

				</div>
			</div>
			
			<!--{if $last_topic['idtype']=='doid'}-->
			<div id="docomment_$last_topic[id]" style="display:none;"></div>
			<!--{elseif $last_topic['idtype']}-->
			<div id="feedcomment_$last_topic[feedid]" style="display:none;"></div>
			<!--{/if}-->
			
		</li>
	<!--{/loop}-->
	</ul>

</div>
	<script type="text/javascript">
		new slider({id:'slider'})
	</script>
