<!--{if empty($_SGLOBAL['inajax'])}-->
<!DOCTYPE html>
<html>
	<head>
   <meta name="renderer" content="webkit">	
<meta http-equiv="content-type" content="text/html; charset=$_SC[charset]" />
		<meta http-equiv="X-UA-Compatible" content="IE=8" />
     
        <title><!--{if $_TPL['titles']}--><!--{loop $_TPL['titles'] $value}--><!--{if $value}-->$value - <!--{/if}--><!--{/loop}--><!--{/if}--><!--{if $_SN[$space[uid]]}-->{$_SN[$space[uid]]} - <!--{/if}-->$_SCONFIG[sitename]</title>
<link href="plugin/bootstrap/dist/css/bootstrap.ihome.css" rel="stylesheet" type="text/css"/>
<link href="plugin/bootstrap/wrapbootstrap/css/lib/font-awesome.css" type="text/css" rel="stylesheet"/>


<link rel="stylesheet" type="text/css" href="template/default/legacy.css"/>
<link rel="stylesheet" type="text/css" href="template/default/style.css"/>

<link href="plugin/bootstrap/dist/css/popupmenu.css" rel="stylesheet" type="text/css"/>
<style type="text/css">
    @import url(template/default/jqcloud.css);
    <!--{if $_TPL['css']}-->
    @import url(template/default/{$_TPL[css]}.css);
    <!--{/if}-->
    <!--{if !empty($_SGLOBAL['space_css'])}-->
    $_SGLOBAL[space_css]
    <!--{/if}-->
    @import url(plugin/at/jquery.at.css);
    <!--{if !empty($_SGLOBAL['space_diy'])}-->
    @import url(theme/diy/$_SGLOBAL['space_diy']['diy_colors']/style.css);
    <!--{if $_SGLOBAL['space_diy']['bg_enabled'] && !empty($_SGLOBAL['space_diy']['bg'])}-->
    <!--{if $_SGLOBAL['space_diy']['bg_style'] == 1}-->
    body { background: white url("{$_SGLOBAL['space_diy']['bg']}") fixed !important; }
    <!--{else}-->
    body { background: inherit !important; }
    <!--{/if}-->
    <!--{/if}-->
    #bg_pic { background: inherit !important; }



    <!--{/if}-->

    @import url(template/default/jqcloud.css);
    @import url(template/new/style.css);
    @import url(template/default/space.css);
    @import url(plugin/at/jquery.at.css);

</style>
<link rel="shortcut icon" href="image/logo_title.png" />
<link rel="edituri" type="application/rsd+xml" title="rsd" href="xmlrpc.php?rsd=$space[uid]" />
		<script language="javascript" type="text/javascript" src="plugin/bootstrap/html5shiv.min.js"></script>
		<script language="javascript" type="text/javascript" src="plugin/bootstrap/respond.min.js"></script>
        <script src="plugin/bootstrap/jquery-ui-bootstrap/js/jquery-1.8.3.min.js"></script>
        <script language="javascript" type="text/javascript" src="plugin/bootstrap/jquery.lazyload.js"></script>

		<script language="javascript" type="text/javascript" src="source/script_cookie.js"></script>
		<script language="javascript" type="text/javascript" src="source/script_common.js"></script>
		<script language="javascript" type="text/javascript" src="source/script_menu.js"></script>
		<script language="javascript" type="text/javascript" src="source/script_ajax.js"></script>
		<script language="javascript" type="text/javascript" src="source/script_manage.js"></script>

        <!--<script language="javascript" type="text/javascript" src="plugin/at/jquery-1.8.2.min.js"></script>-->
	    <script language="javascript" type="text/javascript" src="source/script_face.js"></script>
	    <script language="javascript" type="text/javascript" src="plugin/at/jquery.caret.js" ></script>
		<script language="javascript" type="text/javascript" src="plugin/at/jquery.at.js"></script>
		<script language="javascript" type="text/javascript" src="plugin/at/jquery.form.js"></script>
		<script language="javascript" type="text/javascript" src="source/jqcloud-1.0.4.min.js"></script>
		<script language="javascript" type="text/javascript" src="plugin/at/at.js"></script>
        <script language="javascript" type="text/javascript" src="source/main.js"></script>
        <script language="javascript" type="text/javascript" src="source/infocard.js"></script>
		<script language="javascript" type="text/javascript" src="plugin/bootstrap/dist/js/bootstrap.min.js"></script>
		
        <!--<script src="plugin/bootstrap/jquery-ui-bootstrap/js/jquery-1.8.3.min.js"></script>-->

		<script type="text/javascript">
			function _ihome_func_wrap_comment(func, classname, formid) {
				var args = Array.prototype.slice.call(arguments, 2);
				return function() {
					var popover = jq("#" + formid).find(classname).data("bs.popover");
					if (popover) {
						if(popover.tip().hasClass("in")) {
							popover.toggle();
						}
					}
					func.apply(null, args);
				};
			}
		</script>
		<script type="text/javascript">
			
<!--{if $_SGLOBAL['space_diy'] }-->
var jq1=jQuery.noConflict();
jq1(document).ready(function(){
		<!--{if $_SGLOBAL['space_diy']['diy_alpha']}-->
		var val=$_SGLOBAL['space_diy']['diy_alpha'];
        if (navigator.userAgent.match(/\bMSIE\b/)&& (!document.documentMode || document.documentMode < 9))   { 
			
		}
             else {
             var str=jq1("#mainareafg").css("background-color");
             if(str==null) {
                 str=jq1("#mainarea").css("background");
             }
             var nstr;
             if(str!=null) {
             if(str[3]!='a')  {
             for (var j=0;j<str.length;j++)   {
             if(str[j]=='(')   {
             start=j;
             for(var i=start;i<str.length;i++)
             {
             if(str[i]==')')
             {
                 end=i;
                 break;
             }
             }
             nstr=str.slice (start,end);
             break;
             }
             }
             }
             else 
             {
                 for (var j=0;j<str.length;j++)
                 {
                     if(str[j]=='(')
                     {
                         start=j;
                         for(var i=start;i<str.length;i++)
                         {
                             if(str[i]==')')
                             {
                                 for(var k=i;k>=0;k--)
                                 {
                                     if(str[k]==',')
                                     {
                                         end=k;
                                         break;
                                     }
                                 }
                                 break;
                             }
                         }
                         nstr=str.slice (start,end);
                         break;
                     }
                 }
             }
             }jq1("#footer").css({"background-color":"rgba(255,255,255,"+val/100+")"});
             jq1("#mainareafg").css({"background-color":"rgba"+nstr+","+val/100+")"});
             jq1("#mainarea").css({"background-color":"rgba"+nstr+","+val/100+")"});
             if(jq1("#main")) {
                 var str=jq1("#main").css("background-color");
                 var nstr;
                 if(str!=null) {
                 if(str[3]!='a')
                 {
                     for (var j=0;j<str.length;j++)
                     {
                         if(str[j]=='(')
                         {
                             start=j;
                             for(var i=start;i<str.length;i++)
                             {
                                 if(str[i]==')')
                                 {
                                     end=i;
                                     break;
                                 }
                             }
                             nstr=str.slice (start,end);
                             break;
                         }
                     }
                 }
                 else 
                 {
                     for (var j=0;j<str.length;j++)
                     {
                         if(str[j]=='(')
                         {
                             start=j;
                             for(var i=start;i<str.length;i++)
                             {
                                 if(str[i]==')')
                                 {
                                     for(var k=i;k>=0;k--)
                                     {
                                         if(str[k]==',')
                                         {
                                             end=k;
                                             break;
                                         }
                                     }
                                     break;
                                 }
                             }
                             nstr=str.slice (start,end);
                             break;
                         }
                     }
                 }
                 jq1("#main").css({"background-color":"rgba"+nstr+","+val/100+")"});
                 val_appsidebar=val/100;
                 nstr_appsidebar=nstr;
             }
             }
             }
<!--{/if}-->
});
<!--{/if}-->     
function searchSubmit()	{
    jq("#head_search").submit()
}
jq(function(){	
        jq("#at_friends").hover(function(){
            jq(this).children("img").attr("src","image/icons/at-icon2.png");
            });
        jq("#at_friends").mouseleave(function(){
            jq(this).children("img").attr("src","image/icons/at-icon.png");
            });
        jq("#face_smell").hover(function(){
            jq(this).children("a").children("img").attr("src","image/icons/statues_face_pressed.png");
            });
        jq("#face_pictor").hover(function(){
            jq(this).children("img").attr("src","image/icons/statues_image_pressed.png");
            });
        jq("#face_smell").mouseleave(function(){
            jq(this).children("a").children("img").attr("src","image/icons/statues_face_normal.png");
            });
        jq("#face_smell").click(function(){
            if(jq(this).hasClass("face_click"))	{
            jq(this).removeClass("face_click");
            }
            else {
            jq(this).addClass("face_click");
            }
            });
        jq("#face_pictor").mouseleave(function(){
                jq(this).children("img").attr("src","image/icons/statues_image_normal.png");
                });
        jq("#face_saybag").click(function(){
                jq(this).children("a").children("div").children("img").attr("src","image/statues_su_normal.png");
                if(jq(this).hasClass("face_click"))	{
                jq(this).removeClass("face_click");
                }
                else {
					jq(this).addClass("face_click");
					}	
                });
		
		
		jq.getJSON("cp.php?ac=public&op=checkpublic", function(json){
			var html = '';
			jq.each(json, function(i,item){
				html += '<li class="publics"><a href="cp.php?ac=changelogin&uhash=$_SGLOBAL[uhash]&utype='+item.type+'&touid='+item.uid+'"><i class="icon-user" style="margin-right:11px"></i>'+item.name+'</a></li>';
			});
			jq("#for-public").before(html);
		});
});
</script>
<script language="javascript" type="text/javascript">
    var jq2=jQuery.noConflict();
    jq2(function(){
        if (sessionStorage.getItem('ad') != 'yes' && $_SGLOBAL[supe_uid]){
            var height = jq2('.ad_for_2years').height();
            jq2('.ad_for_2years').css({marginTop:-(height)});
            jq2('.ad_for_2years').css({display:'block'});
            jq2('#erase').css({display:'block'});
            jq2('.ad_for_2years').animate({marginTop : 0},2000,function(){
                sessionStorage.setItem('ad','yes');
                setTimeout(function(){
                    jq2('.ad_for_2years').animate({marginTop : -(height)},2000);
                    jq2('#erase').css({display:'none'});
                },20000);
            
            });
        }
        jq2('#erase').click(function(){
            jq2('#erase').css({display:'none'});
            jq2('.ad_for_2years').css({display:'none'});
            });
    });
</script>


</head>
<body style="padding-top:55px;">
    <!--{if $_SGLOBAL[supe_uid]}-->
    <img class='ad_for_2years'  style="display:none" src="template/default/image/twoyears_small.gif"/>
    <a href="javascript:void(0)"><img style="display:none;position:fixed;top:90px;right:50px;z-index:10000;width:50px;" id='erase' src="template/default/image/erase.png"/></a>
    <!--{/if}-->
    <!--{if !empty($_SGLOBAL['space_diy'])}-->
    <!--{if $_SGLOBAL['space_diy']['bg_enabled'] && !empty($_SGLOBAL['space_diy']['bg'])}-->
    <!--{if $_SGLOBAL['space_diy']['bg_style'] == 2}-->
    <img src="{$_SGLOBAL['space_diy']['bg']}" style="width:100%;position:fixed;z-index:-999;" />
    <!--{/if}-->
    <!--{/if}-->
    <!--{/if}-->
    <div id="append_parent"></div>
    <div id="ajaxwaitid"></div>
    <!--<!--{if $_SGLOBAL['ad']['header']}--><div id="ad_header"><!--{ad/header}--></div><!--{/if}-->-->
    <!--广告-->
    <!---0_0---------->

    <div id="feedback"><a href="space.php?uid=665&do=mtag&tagid=2985"><img src="image/feedback.png"/></a></div>
    <div id="back" style="display:none;" title="回到顶部"></div>
    <div class="navbar-fixed-top navbar-ihome" style="z-index:9999">
        <div class="container">

            <div class="nav-header">
                <a class="navbar-brand" href="space.php?do=home" style="display: block; height: 35px; width: 155px; padding: 10px;">
                    <img src="template/default/image/logo_navigation.png"/>
                </a>
            </div>
            <ul class="nav navbar-nav pull-left hidden-xs"> 
                <!--{if $_SGLOBAL[supe_uid]}-->
                <li id="index"><a href="space.php?do=home">首页</a></li>
                <li id="home"><a href="space.php">个人主页</a></li>
                <li id="friend"><a href="space.php?do=friend">好友</a></li>
                <li id="app"><a href="plugin.php?pluginid=apps">服务大厅</a></li>
                <!--{eval $Tyear=date("Y",time());}-->
                <!--{if time()<=strtotime("$Tyear-7-10") && time()>=strtotime("$Tyear-5-10")}-->
                <li><a href="space.php?do=mtag&tagid=294">离别寄语</a></li>
                <!--{else}-->
                <!--{if time()<=strtotime("$Tyear-9-11") && time()>=strtotime("$Tyear-7-11")}-->
                <!--{/if}-->
                <!--{/if}-->
                <!--{else}-->
                <li><a href="index.php">登录</a></li>
                <li><a href="do.php?ac=$_SCONFIG[activate_action]">激活</a></li>

                <!--{/if}-->
                <!--{if $_SGLOBAL['appmenu']}-->
                <!--{if $_SGLOBAL['appmenus']}-->
                <li class="dropmenu" id="ucappmenu" onclick="showMenu(this.id)">
                <a href="javascript:;">站内导航</a>
                </li>
                <!--{else}-->
                <li><a target="_blank" href="{$_SGLOBAL[appmenu][url]}" title="{$_SGLOBAL[appmenu][name]}">{$_SGLOBAL[appmenu][name]}</a></li>
                <!--{/if}-->
                <!--{/if}-->
                <!--	<!--{if $_SGLOBAL[supe_uid]}-->
                <li><a href="space.php?do=pm<!--{if !empty($_SGLOBAL['member']['newpm'])}-->&filter=newpm<!--{/if}-->">消息<!--{if !empty($_SGLOBAL['member']['newpm'])}--><font color="yellow">（新）</font><!--{/if}--></a></li>
                t
                <!--{if $_SGLOBAL['member']['allnotenum']}-->
                <li class="notify" id="membernotemenu" onmouseover="showMenu(this.id)">
                <a href="space.php?do=notice">{$_SGLOBAL[member][allnotenum]}个提醒</a></li><!--{/if}-->
                <!--{/if}-->-->
            </ul>
            <ul class="nav navbar-nav hidden-xs info pull-right" style="width:325px;"> 
                <!--{if $_SGLOBAL[supe_uid]}-->
                <li class="hidden-xs hidden-sm" style="padding:13px;padding-left:0;padding-right:0;width:140px">
                <form method="get" id="head_search" action="space.php" >
                    <input id="search_input" class="search form-control input-sm" 
                    name="query" value="找人、搜内容" type="text" onblur="if(this.value=='') {this.value='找人、搜内容';}" onclick="if(this.value=='找人、搜内容'){this.value='';}" 
                    style="border-radius:20px;" frame="void" />
                    <a tabindex="4" onclick="searchSubmit()"  title="搜索按钮" href="javascript:void(0)" style="outline:none;right:10px;" id="searchsubmit_a"><span class="icon-search"></span></a>
                    <!--<input type="image" class="head_search_submit" src="template/default/image/head_search_submit.png" width="25" height="23" value="go" />
                    -->
                    <input type="hidden" name="do" value="search" />
                    <!--{if $do=='doing'}-->
                    <input type="hidden" name="type" value="doing"/>
                    <!--{elseif $do=='blog'}-->
                    <input type="hidden" name="type" value="blog"/>
                    <!--{elseif $do=='album'}-->
                    <input type="hidden" name="type" value="album"/>
                    <!--{elseif $do=='poll'}-->
                    <input type="hidden" name="type" value="poll"/>
                    <!--{elseif $do=='event'}-->
                    <input type="hidden" name="type" value="event"/>
                    <!--{elseif $do=='mtag'}-->
                    <input type="hidden" name="type" value="mtag"/>
                    <!--{/if}-->
                </form>
                </li>
                <!--{eval $member = $_SGLOBAL['member'];}-->
                <li class="dropdown pull-right">
                <a class="dropdown-toggle hidden-xs hidden-sm" style="padding: 9px 5px 10px;" data-toggle="dropdown" href="#">
                    <div style="border-radius:50%;border:2px solid #ffffff;">
                    <!--{if $_SCONFIG[realname]}-->
                    <!--{if $_SGLOBAL[member][namestatus]}-->
                    <!--{avatar($_SGLOBAL[supe_uid],small,False,1)}-->
                    <!--
                    $_SGLOBAL[member][name]
                    -->
                    <!--{else}-->
                    <!--{avatar($_SGLOBAL[supe_uid],small,False,1)}-->
                    <!--{/if}-->

                    <!--{/if}-->
                </div>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="cp.php"><i class="icon-cog" style="margin-right:11px"></i>设置</a></li>
                    <li class="divider" id="for-public"></li>
                    <li><a href="cp.php?ac=common&op=logout&uhash=$_SGLOBAL[uhash]"><i class="icon-signout" style="margin-right:10px"></i>退出</a></li>
                </ul>
                </li>
                <li class="pull-right li_notice">
                <a href="cp.php?ac=friend&op=request"><img src="image/icons/icon-addfriend.png"></img></a>
                <!--{if $member[addfriendnum]}-->
                <span class="news_badge"></span>
                <!--{/if}--> 
                </li>
                <li class="pull-right li_notice">
                <a href="space.php?do=notice"><img src="image/icons/icon-soundnotice.png"></a>
                <!--{if $member[notenum]}--> 
                <span class="news_badge"></span>
                <!--{/if}-->
                </li>
                <li class="pull-right li_notice" style="padding-left:0">
                <a href="space.php?do=pm"><img src="image/icons/icon-message.png"></img></a>
                <!--{if $member[newpm]}-->
                <span class="news_badge"></span>
                <!--{/if}--> 
                </li>
                <!--{/if}-->
            </ul>
        </div>
    </div>
</div>
<!--{if !empty($_SGLOBAL[supe_uid])}-->
<a href="/cp.php?ac=theme&op=diy2"><div id="diy"></div></a>
<!--{/if}-->
<div id="bg_pic">
    <div id="wrap" >
        <!--{if empty($_TPL['nosidebar'])}-->
        <div id="mainbg">
            <div id="main">
                <div id="app_sidebarbox">
                    <!--<div id="app_sidebar" style="min-height:10000000px;">--->
                        <div id="app_sidebar">
                            <!--{if $_SGLOBAL[supe_uid]}-->
                            <div class="header_avatar">
                                <div class="round_avatar">
                                    <!--{avatar($_SGLOBAL[supe_uid],big,False,2)}-->		
                                </div>
                            </div>
                            <div class="header_account" style="margin-bottom:22px;">
                                <!--{if $_SCONFIG[realname] }-->
                                <!--{if $_SGLOBAL[member][namestatus] }-->
                                <div class="Left_mainname" data-name="$_SGLOBAL[member][name]">
                                    $_SGLOBAL[member][name]
                                </div>
                                <!--	&nbsp;<img src="template/default/image/renzheng_pass.png" align="absmiddle" alt="已通过实名认证" title="已通过实名认证">-->
                                <!--{else}-->
                                <div class="Left_mainname" data-name="$_SGLOBAL[supe_username]">
                                    $_SGLOBAL[supe_username]&nbsp;
                                </div><!--<img src="template/defalut/image/renzheng_no.png" align="absmiddle" alt="未通过实名认证" title="未通过实名认证">-->
                                <!--{/if}-->
                                <!--{/if}-->
                            </div>
                            <!--	<!--{if $_SGLOBAL[member][resideprovince]&&$_SGLOBAL[member][residecity]}--><div class="header_resident">$_SGLOBAL[member][resideprovince] $_SGLOBAL[member][residecity]</div><!--{/if}-->
                            <div class="header_score">积分：$_SGLOBAL[member][credit]</div>
                            <div class="header_updatetime">
                                更新 ： <!--{date('Y-m-d',$space[updatetime],1)}-->
                            </div>-->
                            <div class="left_line_about_me"><span class="color_ch"><a>关于我</a></div>
<div class="l_line"></div><div class="r_line"></div>
                            <ul class="app_list" id="default_userapp">
                                <li class="first_show"><img src="image/icons/icon_zuji.png"/><a href="space.php?do=doing">足迹</a><!--<em><a href="space.php?do=doing" class="gray">我踩</a></em>--></li>
                                <li><img src="image/icons/icon_album.png"/><a href="space.php?uid={$_SGLOBAL[supe_uid]}&do=album">相册</a><!--<em><a href="cp.php?ac=upload" class="gray">上传</a></em>--></li>
                                <li><img src="image/icons/icon_article.png"/><a href="space.php?do=blog">日志</a><!--<em><a href="cp.php?ac=blog" class="gray">发表</a></em>--></li>
                                <li><img src="image/icons/icon_vote.png"/><a href="space.php?do=poll">投票</a><!--<em><a href="cp.php?ac=poll" class="gray">发起</a></em>--></li>
                                <li><img src="image/icons/icon_activity.png"/><a href="space.php?do=event">活动</a><!--<em><a href="cp.php?ac=event" class="gray">发起</a></em>--></li>
                                <li><img src="image/icons/icon_group.png"><a href="space.php?do=mtag">群组</a></li>
                                <li><img src="image/icons/icon_share.png"/><a href="space.php?do=share">分享</a></li>
                                <li class="last_show"><img src="image/icons/icon_public.png"/><a href="space.php?do=public">公共主页</a></li>
                            </ul>
                            <div class="left_line_my_act" style="margin-top:-12px;"><span class="color_ch"><a href="javascript:void(0);" title="展开我的应用">我的应用<img class="icon-pull" src="image/icons/icon-pull-down.png"/></a></span></div>
                            <div class="l_line" style="width:30px;"></div><div class="r_line" style="margin-left:119px;"></div>
                            <ul class="app_list topline" id="my_defaultapp" style="display:block;height:322px;">
                                <li class="first_show_next"><img src="image/icons/icon_bt.png"/></img><a href="buaasso.php?m=sso&to=buaabt" target= "_blank" title="去往BT" style="height:auto;">未来花园BT</a></li>
                                <li><img src="image/icons/icon_score.png"/><a href="jifen.php" title="积分商城">积分商城</a></li>
                                 <li><img src="image/icons/icon_wall.png"/><a href="plugin.php?pluginid=wall&ac=list">ｉ北航墙</a></li>
                                <!--{if $usertype == '4' || $usertype == '教师' || $_SGLOBAL['member']['groupid'] ==1}-->
                                <li><img src="image/icons/icon_software.png"/><a href="plugin.php?pluginid=software&usertype=$usertype">软件中心</a></li>
                                <!--{/if}-->
                                <li><img src="image/icons/icon_live.png"/><a href="plugin.php?pluginid=live">活动直播</a></li>
                                <li><img src="image/icons/icon_video.png"/><a href="plugin.php?pluginid=video">视频中心</a></li>
                                <li><img src="image/icons/icon_tao.png"/><a href="http://loogo.buaa.edu.cn" title="路购淘物" target="_blank">路购淘物</a></li>
                                <!--{if $_SCONFIG['my_status']}-->
                                <!--{loop $_SGLOBAL['userapp'] $value}-->
                                <li><img src="http://appicon.manyou.com/icons/$value[appid]"><a href="userapp.php?id=$value[appid]">$value[appname]</a></li>
                                <!--{/loop}-->
                                <!--{/if}-->
                            </ul>

                            <ul id="scrollToShow" class="app_list" style="width:165px;margin-top:-261px;display:none;" id="default_userapp">
                                <li><img src="image/icons/icon_zuji.png"/><a href="space.php?do=doing">足迹</a><!--<em><a href="space.php?do=doing" class="gray">我踩</a></em>--></li>
                                <li><img src="image/icons/icon_album.png"/><a href="space.php?uid={$_SGLOBAL[supe_uid]}&do=album">相册</a><!--<em><a href="cp.php?ac=upload" class="gray">上传</a></em>--></li>
                                <li><img src="image/icons/icon_article.png"/><a href="space.php?do=blog">日志</a><!--<em><a href="cp.php?ac=blog" class="gray">发表</a></em>--></li>
                                <li><img src="image/icons/icon_vote.png"/><a href="space.php?do=poll">投票</a><!--<em><a href="cp.php?ac=poll" class="gray">发起</a></em>--></li>
                                <li><img src="image/icons/icon_activity.png"/><a href="space.php?do=event">活动</a><!--<em><a href="cp.php?ac=event" class="gray">发起</a></em>--></li>
                                <li><img src="image/icons/icon_group.png"/><a href="space.php?do=mtag">群组</a></li>
                                <li><img src="image/icons/icon_share.png"/><a href="space.php?do=share">分享</a></li>
                                <li><img src="image/icons/icon_public.png"/><a href="space.php?do=public">公共主页</a></li>
                            </ul>
                            <div class="showMessage" style="display:none;">
                                <div class="message" style="display:none;">
                                </div>
                            </div>
                            <!--{if $_SCONFIG['my_status']}-->
                            <ul class="app_list topline" style="border:none;" id="my_userapp">
                                <!--{loop $_SGLOBAL['my_menu'] $value}-->
                                <li id="userapp_li_$value[appid]"><img src="http://appicon.manyou.com/icons/$value[appid]"><a href="userapp.php?id=$value[appid]" title="$value[appname]">$value[appname]</a></li>
                                <!--{/loop}-->
                            </ul>
                            <!--{/if}-->
                            <!--{if $_SGLOBAL['my_menu_more']}-->
                            <p class="app_more"><a href="javascript:;" id="a_app_more" onclick="userapp_open();" class="off">展开</a></p>
                            <!--{/if}-->
                            <!--{/if}-->
                        </div>
                    </div>
                    <!--/app_sidebarbox-->
                    <div id="mainarea">
                        <div id="mainareafg" class="clearfix">
                            <!--{if $_SGLOBAL['ad']['contenttop']}--><div id="ad_contenttop"><!--{ad/contenttop}--></div><!--{/if}-->
                            <!--{/if}-->
                            <!--{/if}-->
