<!--{eval $_TPL['titles'] = array('招贤纳士');}-->
<!--{eval $_TPL['nosidebar']=1;}-->
<!--{template header}-->

	<div id="invitation">
		<div class="title"><center>
		以开放的心态，在前进道路上取得更大的进步</center><br>
		<center>以热情的作风，我们和你一起创造美丽的网络家园</center><br></div>
		<div class="vice_title"><center>---- 开放 进取 • 热情 创新 ----</center></div>
		<p>&nbsp;</p>
		&nbsp;&nbsp;&nbsp;&nbsp;经过一段时间的开发调试，北航网络互动社区（http://i.buaa.edu.cn）已基本成形，但社区还须继续完善、持续满足毕业生离校、新生入学、校友校庆、在校师生交互等不同用户的使用需要，以建立一个汇集全体北航人的融洽、温馨的网络家园。现邀请拥有相同志向的你与我们一起共创未来。不论你是精通PHP技术、熟悉andriod或IOS开发、掌握LINUX服务器架构的高手，是熟悉网站运营推广的策划能手，还是了解各类社交网络、具有创意思维的使用熟手，我们都将为你保留位置，共同为所有北航人提供成熟、稳定、贴心的服务。因为我们一直在追求完美，所以我们期待你的加入！
		<p>&nbsp;</p>
		&nbsp;&nbsp;&nbsp;&nbsp;<!-- <font color="red"><strong>炎炎夏日，各类实习职位的凉席等着你抢！</strong></font> -->在我们的团队中你<!-- 至少 -->能收获知识、技能、团队协作能力、创新意识、组织管理能力，以及未来的就业机会…..
		<p>&nbsp;</p>
		<font color="blue"><strong>【PHP开发工程师】</strong></font><font color="red">2名</font><br>
		<strong>实习要求：</strong><br>
		1、*具有一定的PHP编程能力，了解PHP+MySQL架构与应用；<br>
		2、具备完善社区现有功能，解决系统异常的能力；<br>
		3、能对系统新功能进行概要设计与详细设计；<br>
		4、可开发与实施社区新功能；<br>
		5、*对问题具有研究精神；<br>
		6、*具有良好的语言表达能力与团队合作意识，能胜任通过社区、QQ、电话和Email等方式进行沟通；<br>
		7、*有耐心和责任心，工作富有热情。<br>
		<p>&nbsp;</p>
		<font color="blue"><strong>【WEB前端工程师】</strong></font><font color="red">2名</font><br>
		<strong>实习要求：</strong><br>
		1、*具有一定的HTML+JS编程能力，了解或有意学习PHP+AJAX技术与CSS知识；<br>
		2、*对问题具有研究精神；<br>
		3、*具有良好的语言表达能力与团队合作意识，能胜任通过社区、QQ、电话和Email等方式进行沟通；<br>
		4、*有耐心和责任心，工作富有热情。<br>
		<p>&nbsp;</p>
		<font color="blue"><strong>【IOS客户端开发工程师】</strong></font><font color="red">2名</font><br>
		<strong>实习要求：</strong><br>
		1、*具有一定的IOS开发能力，了解整体开发模式；<br>
		2、熟悉主流社交网络的IOS客户端结构；<br>
		3、*对问题具有研究精神；<br>
		4、*具有良好的语言表达能力与团队合作意识，能胜任通过社区、QQ、电话和Email等方式进行沟通；<br>
		5、*有耐心和责任心，工作富有热情。<br>
		<p>&nbsp;</p>
		<font color="blue"><strong>【Andriod客户端开发工程师】</strong></font><font color="red">3名</font><br>
		<strong>实习要求：</strong><br>
		1、*具有一定的Andriod开发能力，了解整体开发模式；<br>
		2、熟悉主流社交网络的Andriod客户端结构；<br>
		3、*对问题具有研究精神；<br>
		4、*具有良好的语言表达能力与团队合作意识，能胜任通过社区、QQ、电话和Email等方式进行沟通；<br>
		5、*有耐心和责任心，工作富有热情；<br>
		6、能力强者可直接升任Andriod客户端开发总监。<br>
		<p>&nbsp;</p>
		<font color="blue"><strong>【LINUX服务器架构师】</strong></font><font color="red">2名</font><br>
		<strong>实习要求：</strong><br>
		1、*具有一定的LINUX知识与实操能力，熟悉PHP+MYSQL环境部署；<br>
		2、对系统防护、网络、存储知识与云计算有一定的了解；<br>
		3、具有LINUX服务器运维管理经验者优先考虑；<br>
		4、*对问题具有研究精神；<br>
		5、*具有良好的语言表达能力与团队合作意识，能胜任通过社区、QQ、电话和Email等方式进行沟通；<br>
		6、*有耐心和责任心，工作富有热情。<br>
		<p>&nbsp;</p>
		<font color="blue"><strong>【信息管理经理】</strong></font><font color="red">2名</font><br>
		<strong>实习要求：</strong><br>
		1、*做事细心，了解国家法规与学校相关政策；<br>
		2、*对社区中的敏感信息进行监督，并协助创意小组记录与反馈用户的需求；<br>
		3、有过版主经验者优先考虑；<br>
		4、*具有良好的语言表达能力与团队合作意识，能胜任通过社区、QQ、电话和Email等方式进行沟通；<br>
		5、*有耐心和责任心，工作富有热情。<br>
		<p>&nbsp;</p>
		<font color="blue"><strong>【社区创新创意总监】</strong></font><font color="red">1名</font><br>
		<strong>实习要求：</strong><br>
		1、*调研社区需求与发展方向；<br>
		2、*跟踪社区的发展热点；<br>
		3、*提出社区建设新功能；<br>
		4、*评估社区的建设成果；<br>
		5、*具有良好的语言表达能力与团队合作意识，能胜任通过社区、QQ、电话和Email等方式进行沟通；<br>
		6、*有耐心和责任心，工作富有热情；<br>
		7、可引荐一名满足相关要求的成员。<br>
		<p>&nbsp;</p>
		<font color="blue"><strong>【社区推广营销总监】</strong></font><font color="red">1名</font><br>
		<strong>实习要求：</strong><br>
		1、*策划、组织活动对社区功能进行推广宣传；<br>
		2、*对社区功能进行应用培训；<br>
		3、*对外进行合作联系；<br>
		4、*具有良好的语言表达能力与团队合作意识，能胜任通过社区、QQ、电话和Email等方式进行沟通；<br>
		5、*有耐心和责任心，工作富有热情。<br>
		6、可引荐一名满足相关要求的成员。<br>
		<p>&nbsp;</p>
		<strong>简历请发送到：ihome@buaa.edu.cn</strong><br>

	</div>

<!--{template footer}-->