
<!--{if !empty($list)}-->
	<ol class="list-unstyled">
<!--{else}-->
	<div>
<!--{/if}-->
<!--{eval $i=0;}-->
<!--{eval $l=count($list);}-->
<!--{loop $list $value}-->
<!--{if $value[uid]}-->
<!--{eval $i=$i+1;}-->
<!--{if $i==$l}-->
<li class="comment_last">
<!--{else}-->
<li> 
<!--{/if}-->
	<div>
	<div style="display:inline-block;width:100%;">
        <a href="space.php?uid=$value[uid]" style="float:left;"><!--{eval echo avatar($value[uid],"small",false,1);}--></a>
        <div class="complain_comment">
        <a href="space.php?uid=$value[uid]">{$_SN[$value[uid]]}</a>: $value[message] 
	        <div style="margin-top:10px;">
	        <span class="doingtime gray"><!--{date('m月d日 H:i',$value[dateline],1)}--></span>
	        <script language="javascript" src="source/comment_goback.js"></script>
	        <a href="javascript:;" onclick="jq1('#do_message_{$value[doid]}_0').css({'color':'#333'});document.getElementById('do_message_{$value[doid]}_0').value='回复@{$_SN[$value[uid]]}({$value[uid]})：'" class="re" style="float:right;">回复</a>
	        </div>
        </div>
	<span id="docomment_form_{$value[doid]}_{$value[id]}"></span>
	</div>
	</div>
</li>
<!--{/if}-->
<!--{/loop}-->
<!--{if !empty($list)}-->
</ol>
<!--{else}-->
</div>
<!--{/if}-->
