<!--{eval $_TPL['titles']=array('诉求');}-->
<!--{template header}-->

<div id="content" style="border-right: none;width:100%;padding-right:40px;">
<h4 class="title" style="margin-left:15px;margin-top:30px;"><img class="pic10"src="image/icons/icon_appeal.png">诉求</h4>
<div class="tabs_header">
    <ul class="tabs">
        <!--{if $_SGLOBAL[member][groupid] == 3}-->
        <li$actives[atme] stype="width:110px;"><a href="space.php?uid=$space[uid]&do=$do&view=atme"><span>我管理的诉求</span></a></li>
        <!--{else}-->
        <li$actives[me] stype="width:110px;"><a href="space.php?uid=$space[uid]&do=$do&view=me"><span>我的诉求</span></a></li>
        <!--{/if}-->
        <li$actives[all] stype="width:110px;"><a href="space.php?uid=$space[uid]&do=$do&view=all"><span>所有人的诉求</span></a></li>
        <li$actives[rank] stype="width:110px;"><a href="space.php?uid=$space[uid]&do=$do&view=rank"><span>部门排行</span></a></li>
    </ul>
</div>
<!--{if $_GET[view] == "rank"}-->
<div id="complain_list">
<div class="h_status" style="margin-left:31px;border-bottom:none;margin-bottom:5px">
<a $submenus[score] href="space.php?do=complain&view={$_GET[view]}&type=score">服务质量</a>
<a $submenus[updownnum] href="space.php?do=complain&view={$_GET[view]}&type=updownnum">评价人数</a>
<a $submenus[aversecs] href="space.php?do=complain&view={$_GET[view]}&type=aversecs">平均响应时间</a>
</div>


<ol style="list-unstyled">
<!--{loop $deps $dep}-->
<li>
<div class="feed_li_avatar" style="float:left !important">
    <div class="round_border head">
        <a href="space.php?uid=$dep[uid]"><!--{avatar($dep[uid],big,false,0,'feed')}--></a>
    </div>
</div>
<div style="float:right">
    <p>服务质量评分:$dep[score]</p>
    <p>评价人数:$dep[updownnum]</p>
    <!--{if $dep[allreplysecs] > 86400}-->
    <p>平均响应时间:<!--{eval echo intval($dep[aversecs]/86400)}-->天</p>
    <!--{elseif $dep[allreplysecs] > 3600}-->
    <p>平均响应时间:<!--{eval echo intval($dep[aversecs]/3600)}-->小时</p>
    <!--{elseif $dep[allreplysecs] > 60}-->
    <p>平均响应时间:<!--{eval echo intval($dep[aversecs]/60)}-->分钟</p>
    <!--{else}-->
    <p>平均响应时间:{$dep[allreplysecs]}秒</p>
    <!--{/if}-->
</div>
<div class="feed_li_inner" style="overflow:hidden;letter-spaceing:0x5px;">
    <span>$_SN[$dep[uid]]</span>
</div>
<div class="clearfix"></div>
</li>
<!--{/loop}-->
</ol>
</div>
<!--{else}-->
<div id="complain_list">
<div class="h_status" style="margin-left:31px;border-bottom:none;margin-bottom:5px">
<a $submenus[all] href="space.php?do=complain&view={$_GET[view]}&type=all">全部诉求</a>
<a $submenus[running] href="space.php?do=complain&view={$_GET[view]}&type=running">处理中</a>
<a $submenus[done] href="space.php?do=complain&view={$_GET[view]}&type=done">已处理</a>
<a $submenus[closed] href="space.php?do=complain&view={$_GET[view]}&type=closed">已关闭</a>
</div>

<!--{if $clist}-->
    <table class="complain_list">
        <thead>
            <tr>
            <td style="width:10%">序号</td>
            <td style="width:15%">诉求人</td>
            <td style="width:20%">诉求内容</td>
            <td style="width:20%">诉求时间</td>
            <td style="width:15%">诉求部门</td>
            <td style="width:10%">状态</td>
            <td style="width:10%"></td>
            </td>
        </thead>
        <tbody>
    <!--{eval $loopIndex = 1;}--> 
    <!--{loop $clist $cp}-->
        <tr>
            <td><a href="space.php?do=complain_item&doid=$cp[doid]">$loopIndex</a></td>
            <td>{$_SN[$cp[uid]]}</td>
            <td>$cp[message]</td>
            <td><!--{date('m月d日 H:i',$cp[addtime])}--></td>
            <td>{$_SN[$cp[curuid]]}</td>
            <!--{if $cp[status] == 0}-->
            <td>处理中</td>
            <!--{elseif $cp[status] == 1}-->
            <td>已处理</td>
            <!--{elseif $cp[status] == 2}-->
            <td>已关闭</td>
            <!--{/if}-->
            
            <td>
            <!--{if $cp[uid] == $_SGLOBAL[supe_uid]}-->
            <a href="cp.php?ac=complain&op=delete&doid=$cp[doid]" id="complain_delete_{$cp[doid]}" onclick="ajaxmenu(event, this.id)" class="re">删除</a>
            <!--{/if}-->
            </td>
        </tr>
    <!--{eval $loopIndex += 1;}--> 
    <!--{/loop}-->
        </tbody>
    </table>
    <div class="page" style="margin-bottom: 10px;">$multi</div>
</div>
<!--{else}-->
<p class="no-content-tip">
<img src="image/icons/no_status.png">
<br>
现在还没有诉求
</p>
<!--{/if}-->
<!--{/if}-->
<!--{template footer}-->
