<!--{eval $_TPL['titles'] = array('日历');}-->

<!--{template header}-->
<div id="calender_event_add" data-calendar_id = "{$calendar_id}" class="popupmenu_popup" style="display:none;width:362px;position:fixed;margin-left:-181px;z-index:100;left:50%;top:30%;">
      <h1>添加事件</h1>
      <a href="javascript:;" id="add_del" class="float_del" title="关闭">关闭</a>
      <div class="popupmenu_inner">
          <form id="calendarAddEvent" name="calendarAddEvent" method="post">
        <div style="padding:20px 30px;">
        <div class="calender_line">
                <label>内容：<input type="text" class="t_input form-control input-sm" style="display:inline;width:250px;" name="eventContent" value="" /></label>
            </div>

            <div class="calender_line">
                <label>地点：<input name="place" value="$calendarInfo['place']" class="t_input form-control input-sm" style="display:inline;width:250px;"></label>
            </div>
            <div class="calender_line">
                <label>时间：
                    <input type="text" name="start_d" readonly style="margin-left:-3px;" class="t_input time-input form-control input-sm" id="start_d_hidden" value=""/>
                </label>
                至
                <label>
                    <input type="text" name="end_d" id="end_d_hidden" readonly class="t_input time-input form-control input-sm" value="" />
                </label>
                <label>
                     <input name="is_send_msg" type="checkbox" onclick="show_send_msg(this);"/>提醒
                 </label>
             </div>
            <div id="msg_div" style="display:none">
                 <label class="radio-inline">
                     <input type="radio" name="is_send_msg_time" checked  id="is_send_msg_1" value="1"/>提前1小时
                 </label>
                 <label class="radio-inline">
                     <input type="radio" name="is_send_msg_time" id="is_send_msg_2" value="2"> 提前2小时
                 </label>
                 <label class="radio-inline">
                     <input type="radio" name="is_send_msg_time" id="is_send_msg_3" value="3" > 提前3小时
                 </label>
             </div>
                          <input id="bg" type="hidden" name="bg" value="school"/>
            <div class="calender_line">
                <label>日历:</label>
                <label style="margin-left:5px;margin-right:10px;" for="calendar_select_school" onclick="select_me('calendar_select_school')"><img class="select_img" onclick="select_me('calendar_select_school')" id="calendar_select_school_box" data-for="calender_select_school" src="image/calender/pink_select_on.png"><input type="radio" style="margin-left:10px;display:none;" checked  name="calendar_select_id" id="calendar_select_school" >课程表</label>
                <label for="calendar_select_person" onclick="select_me('calendar_select_person')"><img class="select_img" onclick="select_me('calendar_select_person')" id="calendar_select_person_box" data-for="calender_select_person" src="image/calender/green_select.png">
                <input type="radio" name="calendar_select_id" style="display:none;" id="calendar_select_person" >个人日历</label></div>
            <div class="calender_line clearfix"> 
                <input type="hidden" name="calendarEventBtn" class="submit btn btn-sm btn-comments" value="true">
                <button name="btnsubmit" type="button" style="float:right" id="calendar_add_save" class="btn btn-sm btn-comments" value="true">保存</button>
                <input type="hidden" name="refer" value="$_SGLOBAL[refer]">
            </div>
        </div>
    
        <input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->"/>
    </div>
    </form>

    </div>	

<script type="text/javascript" src="plugin/fullcalendar/jquery-ui/js/jquery-ui.min.js"></script>

<script language="javascript" type="text/javascript" src="source/script_calendar.js"></script>

<script type="text/javascript" src="plugin/fullcalendar/lib/jquery.min.js"></script>
<script>
var select_me = function(name)  {
    jQuery("#"+name).prop("check",true);
    console.log(name);
    if(jQuery("#"+name+"_box").attr("src") == "image/calender/pink_select.png") {
        jQuery("#"+name+"_box").attr("src","image/calender/pink_select_on.png");
        jQuery("#calendar_select_person_box").attr("src","image/calender/green_select.png");
        jQuery("#bg").attr("value","school");
    }
    else if(jQuery("#"+name+"_box").attr("src") == "image/calender/green_select.png")  {
        jQuery("#"+name+"_box").attr("src","image/calender/green_select_on.png");
        jQuery("#calendar_select_school_box").attr("src","image/calender/pink_select.png");
        jQuery("#bg").attr("value","person");
    }
}
</script>
<script type="text/javascript">
    var j11 = jQuery.noConflict();
</script>
<script type="text/javascript" src="plugin/fullcalendar/lib/moment.min.js"></script>
<script type="text/javascript" src="plugin/fullcalendar/fullcalendar1.min.js"></script>
<script type="text/javascript" src="plugin/fullcalendar/zh-cn.js"></script>
<script type="text/javascript" src="plugin/iCheck/icheck.min.js?v=1.0.2"></script>
<link rel="stylesheet" href="plugin/iCheck/skins/all.css?v=1.0.2">
<link rel="stylesheet" href="plugin/iCheck/skins/flat/red.css">
<link rel="stylesheet" href="plugin/fullcalendar/jquery-ui/css/jquery-ui-light/jquery-ui.min.css"></link>
<link rel="stylesheet" href="plugin/fullcalendar/fullcalendar.min.css">
 
<div class="title title30">
	<div style="padding-top:10px;">
	<h4><img src="image/icons/icon_calendar.png" style="margin-top:-5px;">&nbsp;日历</h4>
</div>
    <!--{if $groupid['groupid'] == 1}-->
    <div style="position:absolute;right:20px;margin-top:-25px;">
        <h5><a href="cp.php?ac=arrangement">发布新安排</a></h5>
    </div>
	<!--{/if}-->


	<div class="btn-group" style="z-index:100;padding-top:5px;">
	    <button id="caldropdown" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width:100px;padding-top:2px;padding-bottom:2px;margin-top:10px;">
	    	 <span class="placeholder">全部</span>
	      <span class="caret"></span>
	    </button>
		
	    <ul class="dropdown-menu" role="menu" style="z-index:100;">
		      <li name="li-cal"><a id="all-filter" href="#all">全部</a></li>
		      <li name="li-cal"><a id="edu-filter" href="#edu">课程表</a></li>
		      <li name="li-cal"><a id="person-filter" href="#person">个人日历</a></li>
		      <li name="li-cal"><a id="school-filter" href="#school">校园日历</a></li>
	    </ul>
	</div>
	
	<div class="btn-group" style="z-index:100;">
		<input type="text" class="search-calendar-input form-control input-sm" style="margin-top:15px;margin-left:10px;height:26px;width:initial;display:inline-block;" placeholder="搜索日历"/>
		<button class="btn-sm btn-comments" id="search-calendar" style="display:inline-block;">搜索</button>
	</div>
 </div>
<style>
    .h_status a {
        color: #777;
        margin-right: 5px;
    }
    #caldropdown .caret {
        float:right;
        margin-top:8px;
    }
    #caldropdown {
        border-radius:3px;
    }
    .h_status .active {
        color: #01B6F9;
    }
    .avatar48 {
        height: 64px;
        width: 64px;
        border-radius: 50%;
        border: 2px solid #fff;
        box-shadow: 3px 5px 4px -2px rgb(220, 220, 220);
    }
    .avatar48 img {
        height: 60px;
        width: 60px;
    }
    .eventColor{
        position: relative;
        border: 1px solid #000;
        cursor: pointer;
        height: 14px;
        margin: 0 2.5px;
        width: 14px;
        vertical-align: top;
        display: inline-block;
    }
    #calendar_select_school_box {
        margin-right:3px;
    }
    .eventColorActive{
        background: url(/image/combined_v46_vr.png);
        background-position: -95px -50px;
        height: 10px;
        width: 10px;
        left: -1px;
        top: -1px;
        margin: 3px;
        overflow: hidden;
        position: relative;
        vertical-align: top;
    }
    .time-input {
        width:95px;
        display:inline;
    }
    hr.fc-widget-header {
        display:none !important;  
		}
	#search-query-box {
		display:none;
		outline:none;	
	}
	#search-query-box span {
		font-size:14px;
	}
</style>
<input id="filter-get" type="hidden" value="{$_GET['filter']}"/>


<div id="content" style="width:initial;padding-left:10px;margin-top: -27px;border-right:none;background: #ffffff;">

</div>

    <script type="text/javascript">
        var clickDate = {};
        var clickDayEvent = null;
        var caDefaultDate = "$showFcDate";
        j11(function () {
            resetCa();
            bindMenuEvent();
        });

        var fc = null;
        var lastClickEventJSEvent = null;
        function initFc(id, middleDate){
            fc = j11(id);
            middleDate ? null : middleDate = j11.fullCalendar.moment();
            var fShowFirstDay = parseInt(middleDate.subtract(2, 'day').format('e'));
            var h1 = parseInt(middleDate.add(7, 'day').format('e'));
            var fHiddenDays = [fShowFirstDay, h1];
            
            var eventUrl = '/cp.php?ac=calendar&op=getCalendarInfo&filter='+j11("#filter-get").val();
            var calendarId = location.search.match(/&id=(\d+)/);
            if(calendarId){
                calendarId = calendarId[1];
                eventUrl += '&calendar_id=' + calendarId;
            }else{
                calendarId = 0;
            }
            fc.fullCalendar({
            	header: {
					left: 'title;',
					center: '',
					right: 'prev,next,today,month,agendaWeek'
				},
                defaultDate : moment(caDefaultDate, 'YYYY-MM-DD'),
                height: 1100,
                contentHeight: 770,
                lang: 'zh-cn',
                defaultView: 'agendaWeek',
                allDaySlot: false,
                axisFormat : 'H:00',
                minTime : '07:00:00',
                maxTime : '22:00:00',
                dragRevertDuration :true,
                editable : true,
                views : {
                    month: {
                        editable : false
                    }
                },
                selectable : true,
                selectHelper : true,
                columnFormat : 'M-D ddd',
                weekends : true,
                firstDay : fShowFirstDay,
                hiddenDays : fHiddenDays,
                unselectCancel : '#calender_event_add',
                events : eventUrl,
                select : function(startDate,endDate,allDay,jsEvent,view) {
                    if(fc.fullCalendar('getView').name == 'agendaWeek') {
                        start = startDate.format('YYYY-MM-DD H:mm:s');
                        end = endDate.format('YYYY-MM-DD H:mm:s');
                        j11("#start_d_hidden").val(start);
                        j11("#end_d_hidden").val(end);
                        j11("#calender_event_add").show();     
                    }
                },
                eventClick : function(calEvent, jsEvent, view){
                    removeNoneMenu();
                    if(fc.fullCalendar('getView').name == 'agendaWeek') {
                        if(calEvent.color == "#75D906" || calEvent.color == "#7515E0")  {
                            var eaId = 'eventID' + calEvent.id;
                            clickDate = {'start' : calEvent.start, 'end' : calEvent.end, 'type' : 'edit'};
                            j11(jsEvent.target).attr('id', eaId);
                            j11(jsEvent.target).attr('href', '/cp.php?ac=calendar&op=showEvent&calendar_id=' + calendarId + '&calendar_info_id=' + calEvent.id);
                            ajaxmenu(jsEvent, eaId);
                            lastClickEventJSEvent = jsEvent;
                        }
                        else {
                            location.href="space.php?do=arrangement&id="+calEvent.id;
                        }
                    }
                },
                eventResize : function(event,dayDelta,minuteDelta,revertFunc,jsEvent,ui,view){
                    j11.post("cp.php?ac=calendar&op=resize&calendar_info_id="+event.id,dayDelta._data,function(data){
                    });        
                },
eventDrop : function(event,dayDelta,minuteDelta,revertFunction,jsEvent,ui,view) {
                console.log(dayDelta._data);
                    j11.post("cp.php?ac=calendar&op=drag&calendar_info_id="+event.id,dayDelta._data,function(data){
                    });
                }           
            });
        }

        function removeNoneMenu(){
            j11('#append_parent>.popupmenu_popup').remove();
        }

        function beforeShowAddEventHtmlA(eaId){
            //j11('#content #' + eaId).remove();//移除添加的定位标签a
            if(!j11('#start_d')){
                setTimeout(beforeShowAddEventHtmlA, 1000);
                return false;
            }

            var sDate = clickDate.start.format('YYYY-MM-DD');
            var eDate = clickDate.end.format('YYYY-MM-DD');
            j11('#start_d').val(sDate);
            j11('#end_d').val(eDate);
            showDateTime(j11('#start_t'), sDate, clickDate.start,'start_t');
            showDateTime(j11('#end_t'), eDate, clickDate.end,'end_t');
        }

        function bindMenuEvent(){
            j11('#append_parent').delegate('.eventColor', 'mouseover', function(){
                j11(this).css('border-color', '#000');
            });
            j11('#append_parent').delegate('.eventColor', 'mouseout', function(){
                j11(this).css('border-color', j11(this).css('background-color'));
            });
            j11('#append_parent').delegate('.eventColor', 'click', function(){
                j11('.eventColorActive').remove();
                j11('.eventColorActiveInput').remove();
                j11(this).append(j11('<div>', {'class' : 'eventColorActive'}));
                j11(this).append(j11('<input>', {'type' : 'hidden', 'value' : j11(this).css('background-color'), 'name' : 'bgcolor', 'class' : 'eventColorActiveInput'}));
            });

            j11('#calendar').delegate(' td', 'click', function(){
                var sDate = j11('#start_d').val();
                var eDate = j11('#end_d').val();
                showDateTime(j11('#start_t'), sDate, clickDate.start);
                showDateTime(j11('#end_t'), eDate, clickDate.end);

                var sUnix = new Number(j11.fullCalendar.moment(sDate, 'YYYY-MM-DD').format('X'));
                var eUnix = new Number(j11.fullCalendar.moment(eDate, 'YYYY-MM-DD').format('X'));
                if (sUnix > eUnix) {
                    j11('#end_d').parent().addClass('has-error');
                } else {
                    j11('#end_d').parent().removeClass('has-error');
                }
            });

            j11('#append_parent').delegate('#start_t', 'change', function(){
                showDateTime(j11('#end_t'), j11('#end_d').val(), j11.fullCalendar.moment(j11('#end_d').val(), 'YYYY-MM-DD'),'end_t');
                var thisTimeStamp = j11(this).val();
                var endSelect = j11('#end_t>option');
                j11.each(endSelect, function(i, n){
                    var n = j11(n);
                    if(n.val() <= thisTimeStamp) n.remove();
					if(parseInt(n.val()) == (parseInt(thisTimeStamp)+2*60*30*1000)) n.attr('selected','selected');
                });
            });

            j11(function(){
                text = j11("#filter-get").val();
                if(text == "all") {
                    text = "全部";
                }
                else if(text == 'edu') {
                    text = '课程表';
                }
                else if(text == 'school') {
                    text='校园日历';
                }
                else if(text == 'person') {
                    text='个人日历';
                }
                else {
                    text = '全部';
                }
                j11("#caldropdown .placeholder").html(text);        
            });
            j11('#cPrev').mouseover(function(){
                j11('#cPrev').addClass('fc-state-hover');
            });
            j11('#cPrev').mouseout(function(){
                j11('#cPrev').removeClass('fc-state-hover');
            });
            j11('#cNext').mouseover(function(){
                j11('#cNext').addClass('fc-state-hover');
            });
            j11('#cNext').mouseout(function(){
                j11('#cNext').removeClass('fc-state-hover');
            });
            j11('#cPrev').click(function(){
                resetCa('-')
            });
            j11('#cNext').click(function(){
                resetCa('+')
            });
        }

        function resetCa(type){
            var timestamp = new Number(j11.fullCalendar.moment(caDefaultDate, 'YYYY-MM-DD').format('X'));
            if(type == '+'){
                timestamp += 86400 * 5;
            }else if(type == '-'){
                timestamp -= 86400 * 5;
            }
            timestamp = j11.fullCalendar.moment(timestamp * 1000);
            j11('#content').html('');
            caDefaultDate = timestamp.format('YYYY-MM-DD');
            j11('#content').fullCalendar('destroy');
            initFc('#content', timestamp);
        }

        function showDateTime(obj, date, selectedTime,str){
            obj.html('');
            if(clickDate.type == 'edit'){
                selectedTime = selectedTime.format('H:m');
            }else{
                selectedTime = null;
            }
            var st = parseInt(j11.fullCalendar.moment(date + ' 7:00', 'YYYY-M-D H:mm').format('X')) * 1000;
            var et = parseInt(j11.fullCalendar.moment(date + ' 22:00', 'YYYY-M-D H:mm').format('X')) * 1000;
            var i = st;
            do{
                var html = j11.fullCalendar.moment(i).format('aHH:mm');
                var op = j11('<option>', {'html' : html, 'value' : i});
                if(selectedTime && selectedTime == j11.fullCalendar.moment(i).format('H:m')){
                    op.attr('selected','selected');
                }
				if(str && str == 'end_t' && i==(st+60*30*1000*2)){
					op.attr('selected','selected');
				}
                obj.append(op);
                i += 60 * 30 * 1000;
            }while(i <= et);
        }

        function showEditEvent(eventID, href){
            var eaID = 'editEventMenu' + eventID;
            j11(lastClickEventJSEvent.target).attr('id', eaID);
            j11(lastClickEventJSEvent.target).attr('href', href);
            ajaxmenu(lastClickEventJSEvent, eaID, 0, 0, 'beforeShowAddEventHtmlA');
        }

        function addEventOK(){
            location.reload();
        }

        function editEventOK(res, a){
            location.reload();name="li-cal"
        }
        function deleteEvent(calendar_id, eventID){
            var url = '/cp.php?ac=calendar&op=deleteEvent';
            j11.getJSON(url, {'calendar_id' : calendar_id, 'calendar_info_id' : eventID}, function(res){
                location.reload();
            });
        }
		function check_ics_file(){
			var file = j11("#ics_file").val();
			var subject = j11("#subject").val();
			if(file.length!=0){
				var ext = file.substr(file.indexOf('.')+1);
				if(ext != 'ics'){
					jq('#ics_error').html("请选择iCalendar格式的文件");
					return false
				}
			}
			return true;
		}
		function show_send_msg(obj){
			  if(obj.checked)	  jq("#msg_div").css('display','block'); 
			  else  jq("#msg_div").css('display','none'); 
		}
		
		
		
        function customDropDown(ele){
            this.dropdown=ele;
            this.placeholder=this.dropdown.find(".placeholder");
            this.options=document.getElementsByName('li-cal');//this.dropdown.find("ul.dropdown-menu > li");
            this.val='';
            this.index=-1;//默认为-1;
            this.initEvents();
        }
        customDropDown.prototype={
            initEvents:function(){
                var obj=this;
                //这个方法可以不写，因为点击事件被Bootstrap本身就捕获了，显示下面下拉列表
                // obj.dropdown.on("click",function(event){
                    // j11(this).toggleClass("active");
                // });
                
                //点击下拉列表的选项
               for(var i=0; i<obj.options.length;i++){
                obj.options[i].addEventListener("click",function(){
                    var opt=j11(this);
                    obj.text=opt.find("a").text();
                    obj.val=opt.attr("value");
                    obj.index=opt.index();
                    obj.placeholder.text(obj.text);
                });
               }
            },
            getText:function(){
                return this.text;
            },
            getValue:function(){
                return this.val;
            },
            getIndex:function(){
                return this.index;
            }
        }
        j11(document).ready(function(){
            var mydropdown=new customDropDown(j11("#caldropdown"));
            if(location.href.indexOf("filter") != -1) {
                url = location.href.substr(0,location.href.indexOf("filter")-1) ;
            }
            else {
                url = location.href;
            }
            j11("#add_del").click(function(){
                j11("#calender_event_add").hide();    

            });
            j11("#calendar_add_save").click(function(){
                j11.ajax({
                    type: "POST",
                    url:"cp.php?ac=calendar&op=addEventDo&calendar_id=$calendar_id" ,
                    data:j11("#calendarAddEvent").serialize(),
                    success:function(data){
                        if(data == "true")  {
                            j11("#calender_event_add").hide();
                            fc.fullCalendar('addEventSource','/cp.php?ac=calendar&op=getCalendarInfo&addtime=new&filter='+j11("#filter-get").val());
                            fc.fullCalendar('unselect');    
                        }
                    }    
                });                   
            });
            j11("#all-filter").attr("href",url+"&filter=all");
            j11("#school-filter").attr("href",url+"&filter=school");
            j11("#edu-filter").attr("href",url+"&filter=edu");
            j11("#person-filter").attr("href",url+"&filter=person");
            j11("#leading-in-file").on("change",function(){
                j11("#ics_upload_form").submit();        
            }); 
            j11("#leading-in").on("click",function(){

                j11(".choose_fun").slideDown();        
            });
            j11(".choose_fun label input").on('click',function(){
                j11("#leading-in-file").click(); 
            });
            j11("#leading-out").on("click",function(){
                j11(".choose_fun_out").slideDown();
				});
			j11("#search-query-box").on("blur",function(){
				j11("#search-query-box").fadeOut();
			});
			j11("#search-calendar").on("click",function(){
				t = j11(".search-calendar-input").val();
				if (!t) {
					return ;
				}
				jQuery.get("space.php?do=calendar&k="+t,function(data){
					
					j11("#search-query-box").html("");
					for(i in data) {
						if(i==5) {
							break;
						}
						console.log(data[i]);

						j11("#search-query-box").append("<div class='search-box'><span style='width:70px;'>"+data[i].type+"<span>&nbsp;<span>"+data[i].start_t+"</span>&nbsp;<span>"+data[i].place+"</span>&nbsp;<span>"+data[i].content+"</span></div>");
					}
				},"json");	
				j11("#search-query-box").fadeIn();
				j11("#search-query-box")[0].focus();
			});
        });
		
	    function post_edit(calendar_info_id,calendar_id) {
            jQuery.ajax({
                type: "POST",
                url:"cp.php?ac=calendar&op=editEvent&calendar_id="+calendar_id+"&calendar_info_id="+calendar_info_id+"&submit=true",
                data:j11("#calendarEditEvent_"+calendar_id).serialize(),
                success:function(data){
                    if(data == 'true')  {
                        hideMenu();            
                        fc.fullCalendar('refetchEvents');    
                    }
                }    
				});

    }

</script>
<style>
    #content {
        min-height:initial;
    }
    .leading-plugin {
        position:relative;
        top:30px;
        margin-left:20px;
    }
    .leading {
        margin-top:10px;
    }
    .leading .btn {
        padding-left:15px;
        padding-right:15px;
    }
    .leading > form >span {
        color:#777;
        margin-left:10px;
    }
    .leading > span {
        color:#777;
        margin-left:10px;
    }
    .choose_fun > label > input {
        margin-right:5px;
    }
    .choose_fun > label {
        margin-right:20px;
        margin-left:15px;
        font-size:14px;
        line-height:24px;
        font-weight:normal;
        cursor:pointer;
    }
    .choose_fun_out > label > input {
        margin-right:5px;
    }
    .choose_fun_out > label {
        margin-right:20px;
        margin-left:15px;
        font-size:14px;
        line-height:24px;
        font-weight:normal;
        cursor:pointer;
    }

    .choose_fun {
        margin-top:10px;
        display:none;
    }
    .choose_fun_out {
        margin-top:10px;
        display:none;
	}
	#search-query-box {
		width:500px;
		left:50%;
		margin-left:-250px;
		min-height:100px;
		padding:20px;
		position:absolute;
		top:15%;
		z-index:9998;
		background:#fff;
		border:1px solid #dcdcdc;
		border-radius:3px;
	}
</style>
<div id="search-query-box" tabindex="1">
		
</div>
<div class="leading-plugin">
    <h4>导入日历</h4>
    <form method="POST" enctype="multipart/form-data" id="ics_upload_form" action="cp.php?ac=calendar&op=leadin" >
    <div class="leading-in leading" style="margin-top:0;">

            <input type="file" style="visibility:hidden" name="leading-in" id="leading-in-file"/>
            <button type="button" id="leading-in" class="btn btn-sm btn-comments">导入日历</button>
            <span>请选择ICS文件</span>

    </div>
    <div class="choose_fun">
        <label><input name="leadin-type" value="edu" type="radio"/>课程表</label>
        <label><input name="leadin-type" value="person" type="radio"/>个人日历</label>
    </div>
    </form>
<!--    <div class="leading-out leading">
        <button id="leading-out" class="btn btn-sm btn-comments">导出日历</button>
        <span>导出的文件格式为日历通用格式ICS文件</span>
    </div>
        <form method="POST" action="cp.php?ac=calendar&op=extract_calendar">
    <div class="choose_fun_out">

        <label><input name="leadout-type-edu" value="edu" type="checkbox"/>课程表</label>
        <label><input name="leadout-type-school" value="school" type="checkbox"/>校园日历</label>
        <label><input name="leadout-type-person" value="person" type="checkbox"/>个人日历</label>
        <br>
        <button style="margin-left:14px;" class="btn btn-sm btn-comments">确定</button>

    </div>
    </form>

</div>-->
<!--{template footer}-->
