<!--{if $complain_msg}-->
<li data-msg="$complain_msg" class="s_clear $value[magic_class]" id="feed_{$value[feedid]}_li" onmouseover="feed_menu($value[feedid],1);" onmouseout="feed_menu($value[feedid],0);">
<!--{else}-->
<li class="s_clear $value[magic_class]" id="feed_{$value[feedid]}_li" onmouseover="feed_menu($value[feedid],1);" onmouseout="feed_menu($value[feedid],0);">
<!--{/if}-->
	<div class="feed_li_avatar info-card" 
		data-provide="info-card" data-uid="$value[uid]">
    	<div class="round_border head">
    		<a href="space.php?uid=$value[uid]">  
        		<!--{avatar($value[uid],big,false,0,'feed')}-->
        	</a>
    	</div>
    	<div class="info-card-inner">
    		<p class="name" style="display: none">
    			<a href='#'></a>
    		</p>
			<p class="duty" style="display: none"></p>
			<p class="edu" style="display: none"></p>
			<p class="department" style="display: none"></p>
			<p style='margin-top: 20px; text-align:center;'>
				<button href='cp.php?ac=pm&uid=$value[uid]' 
						class='btn btn-danger' id='a_pm'
						onclick='ajaxmenu(event,this.id, 1)'>
					<span class='icon-comments'></span>&nbsp;发消息
				</button>
			</p>
			<div class="loading-mask">
				<p class="loading-info">努力加载中...</p>
			</div>
    	</div>
    </div>
    <a href="cp.php?ac=feed&op=menu&feedid=$value[feedid]" class="float_more" id="a_feed_menu_$value[feedid]"  onmouseover="feed_menu($value[feedid],1);" onmouseout="feed_menu($value[feedid],0);" onclick="ajaxmenu(event, this.id)" title="显示更多选项" style="display:none;">菜单</a>

	<div class="feed_li_inner" style="overflow:hidden;letter-spacing:0.5px;" {$value[style]}>
		<!--{if $value[uid] && empty($_TPL[hidden_more])}-->
			<!--{/if}-->
			  <p>$value[title_template]</p>
		<!--{if $value['icon']=='share'}-->
        <!--{if $value['body_general']}-->
        <!--{eval $value['body_general']=stripslashes($value['body_general'])}-->
        <p>$value[body_general]</p>
			<!--{/if}-->
            <div class="share_feedcontent">
            <div class="little_arrow">
                <em class="la_line">◆</em>
                <span class="la_bg">◆</span>
            </div>
		<!--{/if}-->
		<div class="feed_content clearfix">
			<!--{if !$value['image_2']}-->	
			<!--{if $value['image_1'] && !$value['body_template']}-->
			<!-- 图片 -->
			<!--{if strstr($value['image_1'],".thumb.jpg")}-->
            <!--{eval $value['image_1']=substr($value['image_1'],0,strlen($value['image_1'])-10);}-->
            <!--{/if}-->
			<a href="$value[image_1_link]"{$value[target]}><img src="$value[image_1]" class="summaryimg shareImg" /></a>
			<!--{elseif $value['body_template'] && $value['image_1']}-->
            <!--{if strstr($value['image_1'],".thumb.jpg")}-->
            <!--{eval $value['image_1']=substr($value['image_1'],0,strlen($value['image_1'])-10);}-->
            <!--{/if}-->
			<a href="$value[image_1_link]"{$value[target]}><img src="$value[image_1]" style="vertical-align:top;padding-right:5px;max-height:270px;max-width:200px" class="shareImg" /></a>
			<!--{else}-->
            <!--{if $value['icon']=="poll"}-->
            <!--{if !empty($value[body_template])}-->
            <div id="blog_feed" class="detile feed_poll">
                <!--{eval $value[body_template]=poll_style($value[body_template]);}-->
                $value[body_template]

            </div>
            <!--{/if}-->
            <!--{else}-->
            <div id="blog_feed" class="detail"<!--{if $value['image_3']}--> style="clear: both;"<!--{/if}-->>
				$value[body_template]
            </div>
            <!--{/if}-->
            <!--{/if}-->
			<!--{else}-->
			<!--{if $value['image_1']}-->
            <!-- 图片 -->
            <!--{if strstr($value['image_1'],".thumb.jpg")}-->
			<!--{eval $value['image_1']=substr($value['image_1'],0,strlen($value['image_1'])-10);}-->
            <!--{/if}-->
            <div class="thub">
                <a href="$value[image_1_link]"{$value[target]}><img src="<!--{eval echo square_img($value[image_1]);}-->" class="summaryimg1" /></a>
            </div>
			<!--{/if}-->
            <!--{if $value['image_2']}-->         
            <!--{if strstr($value['image_2'],".thumb.jpg")}-->
			<!--{eval $value['image_2']=substr($value['image_2'],0,strlen($value['image_2'])-10);}-->
            <!--{/if}-->
            <div class="thub">
            <a href="$value[image_2_link]"{$value[target]}><img src="<!--{eval echo square_img($value[image_2])}-->" class="summaryimg1" /></a>
            </div>
            <!--{/if}-->
            <!--{if $value['image_3']}-->
            <!--{if strstr($value['image_3'],".thumb.jpg")}-->
            <!--{eval $value['image_3']=substr($value['image_3'],0,strlen($value['image_3'])-10);}-->
            <!--{/if}-->
            <div class="thub">
                <a href="$value[image_3_link]"{$value[target]}><img src="<!--{eval echo square_img($value[image_3])}-->" class="summaryimg1" /></a>
            </div>    
            <!--{/if}-->
            <!--{if $value['image_4']}-->
            <!--{if strstr($value['image_4'],".thumb.jpg")}-->
            <!--{eval $value['image_4']=substr($value['image_4'],0,strlen($value['image_4'])-10);}-->
            <!--{/if}-->
            <div class="thub">
            <a href="$value[image_4_link]"{$value[target]}><img src="<!--{eval echo square_img($value[image_4])}-->" class="summaryimg1" /></a>
            </div>
            <!--{/if}-->
			<!--{/if}-->
			<!--{if $value['body_template']}-->
			<!--{if $value['image_1']&&!$value['image_2']}-->
			<div id="blog_feed" style="display:inline-block;max-width:370px;" class="detail"<!--{if $value['image_3']}--> style="clear: both;"<!--{/if}-->>
				$value[body_template]
			</div>
			<!--{/if}-->
			<!--{/if}-->
						<!--{if $value['body_data']['videourl']}-->	
			<div class="feed_li_video">
				<div class="feed_li_video_desc">
					$value[body_data][desc]
				</div>
				<div class="feed_li_video_pic" style="display:block"> 
					<img <!--{if $value['image_1']}--> src="$value[image_1]" <!--{else}--> src="image/video.png"<!--{/if}--> id="feed_li_pic_$value[id]" /> 
					<span class="feed_li_video_pic_play"></span>
				</div> 
				<div class="feed_li_video_video" id="feed_li_video_video_$value[id]" style="display:none">
					<div class="feed_li_video_hidden" >
						<span class="floatleft" ><a href="#" >收起</a></span><!--<span class="pipe">|</span><a href="##">变量AD</a></span>-->
					</div>
				        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="440px" height="330px">
					<param name="movie" value="ihome.swf">
					<param name="quality" value="high">
					<param name="allowFullScreen" value="true">
					<param name="FlashVars" value="vcastr_file=$value[body_data][videourl]&LogoText=ihome&TextColor=0x0000FF" />
					<embed src="ihome.swf" allowfullscreen="true" flashvars="vcastr_file=$value[body_data][videourl]&LogoText=ihome&TextColor=0x0000FF" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="440px" height="330px">
					</embed>
					</object>
				</div>
				<!--{if $value[body_data][video_comment]}-->
				<div class="quote">
					<span class="q">
					$value[body_data][video_comment]
					</span>
				</div>
				<!--{/if}-->
			</div>
			<script type="text/javascript">
/*				jQuery.noConflict();
				jQuery(function ($) {
					$(".feed_li_video_pic img").click(function() {
						$(this).parent().css("display","none");
						$(this).parent().parent().find(".feed_li_video_video").css("display","block");
					});
					$(".feed_li_video_pic span").click(function() {
						$(this).parent().css("display","none");
						$(this).parent().parent().find(".feed_li_video_video").css("display","block");
					});
					$(".feed_li_video_hidden span a:eq(0)").click(function() {
						$(this).parent().parent().parent().css("display","none");
						$(this).parent().parent().parent().parent().find(".feed_li_video_pic").slideDown(500);
					});
				});
*/
				jQuery.noConflict();
				jQuery(function ($) {
					$(".feed_li_video_pic img").click(function() {
						$(this).parent().css("display","none");
						$(this).parent().parent().find(".feed_li_video_video").css("display","block");
						$("html,body").animate({scrollTop:$(this).parent().parent().find(".feed_li_video_video").offset().top-30},1000);
						$(this).parent().parent().find(".feed_li_video_video param[name=movie]").attr("value","ihome.swf");
						$(this).parent().parent().find(".feed_li_video_video embed").attr("src","ihome.swf");
					});
					$(".feed_li_video_pic span").click(function() {
						$(this).parent().css("display","none");
						$(this).parent().parent().find(".feed_li_video_video").css("display","block");
						$("html,body").animate({scrollTop:$(this).parent().parent().find(".feed_li_video_video").offset().top-30},1000);
						$(this).parent().parent().find(".feed_li_video_video param[name=movie]").attr("value","ihome.swf");
						$(this).parent().parent().find(".feed_li_video_video embed").attr("src","ihome.swf");
					});
					$(".feed_li_video_hidden span a:eq(0)").click(function() {
						$(this).parent().parent().parent().css("display","none");
						$(this).parent().parent().parent().parent().find(".feed_li_video_pic").show();
						$("html,body").animate({scrollTop:$(this).parent().parent().parent().parent().find(".feed_li_video_pic").offset().top-30},800);
						$(this).parent().parent().parent().find("param[name=movie]").attr("value","");
						$(this).parent().parent().parent().find("embed").attr("src","");
					});
				});
			</script>
			<!--{/if}-->
			<!--{if $value['thisapp'] && !empty($value['body_data']['flashvar'])}-->
			<div class="media">
				<img src="image/vd.gif" alt="点击播放" onclick="javascript:showFlash('{$value['body_data']['host']}', '{$value['body_data']['flashvar']}', this, '{$value['feedid']}');" style="cursor:pointer;" />
			</div>
			<!--{elseif $value['thisapp'] && !empty($value['body_data']['musicvar'])}-->
			<div class="media">
				<img src="image/music.gif" alt="点击播放" onclick="javascript:showFlash('music', '{$value['body_data']['musicvar']}', this, '{$value['feedid']}');" style="cursor:pointer;" />
			</div>
			<!--{elseif $value['thisapp'] && !empty($value['body_data']['flashaddr'])}-->
			<div class="media">
				<img src="image/flash.gif" alt="点击查看" onclick="javascript:showFlash('flash', '{$value['body_data']['flashaddr']}', this, '{$value['feedid']}');" style="cursor:pointer;" />
			</div>
			<!--{/if}-->
		</div>
		<!--{if $value['icon']=='share'}-->
		</div>
		<!--{/if}-->
		<div id="reply_content">
		<!--{if empty($_TPL[hidden_time])}-->
		<span class="gray"><!--{date('m月d日 H:i',$value[dateline],1)}--></span>
		<!--{/if}-->
		<!--{if empty($_TPL[hidden_menu])}-->
				<span class="floatright">	
		<!--{if empty($value['image_2'])}-->
			<!--{if $value['canUpvote']}-->
				<a href="javascript:;" onclick="upvote($value[feedid])" id="feed_up_$value[feedid]" style="margin-left:5px;"><img src="image/icons/icon-good.png"/>&nbsp;<!--{if $value['upvotes']>0}-->赞($value['upvotes'])<!--{else}-->赞<!--{/if}--></a>
		        <!--{if $value['idtype']=='doid'||$value[body_data][video_origin]||$value['idtype']=='sid'||in_array($value['idtype'], array('blogid','picid','albumid','sid','pid','eventid','arrangementid'))}-->
		        <span class="pipe">|</span>
		        <!--{/if}-->
			<!--{elseif $value['upvotes']}-->
				<a href="javascript:;" id="feed_up_$value[feedid]" style="margin-left:5px;color:gray;cursor:default;"><img src="image/icons/icon-good.png"/>&nbsp;赞($value['upvotes'])</a>
		        <!--{if $value['idtype']=='doid'||$value[body_data][video_origin]||$value['idtype']=='sid'||in_array($value['idtype'], array('blogid','picid','albumid','sid','pid','eventid','arrangementid'))}-->
		        <span class="pipe">|</span>
		        <!--{/if}-->
			<!--{/if}-->
			<!--{if $value['idtype']=='doid'}-->
				<a href="javascript:;" onclick="docomment_get('docomment_$value[id]', 1);" id="do_a_op_$value[id]"><img src="image/icons/icon-comment.png"/>&nbsp;<!--{if $value['num']>0}-->评论($value['num'])<!--{else}-->评论<!--{/if}--></a>  
				<!--{eval $iscp = isComplainOrNot($value['id'],$_SGLOBAL['db'])}-->     
                <!--{if $value['uid'] != $_SGLOBAL['supe_uid'] && !$iscp}-->
				<span class="pipe">|</span>
				<a href="$value[share_url]&inspace=1" onclick="ajaxmenu(event, this.id, 1)" id="a_share_$value[feedid]" ><img src="image/icons/icon-share.png"/>&nbsp;分享</a>
                <!--else-->
                <!--{/if}-->
			<!--{elseif $value[body_data][video_origin]}-->
				<a href="javascript:;" onclick="feedcomment_get($value[feedid]);" id="feedcomment_a_op_$value[feedid]"><img src="image/icons/icon-comment.png"/>&nbsp;<!--{if $value['num']>0}-->评论($value['num'])<!--{else}-->评论<!--{/if}--></a>
                <!--{if $value['uid'] != $_SGLOBAL['supe_uid']}-->
				<span class="pipe">|</span>
				<a href="$value[share_url]&inspace=1" onclick="ajaxmenu(event, this.id, 1)" id="a_share_$value[feedid]"><img src="image/icons/icon-share.png"/>&nbsp;分享</a>
                <!--else-->
                <!--{/if}-->
			<!--{elseif in_array($value['idtype'], array('blogid','picid','albumid','sid','pid','eventid','arrangementid'))}-->
				<a href="javascript:;" onclick="feedcomment_get($value[feedid]);" id="feedcomment_a_op_$value[feedid]"><img src="image/icons/icon-comment.png"/>&nbsp;<!--{if $value['num']>0}-->评论($value['num'])<!--{else}-->评论<!--{/if}--></a>
				<!--{if $value['idtype']=='sid'}-->
                    <!--{if $value['uid'] != $_SGLOBAL['supe_uid']}-->
                    <span class="pipe">|</span>
                    <a href="$value[share_url]&inspace=1" onclick="ajaxmenu(event, this.id, 1)" id="a_share_$value[feedid]" ><img src="image/icons/icon-share.png"/>&nbsp;分享</a>
                    <!--else-->
                    <!--{/if}-->
				<!--{/if}-->
			<!--{/if}-->
				</span>
		<!--{/if}-->
		<!--{/if}-->
		<!--{if empty($_TPL[hidden_hot]) && $value[hot]}-->
        <!--{if $value['idtype']=='doid'||$value[body_data][video_origin]||$value['idtype']=='sid'||in_array($value['idtype'], array('blogid','picid','albumid','sid','pid','eventid','arrangementid'))||$value['canUpvote']||$value['upvotes']}-->
        <span class="pipe" style="float:right;">|</span>
        <!--{/if}-->
        <a style="float:right;" href="cp.php?ac=feed&feedid=$value[feedid]"><img src="image/icons/icon-hot.png"/>&nbsp;热度$value[hot]</a>
		<!--{/if}-->
		</div>
	</div>
	<!--{if $value['idtype']=='doid'}-->
	<div id="docomment_$value[id]" style="display:none;"></div>
	<!--{elseif $value['idtype']}-->
	<div id="feedcomment_$value[feedid]" style="display:none;"></div>
	<!--{/if}-->
	<!--{if !empty($hiddenfeed_num[$value[icon]])}-->
	<div id="feed_more_$value[feedid]" style="display:none;">
		<ol>
		<!--{loop $hiddenfeed_list[$value[icon]] $appvalue}-->
		<!--{eval $appvalue = mkfeed($appvalue);}-->
		<li>
		$appvalue[title_template]
		<div class="feed_content clearfix" style="overflow:hidden;">
			<!--{if $appvalue['image_1']}-->
			<a href="$appvalue[image_1_link]"{$appvalue[target]}><img src="$appvalue[image_1]" class="summaryimg" /></a>
			<!--{/if}-->
			<!--{if $appvalue['image_2']}-->
			<a href="$appvalue[image_2_link]"{$appvalue[target]}><img src="$appvalue[image_2]" class="summaryimg" /></a>
			<!--{/if}-->
			<!--{if $appvalue['image_3']}-->
			<a href="$appvalue[image_3_link]"{$appvalue[target]}><img src="$appvalue[image_3]" class="summaryimg" /></a>
			<!--{/if}-->
			<!--{if $appvalue['image_4']}-->
			<a href="$appvalue[image_4_link]"{$appvalue[target]}><img src="$appvalue[image_4]" class="summaryimg" /></a>
			<!--{/if}-->
			<!--{if $appvalue['body_template']}-->
			<div class="detail"<!--{if $appvalue['image_3']}--> style="clear: both;"<!--{/if}-->>
				$appvalue[body_template]
			</div>
			<!--{/if}-->
			<!--{if $appvalue['body_general']}-->
			<div class="quote"><span class="q">$appvalue[body_general]</span></div>
			<!--{/if}-->
		</div>
				</li>
		<!--{/loop}-->
		</ol>
	</div>
	<!--{/if}-->
</li>
