<!--{template header}-->
<!--{if !empty($_SGLOBAL[inajax])}-->
<!--{else}-->
<div id="search_vertical" class="tabs_header">
	<ul class="tabs">
        <li><a href="space.php?query={$_GET['query']}&do=search&type=user"><span>好友</span></a></li>
        <li><a href="space.php?query={$_GET['query']}&do=search&type=doing"><span>足迹</span></a></li>
        <li><a href="space.php?query={$_GET['query']}&do=search&type=blog"><span>日志</span></a></li>
        <li><a href="space.php?query={$_GET['query']}&do=search&type=album"><span>相册</span></a></li>
        <li><a href="space.php?query={$_GET['query']}&do=search&type=poll"><span>投票</span></a></li>
        <li class="active"><a href="#"><span>活动</span></a></li>
        <li class="more"><a href="#">更多</a>
        <ul class="more-menu">
            <li style="border-top-left-radius: inherit;border-top-right-radius: inherit"><a href="space.php?query={$_GET['query']}&do=search&type=mtag"><span>群组</span></a></li>
            <li><a href="space.php?query={$_GET['query']}&do=search&type=job"><span>就业互助</span></a></li>
            <li style="border-bottom-left-radius: inherit;border-bottom-right-radius: inherit"><a href="space.php?query={$_GET['query']}&do=search&type=arrangement"><span>校园日历</span></a></li>
        </ul></li>
    </ul>
</div>

<style>
#mainareafg {
    border-left: 1px solid #dcdcdc;
    min-height: 970px;
    padding-left: 20px;
}

#search_vertical {
    margin-left: 0px;
}
li.more .more-menu {
    display: none;
    position: absolute;
    width: 110px;
    right: 74px;
    top: 53px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background: #fff;
    z-index: 2;
}

li.more .more-menu li {
    width: 100%;
}

li.more:hover .more-menu {
    display: block;
}
</style>

<div class="event_list" style="width: 700px; margin-top: 0px;">
<!--{eval

if(!empty($eventlist)) {
    $ok_event_list = array();
    for($i = 0; $i < count($eventlist); $i++) {
        $event = $eventlist[$i];
        if ($event["uid"] != $_SGLOBAL["supe_uid"] && ($event["grade"]==0 || ($event["public"]==0 && ($_GET["view"]!='me' || $_GET["uid"] != $_SGLOBAL["supe_uid"])))) {
            continue;
        }

        array_push($ok_event_list, $event);
    }

    $eventlist = $ok_event_list;
}

}-->

<!--{if !empty($eventlist)}-->
<div style="padding: 0px; color: gray">共找到{$all_item_count}个相关的活动</div>
    <ol class="list-unstyled" >
        <!--{loop $eventlist $key $event}-->

        <!--{if $key == count($eventlist) - 1}-->
        <li style="padding: 10px 0px; margin: 0px; border-bottom: none;">
        <!--{else}-->
        <li style="padding: 10px 0px; margin: 0px;">
        <!--{/if}-->

            <div class="event_icon" style="padding: 3px 0px 0px; margin: 0px 10px 0px 0px; width: 120px; height: auto">
                <a href="space.php?do=event&id=$event[eventid]">
                    <img class="poster_pre" src="$event[pic]" alt="$event[title]" 
                        style="width: 120px; height: 90px; padding: 0px; max-width: none;border: none;" 
                        onerror="this.src='$_SGLOBAL[eventclass][$event[classid]][poster]'">
                </a>
            </div>
            <div class="event_content">
                <div style="padding-bottom: 2px;">
                    <span style="color: gray;">[<!--{$_SGLOBAL[eventclass][$event[classid]][classname]}-->]</span>
                    <a href="space.php?do=event&id=$event[eventid]">$event[title]</a>
                </div>
                <ul style="color: gray;">
                    <li style="padding-bottom: 2px;">
                        <span>活动时间: </span><!--{eval echo sgmdate("m月d日 H:i", $event[starttime])}--> - <!--{eval echo sgmdate("m月d日 H:i", $event[endtime])}-->
                                            </li>
                    <li><span>活动地点:</span>
                        <a href="space.php?uid=$_GET[uid]&do=event&view=$view&type=$type&classid=$_GET[classid]&province=$event[province]&date=$_GET[date]">$event[province]</a>
                        <a href="space.php?uid=$_GET[uid]&do=event&view=$view&type=$type&classid=$_GET[classid]&province=$event[province]&city=$event[city]&date=$_GET[date]">$event[city]</a>
                        $event[location]
                    </li>
                    <li style="padding-bottom: 2px;"><span>发起人: </span> <a href="space.php?uid=$event[uid]">$_SN[$event[uid]]</a></li>
                    <!--{if $fevents[$event[eventid]]}-->
                    <li> style="padding-bottom: 2px;"<span>好友: </span> 
                        <!--{loop $fevents[$event[eventid]] $value}-->
                        <a href="space.php?uid=$value[fuid]">$_SN[$value[fuid]]</a>
                        <!--{if $value[status] == 2}--><span>参加</span>
                        <!--{elseif $value[status] == 3}--><span>组织者</span>
                        <!--{elseif $value[status] == 4}--><span>发起者</span>
                        <!--{else}--><span class="gray">关注</span>
                        <!--{/if}-->
                        &nbsp;
                        <!--{/loop}-->
                    </li>
                    <!--{/if}-->
                    <li style="padding-bottom: 2px;">$event[viewnum]次查看 $event[follownum]人关注</li>
                </ul>
            </div>
            <div class="pull-right" style="color: gray;width: 100px; text-align: center; padding-top: 20px;">
                <!--{if $event[grade] == 0}-->
                    <div>待审核</div>
                <!--{else}-->
                    <!--{if $event[endtime]<$_SGLOBAL[timestamp]}-->
                    <div> 已结束</div>
                    <!--{elseif $event[deadline]<$_SGLOBAL[timestamp]}-->
                    <div> 报名截止</div>
                    <!--{/if}-->						
                <!--{/if}-->
                <div>$event[membernum]人参加</div>
            </div>
        </li>
        <!--{/loop}-->
    </ol>
    <div style="margin: 0px 0px 10px;" class="page">$multi</div>
<!--{else}-->
    <p style="text-align: center; color: gray; margin-top: 75px;">
		<img src="image/icons/no_status.png">
		<br>
		没有相关的活动
	</p>
<!--{/if}-->
</div>
<!--{/if}-->

<!--{template footer}-->
