<!--{eval $_TPL['titles'] = array($arrangement['subject'], '校园日历');}-->
<!--{template header}-->
<script language="javascript" type="text/javascript" src="plugin/at/at.js"></script>

<h4 class="title title30" style="margin-bottom:20px;">校园日历
    <!--{if $_SGLOBAL[refer]}-->
	<div class="r_option">
		<a  href="$_SGLOBAL[refer]" style="line-height:30px;">返回上一页</a>
	</div>
	<!--{/if}-->
</h4>
<!--<div class="tabs_header">
	<ul class="tabs">
		<li style="width:110px;"><a href="space.php?uid=$space[uid]&do=$do&view=all"><span>所有校园日历</span></a></li>
		<li style="width:110px;"<!--{if $arrangement['classid']==1}--> class="active"<!--{/if}-->><a href="space.php?uid=$space[uid]&do=$do&view=schoolcalendar"><span>校历信息</span></a></li>
		<li style="width:110px;"<!--{if $arrangement['classid']==2}--> class="active"<!--{/if}-->><a href="space.php?uid=$space[uid]&do=$do&view=lecture"><span>讲座信息</span></a></li>
		<li style="width:110px;"<!--{if $arrangement['classid']==3}--> class="active"<!--{/if}-->><a href="space.php?uid=$space[uid]&do=$do&view=meeting"><span>会议信息</span></a></li>
		<li style="width:110px;"<!--{if $arrangement['classid']==4}--> class="active"<!--{/if}-->><a href="space.php?uid=$space[uid]&do=$do&view=activity"><span>文体活动</span></a></li>
		
	</ul>
	</div>
    -->
<script type="text/javascript" charset="$_SC[charset]" src="source/script_calendar.js"></script>

<div class="entry" style="padding:0 0 10px;">

	<div class="title">
		<h1 style="margin-top:5px;"id="blog_title" >$arrangement[subject]</h1>
		<span class="gray"><!--{date('Y-m-d H:i',$arrangement[starttime],0)}--></span>&nbsp; <!--{if $arrangement[viewnum]}--><span class="gray">已有 $arrangement[viewnum] 次阅读</span><!--{/if}-->
	</div>


	<div id="blog_article" class="article ">
		<div class="resizeimg">
			<div class="resizeimg2">
			<div class="resizeimg3">
			<div class="resizeimg4">
			<!--{if $_SGLOBAL['ad']['rightside']}-->
			<div style="float: right; padding:5px;"><!--{ad/rightside}--></div>
			<!--{/if}-->
			$arrangement[message]
			</div>
			</div>
			</div>
		</div>
	</div>
</div>

<div style="border-bottom:1px solid #dcdcdc;margin-left:20px;padding:0 0 10px;">
	<div style="text-align: right; padding-top:10px; padding-right:10px;">
		<a href="cp.php?ac=share&type=arrangement&id=$arrangement[arrangementid]" id="a_share" onclick="ajaxmenu(event, this.id, 1)">分享</a>
        <span class="pipe">|</span>
		<!--{if $_SGLOBAL[supe_uid] == $arrangement[uid] || checkperm('manageblog')}-->
		<a href="cp.php?ac=arrangement&arrangementid=$arrangement[arrangementid]&op=edit">编辑</a><span class="pipe">|</span>
		<a href="cp.php?ac=arrangement&arrangementid=$arrangement[arrangementid]&op=delete" id="arrangement_delete_$arrangement[arrangementid]" onclick="ajaxmenu(event, this.id)">删除</a><span class="pipe">|</span>
		<!--{/if}-->
		<a href="cp.php?ac=common&op=report&idtype=arrangementid&id=$arrangement[arrangementid]" id="a_report" onclick="ajaxmenu(event, this.id, 1)">举报</a>
	</div>

</div>
<div style="margin-left:20px;" class="comments" id="div_main_content">
        <div class="click_div">
            <!--{template space_click}-->
        </div>
		<h4 style="margin-top:10px;margin-bottom:10px;">
            评论
        </h4>
		<form id="quickcommentform_{$id}" name="quickcommentform_{$id}" action="cp.php?ac=comment" method="post" class="quickpost">
            <script src="source/face.js"></script>
                        <textarea id="comment_message" style="height:100px;" class="form-control t_input" onkeydown="ctrlEnter(event, 'commentsubmit_btn');" name="message" onfocus="at()"></textarea>
                        <a class="drop_face comment_face"><div></div></a>
                        <div class="drop_face_menu" data-target="comment_message"></div>
						<input type="hidden" name="refer" value="space.php?uid=$arrangement[uid]&do=$do&id=$id" />
						<input type="hidden" name="id" value="$id">
						<input type="hidden" name="idtype" value="arrangementid">
						<input type="hidden" class="json_friend" id="json_friend" value="$_SGLOBAL[supe_uid]" />
						<input type="hidden" class="friendurl_r" id="friendurl_r" value="$friendurl_r" />
                        <input type="hidden" id="comment_prepend"/>
                        <input type="hidden" name="commentsubmit" value="true" />
						<input type="button" id="commentsubmit_btn" name="commentsubmit_btn" class="submit btn btn-comments" value="评论" onclick="ajaxpost('quickcommentform_{$id}', 'comment_add')" style="margin-left:5px;"/>
		<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" /></form>
    <style>
        .info_comment {
            width:91%;
        }
        #comment_ul li {
            border-bottom:1px solid #dcdcdc;
        }
    </style>
    <script>
        jQuery(function(){
            jQuery("#comment_ul").children(".comment_last").last().css({"border":"none"});
        });
    </script>
    <div class="comments_list" style="margin-top:20px;" id="comment">
			<!--{if $cid}-->
			<div class="notice">
				当前只显示与你操作相关的单个评论，<a href="space.php?uid=$arrangement[uid]&do=arrangement&id=$arrangement[arrangementid]">点击此处查看全部评论</a>
			</div>
			<!--{/if}-->
			<ul id="comment_ul">
			<!--{loop $list $value}-->
				<!--{template space_comment_li}-->
			<!--{/loop}-->
			</ul>
		</div>
		<div class="page">$multi</div>

	</div>
</div>
<!--{template footer}-->
