
<!--{eval $_TPL['titles'] = array('足迹');}-->
<!--{template header}-->
<style>
.no-content-tip {
	text-align: center;
	margin-top: 75px;
	color: #888;
}
.doing_list li:last-child {
    border-bottom:none;
}
.doing_list ol li {
    padding: 10px 0 10px 10px;
}
.feed_li_inner {
    width:463px;
}
.sub_doing {
    width:457px;
}
</style>
<!--{if !empty($_SGLOBAL[inajax])}-->
	<div id="space_doing">
		<!--
		<h3 class="feed_header">
			<a href="space.php?do=doing&view=me" class="r_option" target="_blank">一句话足迹</a>
			足迹(共 $count 条)
		</h3>
		<brpx 0 10px 10px>
        -->
		<!--{if $dolist}-->
		<div class="doing_list">
			<ol>
			<!--{loop $dolist $dv}-->
			<!--{eval $doid = $dv[doid];}-->
            <li id="dl{$doid}" class="s_clear">
                <div class="feed_li_avatar" style="float:left !important">
                    <div class="round_border head">
                        <a href="space.php?uid=$value[uid]"><!--{avatar($dv[uid],big,false,0,'feed')}--></a>
                     </div>
                </div>    
                <div class="feed_li_inner" style="overflow:hidden;letter-spacing:0.5px;">
                    <a href="space.php?uid=$dv[uid]">{$_SN[$dv[uid]]}</a>: <span>$dv[message]</span>
                    <div class="feed_content clearfix">
                        <!--{if $dv['image_1'] && !$dv['body_template']}-->
                        <!--{eval $dv['image_1']=substr($dv['image_1'],0,strlen($dv['image_1'])-10);}-->
                        <a href="$dv[image_1_link]"{$dv[target]}><img src="$dv[image_1]" class="summaryimg shareImg" /></a>
                        <!--{elseif $dv['body_template'] && $dv['image_1']}-->
                        <!--{if strstr($value['image_1'],".thumb.jpg")}-->
                        <!--{eval $dv['image_1']=substr($dv['image_1'],0,strlen($dv['image_1'])-10);}-->
                        <!--{/if}-->
                        <!--{/if}-->
                    </div>
                    <div id="reply_content">
                        <span class="gray"><!--{date('m月d日 H:i',$dv[dateline],1)}--></span>
                        <span class="floatright">
                            <!--{if $dv[uid]==$_SGLOBAL[supe_uid]}-->
                            <a href="cp.php?ac=doing&op=delete&doid=$doid&id=$dv[id]" id="doing_delete_{$doid}_{$dv[id]}" onclick="ajaxmenu(event, this.id)" class="re">删除</a> 
                            <span class="pipe">|</span>
                            <!--{elseif !$dv[isComplain]}-->
                            <a href="cp.php?ac=share&type=doing&id=$doid&inspace=1" id="doing_share_{$doid}_{$dv[id]}" onclick="ajaxmenu(event, this.id)" ><img src="image/icons/icon-share.png"/>&nbsp;分享</a>
                            <span class="pipe">|</span>
                            <!--{/if}-->
                            <a href="javascript:;" id="do_a_op_$dv[id]" onclick="docomment_form($doid,0)"><img src="image/icons/icon-comment.png"/>&nbsp;<!--{if $dv['replynum']>0}-->评论($dv['replynum'])<!--{else}-->评论<!--{/if}--></a>
                            <!--{if $dv[uid]!=$_SGLOBAL[supe_uid]}-->
                            <span class="pipe">|</span>
                            <a href="cp.php?ac=common&op=report&idtype=doid&uid=$dv[uid]&id=$dv[doid]" id="a_report_doit_$dv[doid]" onclick="ajaxmenu(event, this.id, 1)"><img style="margin-bottom:2px;"src="image/icons/icon-report.png"/>&nbsp;举报</a>
                            <!--{/if}-->
                            <!--{if $dv[isComplain]}-->
                            <span class="pipe">|</span>
                            <a href="space.php?do=complain_item&doid=$dv[doid]" id="a_view_doit_$dv[doid]"><img style="margin-bottom:2px;"src="image/icons/icon-appeal.png">&nbsp;详情</a>
                            <!--{/if}-->
                        </span>
                    </div>
                </div>
            <!--{eval $list = $clist[$doid];}-->
                <div class="sub_doing fcomment do_document " id="docomment_$doid"<!--{if !$list}--><!--{/if}--> style="display:none;left:81px;">
                    <span id="docomment_form_{$doid}_0"></span>
                    <!--{eval $isComplain = $dv[isComplain]}-->
                    <!--{template space_doing_li_index}-->
                </div>
            </li>
			<!--{/loop}-->
			</ol>
			<div class="page" >$multi</div>
		</div>
		<!--{else}-->
        <p class="no-content-tip">
        <img src="image/icons/no_status.png">
        <br>
        现在还没有足迹
        </p>
		<!--{/if}-->
	</div><br>
<!--{else}-->
<!--{if $space[self]}-->
<div id="content" style="border-right: none;">
<h4 class="title" style="margin-left:15px;margin-top:30px;"><img class="pic10"src="image/icons/icon_zuji.png">足迹</h4>
<div class="tabs_header">
	<ul class="tabs">
		<!--{if $space[friendnum]}--><li$actives[we] style="width:110px;"><a href="space.php?uid=$space[uid]&do=$do&view=we"><span>最新好友足迹</span></a></li><!--{/if}-->
		<li$actives[all] style="width:110px;"><a href="space.php?uid=$space[uid]&do=$do&view=all"><span>大家的足迹</span></a></li>
		<li$actives[me] style="width:110px;"><a href="space.php?uid=$space[uid]&do=$do&view=me"><span>我的足迹</span></a></li>
		<!--<li$actives[mood] style="width:110px;"><a href="space.php?uid=$space[uid]&do=mood"><span>同心情的朋友</span></a></li>-->
	</ul>
</div>
<!--{else}-->
<!--{eval 
	$_TPL['spacetitle'] = "足迹";
	$_TPL['spacemenus'][] = "<a href=\"space.php?uid=$space[uid]&do=doing&view=me\">TA的所有足迹</a>";
}-->
<!--{template space_menu}-->
<div class="h_status">按照发布时间排序</div>
<!--{/if}-->
	<!--{if $space[self]}-->
	<!--{/if}-->
	<!--{if $dolist}-->
	<div class="doing_list">
		<ol>
		<!--{loop $dolist $dv}-->
		<!--{eval $doid = $dv[doid];}-->
            <li id="dl{$doid}" class="s_clear">
                <div class="feed_li_avatar" style="float:left !important">
                    <div class="round_border head">
                        <a href="space.php?uid=$value[uid]"><!--{avatar($dv[uid],big,false,0,'feed')}--></a>
                     </div>
                </div>    
                <div class="feed_li_inner" style="overflow:hidden;letter-spacing:0.5px;">
                    <a href="space.php?uid=$dv[uid]">{$_SN[$dv[uid]]}</a>: <span>$dv[message]</span>
                    <div class="feed_content clearfix">
                        <!--{if $dv['image_1'] && !$dv['body_template']}-->
                        <!--{eval $dv['image_1']=substr($dv['image_1'],0,strlen($dv['image_1'])-10);}-->
                        <a href="$dv[image_1_link]"{$dv[target]}><img src="$dv[image_1]" class="summaryimg shareImg" /></a>
                        <!--{elseif $dv['body_template'] && $dv['image_1']}-->
                        <!--{if strstr($value['image_1'],".thumb.jpg")}-->
                        <!--{eval $dv['image_1']=substr($dv['image_1'],0,strlen($dv['image_1'])-10);}-->
                        <!--{/if}-->
                        <!--{/if}-->
                    </div>
                    <div id="reply_content">
                        <span class="gray"><!--{date('m月d日 H:i',$dv[dateline],1)}--></span>
                        <span class="floatright">
                            <!--{if $dv[uid]==$_SGLOBAL[supe_uid]}--> 
                            <!--{if !$dv[isComplain]}-->
                            <a href="cp.php?ac=doing&op=delete&doid=$doid&id=$dv[id]" id="doing_delete_{$doid}_{$dv[id]}" onclick="ajaxmenu(event, this.id)" class="re">删除</a> 
                            <span class="pipe">|</span>
                            <!--{/if}-->
                            <!--{elseif !$dv[isComplain]}-->
                            <a href="javascript:void(0)" onclick="social_share($doid)" class="social_share"><img src="image/icons/icon-share.png"/>&nbsp;分享</a>
                            <span class="pipe">|</span>
                            <!--{eval $bdContent = strip_tags($_SN[$dv[uid]].':'.$dv[message])}-->
                            <!--{eval $bdUrl = '/space.php?do=doing&doid='.$doid}-->
                            <div id="bdshare_content_$doid" data-content="$bdContent" data-url="$bdUrl" style="display:none"></div>
                            <div id="a_share_group_$doid"  class="bdsharebuttonbox a_share_group" data-tag="share_1" style="display:none;position:absolute;background:#fff;border:1px solid #dcdcdc;border-radius:3px;padding:0 5px;">
                                <div><a href="cp.php?ac=share&type=doing&id=$doid&inspace=1" onclick="ajaxmenu(event, this.id, 1)" id="doing_share_{$doid}_{$dv[id]}" style="background:none;padding:0;"><img src="image/icons/icon-share.png"/>&nbsp;站内分享</a></div>
                                <div><a class="bds_qzone">QQ空间</a></div>
                                <div><a class="bds_sqq" data-cmd="sqq">QQ好友</a></div>
                                <div><a class="bds_weixin" data-cmd="weixin">微信</a></div>
                                <div><a class="bds_tsina" data-cmd="tsina">新浪微博</a></div>
                                <div><a class="bds_renren">人人</a></div>
                                <div><a class="bds_tqq" data-cmd="tqq">腾讯微博</a></div>
                            </div>
                            <!--{/if}-->
                            <a href="javascript:;" onclick="docomment_form($doid, 0);" id="do_a_op_$dv[id]"><img src="image/icons/icon-comment.png"/>&nbsp;<!--{if $dv['replynum']>0}-->评论($dv['replynum'])<!--{else}-->评论<!--{/if}--></a>
                            <!--{if $dv[uid]!=$_SGLOBAL[supe_uid]}-->
                            <span class="pipe">|</span>
                            <a href="cp.php?ac=common&op=report&idtype=doid&uid=$dv[uid]&id=$dv[doid]" id="a_report_doit_$dv[doid]" onclick="ajaxmenu(event, this.id, 1)"><img style="margin-bottom:2px;"src="image/icons/icon-report.png"/>&nbsp;举报</a>
                            <!--{/if}-->
                            <!--{if $dv[isComplain]}-->
                            <span class="pipe">|</span>
                            <a href="space.php?do=complain_item&doid=$dv[doid]" id="a_view_doit_$dv[doid]"><img style="margin-bottom:2px;"src="image/icons/icon-appeal.png">&nbsp;详情</a>
                            <!--{/if}-->
                        </span>
                    </div>
                </div>
            <!--{eval $list = $clist[$doid];}-->
                <div class="sub_doing fcomment do_document " id="docomment_$doid"<!--{if !$list}--><!--{/if}--> style="display:none;left:81px;">
                    <span id="docomment_form_{$doid}_0"></span>
                    <!--{eval $isComplain = $dv[isComplain]}-->
                    <!--{template space_doing_li_index}-->
                </div>
            </li>
		<!--{/loop}-->
		</ol>
        <script>
            jQuery(function(){
                jQuery(document).click(function(e){
                    if(jQuery(e.target).is('.a_share_group'))return;
                    if(jQuery(e.target).is('.social_share'))return;
                    jQuery('.a_share_group').hide();
                });
            });
            function social_share(id){
                jQuery('.a_share_group').hide();
                jQuery('#a_share_group_'+id).show();
                
                window._bd_share_main = undefined;
                var bdUrl = jQuery('#bdshare_content_'+id).data('url');
                var bdContent = jQuery('#bdshare_content_'+id).data('content');
                var temp = /(.*?)\s*(?:：|:)\s*(.*)/.exec(bdContent);
                bdContent = temp[2] + ' - ' + temp[1];
                window._bd_share_config = {
                    common : {
                        bdText : bdContent + ' - 北航ihome',
                        bdDesc : bdContent + ' - 北航ihome',
                        bdUrl : location.origin + bdUrl,
                        bdSign : 'off'
                    },
                    share : [{
                        "bdSize" : 16
                    }]
                };
                bdContent = encodeURIComponent(bdContent);
                jQuery('#a_share_group_'+id+' .bds_renren').click(function(){
                    var baseUrl = 'http://widget.renren.com/dialog/share?';
                    baseUrl += 'resourceUrl=' + encodeURIComponent(location.origin + bdUrl);
                    baseUrl += '&srcUrl='+ encodeURIComponent(location.origin + bdUrl);
                    baseUrl += '&pic='+encodeURIComponent(location.origin + '/image/share_logo.jpg');
                    baseUrl += '&title='+bdContent + ' - 北航ihome';
                    baseUrl += '&description='+bdContent + ' - 北航ihome';

                    window.open(baseUrl);
                });
                jQuery('#a_share_group_'+id+' .bds_qzone').click(function(){
                    var baseUrl = 'http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?';
                    baseUrl += 'url=' + encodeURIComponent(location.origin + bdUrl);
                    baseUrl += '&summary='+bdContent + ' - 北航ihome';
                    baseUrl += '&title='+bdContent + ' - 北航ihome';
                    baseUrl += '&site='+encodeURIComponent(location.origin + bdUrl);

                    window.open(baseUrl);
                });
                with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
            }
        </script>
		<div class="page" style="margin-bottom: 10px;">$multi</div>
	</div>
	<!--{else}-->
    <p class="no-content-tip">
    <img src="image/icons/no_status.png">
    <br>
    现在还没有足迹
    </p>
	<!--{/if}-->
</div>
<!--{/if}-->
<!--{template footer}-->
