<!--{template header}-->
<!--{if !empty($_SGLOBAL[inajax])}-->
<!--{else}-->
<div class="tabs_header">
	<ul class="tabs">
        <li><a href="space.php?query={$_GET['query']}&do=search&type=user"><span>好友</span></a></li>
        <li class="active"><a href="#"><span>足迹</span></a></li>
        <li><a href="space.php?query={$_GET['query']}&do=search&type=blog"><span>日志</span></a></li>
        <li><a href="space.php?query={$_GET['query']}&do=search&type=album"><span>相册</span></a></li>
        <li><a href="space.php?query={$_GET['query']}&do=search&type=poll"><span>投票</span></a></li>
        <li><a href="space.php?query={$_GET['query']}&do=search&type=event"><span>活动</span></a></li>
        <li><a href="space.php?query={$_GET['query']}&do=search&type=mtag"><span>群组</span></a></li>
    </ul>
</div>
<!--{if $dolist}-->
<div class="c_form">共找到{$all_item_count}个相关的状态</div>
<div class="doing_list">
    <ol>
    <!--{loop $dolist $dv}-->
    <!--{eval $doid = $dv[doid];}-->
        <li id="dl{$doid}">
            <div class="avatar48"><a href="space.php?uid=$dv[uid]"><!--{avatar($dv[uid],small)}--></a></div>
            <div class="doing">
                <div class="doingcontent"><a href="space.php?uid=$dv[uid]">{$_SN[$dv[uid]]}</a>: <span>$dv[message]</span>
                <span class="gray">(<!--{date('m-d H:i',$dv[dateline],1)}-->)</span>
                <!--{if $dv[uid]==$_SGLOBAL[supe_uid]}--> <a href="cp.php?ac=doing&op=delete&doid=$doid&id=$dv[id]" id="doing_delete_{$doid}_{$dv[id]}" onclick="ajaxmenu(event, this.id)" class="re gray">删除</a> &nbsp;<!--{/if}-->
                <a href="javascript:;" onclick="docomment_form($doid, 0);">回复</a>
                </div>
                
                <!--{eval $list = $clist[$doid];}-->
                <div class="sub_doing" id="docomment_$doid"<!--{if !$list}--> style="display:none;"<!--{/if}-->>
                    <span id="docomment_form_{$doid}_0"></span>
                    <!--{template space_doing_li}-->
                </div>
                
            </div>
        </li>
    <!--{/loop}-->
    </ol>
    <div class="page">$multi</div>
</div>

<!--{else}-->
	<div class="c_form">还没有相关状态。</div>
<!--{/if}-->


<!--{/if}-->
<!--{template footer}-->
