<!--{eval $_TPL['titles']=array('诉求');}-->
<!--{template header}-->
<!--{if $complain}-->
<div id="content" style="border:none;">
<h4 class="title" style="margin:30px 15px;"><img class="pic10"src="image/icons/icon_appeal.png">诉求详情</h4>
<div class="complain_list">
    <ol>
        <li>
            <div class="feed_li_avatar" style="float:left !important">
                <div class="round_border head">
                    <a href="space.php?uid=$complain[uid]"><!--{avatar($complain[uid],big,false,0,'feed')}--></a>
                </div>
                <div>
                    <a href="space.php?uid=$complain[uid]" style="text-align:center;width:75px;overflow:hidden;display:inline-block;text-overflow:ellipsis;white-space:nowrap;" title="$_SN[$complain[uid]]">$_SN[$complain[uid]]</a>
                </div>
            </div>
            <div class="feed_li_inner bubble arrow_l" style="letter-spaceing:0x5px;">
                <span>$complain[message]</span>
                <div class="feed_content clearfix"></div>
                <div id="reply_content">
                    <span class="gray"><!--{date('m月d日 H:i',$dv[dateline],1)}--></span>
                </div>

                <!--{eval $list = $doclist[$complain[doid]];}-->
                <div class="sub_doing fcomment do_document" id="complain_docomment" style="width:100%;">
                    <form method="post" id="complain_op_form">
                        <div class="complain_op">
                            <script language="javascript" src="source/face.js" charset="utf-8"></script>
                            <!--{if $legalEntity && in_array($legalEntity, $complain[atuid]) && $complain[status][array_search($legalEntity, $complain[atuid])] == 0}-->
                            <textarea name="message" id="complain_op_msg" onkeydown="auto_grow(this)" style="width:93%" onfocus="complain_at('$deps')"></textarea>
                            <a href="javascript:;" class="drop_face comment_face"><div></div></a>
                            <div class="drop_face_menu" data-target="complain_op_msg" style="margin-top:-245px;"></div>
                            <div class="reply pull-right">
                                <span class="forward_tip">提示：<!--{if $complain[relay_times]>=3}-->不可转发<!--{else}-->诉求转发还剩<!--{eval echo 3-$complain[relay_times]}-->次<!--{/if}--></span>
                                <button type="button" id="reply_doing" name="add" value="1">进行中</button>
                                <button type="button" id="reply_done" name="add" value="2">完成</button>
                            </div>
                            <!--{else}-->
                            <textarea name="message" class="t_input" id="complain_op_msg" onkeydown="auto_grow(this)" style="width:80%" onfocus="at()"></textarea>
                            <a href="javascript:;" class="drop_face comment_face"><div></div></a>
                            <div class="drop_face_menu" data-target="complain_op_msg" style="margin-top:-245px;"></div>
                            <div class="comment"><button type="button">评论</button></div>
                            <input type="hidden" class="json_friend" id="json_friend" value="$_SGLOBAL[supe_uid]" />
                            <input type="hidden" class="friendurl_r" id="friendurl_r" value="$friendurl_r" />
                            <!--{/if}-->
                        </div>
                        <input type="hidden" name="addsubmit" value="true" />
                        <input type="hidden" name="doid" value="$doid" />
                        <input type="hidden" name="refer" class="referform" value="$theurl" />
                        <input type="hidden" name="formhash" class="hashform" value="<!--{eval echo formhash();}-->" />
                    </form>
                    <div class="clearfix"></div>
                    <!--{template space_complain_li_index}-->
                </div>
            </div>
            <div class="clearfix"></div>
        </li>
        <script>
            jQuery(function(){
                jQuery("#complain_op_form button").live('click',function(event) {
                    event.preventDefault();

                    var type = jQuery(this).val();
                    var msg = trim(jQuery('#complain_op_msg').val());
                    jQuery('#complain_op_form button').addClass('disabled').attr('disabled','disabled');
                    if (!msg || !trim(msg.replace(/@.*?\(\d+\)/g,''))) {
                        show('say_something');
                    } else if (type && (msg.match(/@.*?\(\d+\)/g)||"").length > 1) {
                        show('relay_too_much');
                    } else if (type && parseInt('$complain[relay_times]')>=3) {
                        show('relay_not_allowed');
                    } else {
                        jQuery.post('cp.php?ac=complain&op=add&doid=$doid', {
                            "type": type,
                            "message": msg,
                            "addsubmit": "true",
                            "formhash": jQuery(".hashform").val(),
                            "refer": jQuery(".referform").val()
                        }, function(data) {
                            switch(data) {
                                case 'do_success':
                                    jQuery.get(location.href, function(data) {
                                        jQuery('#complain_docomment').html(jQuery(data).find('#complain_docomment').html());
                                        jQuery('#sidebarbox').html(jQuery(data).find('#sidebarbox').html());
                                        show('do_success');
                                    });
                                    break;
                                case 'relay_too_much':
                                case 'relay_not_allowed':
                                case 'say_something':
                                case 'error_op':
                                    show(data);
                                    break;
                                default:
                                    show('fail');
                            }
                        });
                    }
                });
            });
            function enableButtons() {
                jQuery('#complain_op_form button').removeClass('disabled').removeAttr('disabled');
            }
            function Message_out(message) {
                jQuery(".message").html(message);
                    jQuery(".showMessage").css({
                        "display":"block"
                    });
                jQuery(".message").css({
                    "display":"block"
                });    
                jQuery(".showMessage").stop().animate({
                        "opacity":"0.4"
                    },700);
                    jQuery(".showMessage").delay(1000).animate({
                        "opacity":"0"
                    },700,function(){
                        jQuery(".showMessage").css({
                            "display":"none" 
                        });
                        jQuery(".message").css({
                            "display":"none"
                        });
                        enableButtons();
                    }); 
            }
            
            function show(msg) {
               if(msg == 'complate') {
                    var message="<img src='/template/default/image/comment_ok.png'></img><div class='comment_text'>评论成功</div>";
                    Message_out(message);
                    return true;
                } else if(msg == 'fail') {
                    var message="<img src='/template/default/image/comment_fail.png'></img><div class='comment_text'>评论失败</div>";
                    Message_out(message);
                    return false;
                } else if (msg == 'say_something') {
                    var message = "<img src='/template/default/image/comment_fail.png'></img><div class='comment_text'>至少说点什么吧</div>";
                    Message_out(message);
                } else if (msg == 'relay_too_much') {
                    var message = "<img src='/template/default/image/comment_fail.png'></img><div class='comment_text'>只能转发一人</div>";
                    Message_out(message);
                } else if (msg == 'relay_not_allowed') {
                    var message = "<img src='/template/default/image/comment_fail.png'></img><div class='comment_text'>转发禁止</div>";
                    Message_out(message);
                } else if (msg == 'error_op') {
                    var message = "<img src='/template/default/image/comment_fail.png'></img><div class='comment_text'>非法操作</div>";
                    Message_out(message);
                } else if (msg == 'do_success') {
                    var message = "<img src='/template/default/image/comment_ok.png'></img><div class='comment_text'>操作成功</div>";
                    Message_out(message);
                }
            }

            function auto_grow(element) {
                element.style.height = '5px';
                element.style.height = (element.scrollHeight)+'px';
            }

            function voteComplainOp(doid,opid,updown) {
                if (updown != 'up' && updown != 'down') {return false;}
                var s = 'cp.php?ac=complain&doid='+doid+'&opid='+opid+'&op='+updown+'&confirm=1';
                var stash = jq('#complain_'+updown+'_'+opid).attr('onclick').replace('vote','unvote');
                jq('#complain_down_'+opid).removeAttr("href").attr('onclick','').unbind('click').css('color','gray');
                jq('#complain_up_'+opid).removeAttr("href").attr('onclick','').unbind('click').css('color','gray');
                jq.get(s,function(data){
                    var count = parseInt(data) || 0;
                    if (count) {
                        var content = jq('#complain_'+updown+'_'+opid).html().replace(/(good|bad)\.png/g,'$1_clicked\.png').replace(/(踩|赞).*/g,'$1('+count+')');
                        jq('#complain_'+updown+'_'+opid).html(content);
                    }
                    jq('#complain_'+updown+'_'+opid).attr('onclick', stash).css({'color':'#01b6f9','cursor':'pointer'});
                });
            }
            function unvoteComplainOp (doid,opid,updown) {
                if (updown != 'up' && updown != 'down') {return false;}
                var downup = updown == 'up' ? 'down' : 'up';
                var s = 'cp.php?ac=complain&doid='+doid+'&opid='+opid+'&op='+updown+'&confirm=1';
                var stash = jq('#complain_'+updown+'_'+opid).attr('onclick').replace('unvote','vote');
                jq('#complain_down_'+opid).removeAttr("href").attr('onclick','').unbind('click').css('color','gray');
                jq('#complain_up_'+opid).removeAttr("href").attr('onclick','').unbind('click').css('color','gray');
                jq.get(s,function(data){
                    var count = parseInt(data) || 0;
                    var temp = count ? '('+count+')' : '';
                    var content = jq('#complain_'+updown+'_'+opid).html().replace(/(good|bad)_clicked\.png/g,'$1\.png').replace(/(踩|赞).*/g,'$1'+temp);
                    jq('#complain_'+updown+'_'+opid).html(content).attr('onclick', stash).css({'color':'#01b6f9','cursor':'pointer'});
                    jq('#complain_'+downup+'_'+opid).attr('onclick', stash.replace(updown,downup)).css({'color':'#01b6f9','cursor':'pointer'});
                });
            }
        </script>
    </ol>
</div>
</div>
<div id="sidebarbox">
    <a href="space.php?do=complain" class="r_option complain_ret" style="margin-top:30px;margin-right:15px;">返回我的诉求列表</a>
    <div class="sidebox" style="border:none;margin-top:88px;">
        <h4 class="title">诉求状态</h4>
        <div class="all_complain_deps">
        <!--{loop $complain[atuname] $atuname}-->
            <div class="complain_dep">
                <p title="$atuname"><!--{eval echo $atuname}--></p>
            </div>
        <!--{/loop}-->
        </div><div class="all_complain_status">
        <!--{if $_SGLOBAL[isdept] == 1}-->
        <!--{eval $doing_text = '未处理'}-->
        <!--{else}-->
        <!--{eval $doing_text = '处理中'}-->
        <!--{/if}-->
        <!--{loop $complain[status] $status}-->
        <!--{if $status == 0}-->
        <div class="complain_status complain_doing">
            <p><!--{eval echo $doing_text}--></p>
        <!--{elseif $status == 1}-->
        <div class="complain_status complain_done">
            <p>已处理</p>
        <!--{elseif $status == 3}-->
        <div class="complain_status complain_done">
            <p>已转发</p>
        <!--{else}-->
        <div class="complain_status complain_closed">
            <p>已关闭</p>
        <!--{/if}-->
        </div>
        <!--{/loop}-->
        </div>
        <div style="clear:both;height: 50px;"></div>
        <h4 class="title">诉求变更历史</h4>
        <div>
            <ol class="list-unstyled">
                <li>
                <p>发起诉求</p>
                <p class="status-time"><!--{date('Y年m月d日 H:i',$dv[dateline],1)}--></p>
                </li>
                <!--{loop $complain_ops $op}-->
                <li>
                    <!--{if $op[optype] == 2}-->
                    <p>回复诉求</p>
                    <!--{elseif $op[optype] == 3}-->
                    <p>转发诉求</p>
                    <!--{elseif $op[optype] == 4}-->
                    <p>继续诉求</p>
                    <!--{elseif $op[optype] == 5}-->
                    <p>重启诉求(点踩)</p>
                    <!--{elseif $op[optype] == 6}-->
                    <!--{if $op[opvalue] == 1}-->
                    <p>关闭诉求(点赞)</p>
                    <!--{elseif $op[opvalue] == 2}-->
                    <p>关闭诉求(超时)</p>
                    <!--{else}-->
                    <p>关闭诉求</p>
                    <!--{/if}-->
                    <!--{else}-->
                    <p>未知动作</p>
                    <!--{/if}-->
                    <p class="status-time"><!--{date('Y年m月d日 H:i',$op[dateline],1)}--></p>

                </li>
                <!--{/loop}-->

            </ol>
        </div>
    </div>
</div>
<!--{else}-->
<p class="no-content-tip">
<img src="image/icons/no_status.png">
<br>
没有找到改诉求，用户可能已将其删除
</p>
<!--{/if}-->
<!--{template footer}-->
