<!--{eval $_TPL['titles'] = array($thread['subject'], $mtag['tagname'], $mtag['title'], '话题');}-->
<!--{template header}-->
<style>
	#mainareafg {
		width:98%;
	}
</style>
<h4 class="title title10" style="margin-left:20px;">
	<!--{if $eventid}-->
    <!--<img src="image/icons/icon_activity.png">活动 - <a href="space.php?do=event&id=$eventid">$event[title]</a>-->
	<img class="pic10"src="image/icons/icon_activity.png">活动 - $event[title]
	<!--{else}-->
	<img class="pic10"src="image/icons/icon_group.png">$mtag[title] - $mtag[tagname]
	<!--{/if}-->
</h4>
    <!--<!--{if $eventid}-->
        <!--{if $event[grade] > 0 && $userevent[status]>=2}-->
    <a href="cp.php?ac=thread&tagid=$mtag[tagid]&eventid=$eventid" style="position:absolute;top:35px;left:50%;margin-left:400px;font-size:14px;">发起新话题</a>
        <!--{/if}-->
    <!--{elseif empty($mtag['ismember']) && $mtag['joinperm'] < 2}-->
    <a href="cp.php?ac=mtag&op=join&tagid=$mtag[tagid]" id="mtag_join_$mtag[tagid]" style="position:absolute;top:35px;left:50%;margin-left:400px;font-size:14px;" onclick="ajaxmenu(event, this.id)">加入该小组</a>
    <!--{elseif $mtag['allowpost']}-->
    <a href="cp.php?ac=thread&tagid=$mtag[tagid]" style="position:absolute;top:35px;left:50%;margin-left:400px;font-size:14px;">发起新话题</a>
    <!--{/if}-->-->
    <!--{if $thread['tagid'] == 2985 && ($_SGLOBAL[supe_uid] == 3 || $_SGLOBAL[supe_uid] == 665)}-->
		<div class="r_option" style="margin-right:0px;margin-top:-33px;">
			<a  href="space.php?do=mtag&tagid=2985">返回上一页</a>
		</div>
    <!--{elseif $_SGLOBAL[refer]}-->
		<div class="r_option" style="margin-right:0px;margin-top:-33px;">
			<a  href="$_SGLOBAL[refer]"}>返回上一页</a>
		</div>
	<!--{/if}-->

<div id="div_post" style="padding-left:20px;">

	<div class="board" style="padding-top:20px;">
		<!--{if $thread[content]}-->
		<div id="post_$thread[content][pid]_li" >

          <ul class="line_list" style="border-bottom:1px solid #dcdcdc;margin-bottom:0">
				<li>
				<table width="85%" style="float:left;">
				<tr>
					<td width="70" valign="top">
						<div class="avatar48">
						<a href="space.php?uid=$thread[uid]"><!--{avatar($thread[uid],small)}--></a>
				        <a href="space.php?uid=$thread[uid]" style="position:relative;top:10px;left:10px;">{$_SN[$thread[uid]]}</a>
						</div>
					</td>
					<td>
						<div class="title">


							<!--{eval $magicegg = ""}-->
							<!--{eval if($thread[magicegg]) for($i=0; $i<$thread[magicegg]; $i++) $magicegg .= '<img src="image/magic/egg/'.mt_rand(1,6).'.gif" />';}-->
							<h4 style="font-size:16px;"<!--{if $thread[magiccolor]}--> class="magiccolor$thread[magiccolor]"<!--{/if}--> >$magicegg $thread[subject]</h4>
							<!--{if $thread[hot]}--><span class="hot"><em>热</em>$thread[hot]</span><!--{/if}-->

							<span style="color:#777;"><!--{date('Y-m-d H:i',$thread[dateline],1)}--></span>


							<!--{if $topic}-->
							<p style="padding:5px 0;">
								<img src="image/app/topic.gif" align="absmiddle">
								<strong>凑个热闹</strong>：<a href="space.php?do=topic&topicid=$topic[topicid]">$topic[subject]</a></p>
							<!--{/if}-->

							<!--{if !$eventid && $thread[eventid] && $event}-->
							<p style="padding:5px 0;"><strong>来自活动</strong>：<a href="space.php?do=event&id=$event[eventid]&view=thread">$event[title]</a></p>
							<!--{/if}-->
						</div>

						<div class="detail" id="detail_0">
							<!--{if $_SGLOBAL['ad']['rightside']}-->
							<div style="float: right; padding:5px;"><!--{ad/rightside}--></div>
							<!--{/if}-->
							$thread[content][message]
							<!--{if $thread[content][pic]}--><div><a href="$thread[content][pic]" target="_blank"><img src="$thread[content][pic]" alt="" class="resizeimg" /></a></div><!--{/if}-->

						</div>

					</td>
				</tr>
			</table>

			<!--{if $thread['tagid'] == 2985 && ($_SGLOBAL[supe_uid] == 3 || $_SGLOBAL[supe_uid] == 665)}-->
			<form name="feedback_form" id="feedback_form" method="post" action="cp.php?uid=$thread['uid']&ac=thread<!--{if $thread['tid']}-->&tid=$thread['tid']&op=toggle<!--{/if}-->">
				<!--{if $thread[solved]}--><span id="solved_feedback" onclick="$('feedback_form').submit()" onmouseover="this.innerHTML='标记为未解决'" onmouseout="this.innerHTML='已解决'" style="float:right;">已解决</span><!--{else}--><span id="unsolved_feedback" onclick="$('feedback_form').submit()" onmouseover="this.innerHTML='标记为已解决'" onmouseout="this.innerHTML='未解决'" style="float:right;">未解决</span><!--{/if}--></form>
			<!--{/if}-->

			<table width="100%" style="margin-bottom:-15px;">			
				<tr>
					<td align="right">
                      <a href="cp.php?ac=share&type=thread&id=$thread[tid]" id="a_share" onclick="ajaxmenu(event, this.id, 1)" >分享</a><span class="pipe">|</span>
					        <a href="cp.php?ac=common&op=report&idtype=tid&id=$thread[tid]" id="a_report" onclick="ajaxmenu(event, this.id, 1)">举报</a><span class="pipe">|</span>
						<!--{if $thread[uid]==$_SGLOBAL[supe_uid]}-->
							<!--{if $_SGLOBAL[magic][icon]}-->
							<img src="image/magic/icon.small.gif" class="magicicon">
							<a href="magic.php?mid=icon&idtype=tid&id=$thread[tid]" id="a_magic_icon" onclick="ajaxmenu(event,this.id,1)">{$_SGLOBAL[magic][icon]}</a>							
							<span class="pipe">|</span>
							<!--{/if}-->
							<!--{if $_SGLOBAL[magic][icon]}-->
							<img src="image/magic/color.small.gif" class="magicicon">
								<!--{if $thread[magiccolor]}-->
							<a href="cp.php?ac=magic&op=cancelcolor&idtype=tid&id=$thread[tid]" id="a_magic_color" onclick="ajaxmenu(event,this.id)">取消{$_SGLOBAL[magic][color]}</a>
								<!--{else}-->
							<a href="magic.php?mid=color&idtype=tid&id=$thread[tid]" id="a_magic_color" onclick="ajaxmenu(event,this.id,1)">{$_SGLOBAL[magic][color]}</a>
								<!--{/if}-->
							<span class="pipe">|</span>
							<!--{/if}-->
						<!--{/if}-->
						<!--{if $mtag[grade]>=8 || $thread[uid]==$_SGLOBAL[supe_uid] || ($eventid && $userevent[status]>=3)}-->
                        <a href="cp.php?ac=thread&op=edit&pid=$thread[content][pid]&tagid=$thread[tagid]<!--{if $eventid}-->&eventid=$eventid<!--{/if}-->">编辑</a><span class="pipe">|</span>
                        <script>
                                jQuery(function(){
                                    jQuery(".del_thread").click(function(){
                                        jQuery.get(jQuery(this).data("href"),function(data){
                                            var html = jQuery(data).children("root").text();
                                            jQuery("#append_parent").html(html);
                                            jQuery("#append_parent").children().wrapAll("<div id='del_thread' class='popupmenu_popup'></div>");
                                            var top_height=jQuery(".del_thread").offset().top;
                                            var left_width=jQuery(".del_thread").offset().left;
                                        
                                            jQuery("#del_thread").css({
                                                "top":top_height+15,
                                                "left":left_width
                                            });
                                        });
                                    });
                                    jQuery(document).on("click",".float_del",function(){
                                        jQuery("#append_parent").html("");
                                    });
                                });
                            </script>
                            <style>
                                #del_thread {
                                    width:160px;
                                    position:absolute;
                                    z-index:9998;
                                }
                            </style>
                            <a href="javascript:;"data-href="cp.php?ac=thread&op=delete&pid=$thread[content][pid]&tagid=$thread[tagid]<!--{if $eventid}-->&eventid=$eventid<!--{/if}-->&inajax=1" id="p_$thread[content][pid]_delete" class="del_thread">删除</a><span class="pipe">|</span>
						<!--{/if}-->
						<!--{if $thread[uid]==$_SGLOBAL[supe_uid] || checkperm('managethread')}-->
						<a href="cp.php?ac=topic&op=join&id=$thread[tid]&idtype=tid" id="a_topicjoin_$thread[tid]" onclick="ajaxmenu(event, this.id)">凑热闹</a><span class="pipe">|</span>
						<!--{/if}-->
						<!--{if checkperm('managethread')}-->
						<a href="cp.php?ac=thread&tid=$thread[tid]&op=edithot" id="a_hot_$thread[tid]" onclick="ajaxmenu(event, this.id)">热度</a><span class="pipe">|</span>
						<!--{/if}-->
                        <!--{if (!$eventid && $mtag[allowpost]) || ($eventid && $userevent[status]>=2)}--><a href="#postform">回复</a>&nbsp;<!--{/if}--><span class="pipe">|</span>
						<!--{if $mtag[grade]>=8 && !$eventid}-->
							<!--{if $thread[displayorder]}-->
                            <a href="cp.php?ac=thread&op=top&tagid=$thread[tagid]&tid=$thread[tid]&cancel" id="t_$thread[tid]_top" onclick="ajaxmenu(event, this.id, 0, 2000)">取消置顶</a><span class="pipe">|</span>
							<!--{else}-->
                            <a href="cp.php?ac=thread&op=top&tagid=$thread[tagid]&tid=$thread[tid]" id="t_$thread[tid]_top" onclick="ajaxmenu(event, this.id, 0, 2000)">置顶</a><span class="pipe">|</span>
							<!--{/if}-->
							<!--{if $thread[digest]}-->
							<a href="cp.php?ac=thread&op=digest&tagid=$thread[tagid]&tid=$thread[tid]&cancel" id="t_$thread[tid]_digest" onclick="ajaxmenu(event, this.id, 0, 2000)">取消精华</a>
							<!--{else}-->
							<a href="cp.php?ac=thread&op=digest&tagid=$thread[tagid]&tid=$thread[tid]" id="t_$thread[tid]_digest" onclick="ajaxmenu(event, this.id, 0, 2000)">精华</a>
							<!--{/if}-->
						<!--{/if}-->
					</td>
				</tr>
				</table>
				</li>
			</ul>

		</div>
	<div id="click_div">
				<!--{template space_click}-->
            </div>

		<!--{/if}-->
		<!--{if (!$eventid && $mtag[allowpost]) || ($eventid && $userevent[status]>1)}-->

        <h5>评论</h5>
		<div class="quickpost" id="postform" style="padding:0">
			<form method="post"style="padding:0" action="cp.php?ac=thread<!--{if $eventid}-->&eventid=$eventid<!--{/if}-->" class="quickpost" id="quickpostform_{$thread[tid]}" name="quickpostform_{$thread[tid]}">
				<table>
					<tr>
                        <td style="padding:0">
                            <!--{if $_SGLOBAL['magic']['doodle']}-->
							<a id="a_magic_doodle" href="magic.php?mid=doodle&showid=comment_doodle&target=message" onclick="ajaxmenu(event, this.id, 1)"><img src="image/magic/doodle.small.gif" class="magicicon" />涂鸦板</a>
							<!--{/if}-->
							<textarea id="comment_message" name="message" onkeydown="ctrlEnter(event, 'postsubmit_btn');" class="t_input form-control" style="border-radius:10px;height:100px;margin:0;padding:3px 4px;width:100%"></textarea>

						</td>
					</tr>
				<!--	<tr>
						<td>插入图片</td>
					</tr>
					<tbody id="quickpostimg">
						<tr>
							<td>
								<input type="text" name="pics[]" onfocus="if(this.value == 'http://')this.value='';" onblur="if(this.value=='')this.value='http://'" value="http://" class="t_input" size="55" style="width: 350px" />&nbsp;
								<a href="javascript:;" onclick="insertWebImg(this.previousSibling.previousSibling)">插入</a> &nbsp;
								<a href="javascript:;" onclick="delRow(this, 'quickpostimg')">删除</a>
							</td>
						</tr>
					</tbody>
					<tr>
						<td><a href="javascript:;" onclick="copyRow('quickpostimg')">+增加图片</a> <span class="gray">只支持 .jpg、.gif、.png为结尾的URL地址</span></td>
                      </tr>-->
					<tr>
						<td>
                            <script language="javascript" src="source/face.js"></script>
                            <a href="javascript:;" class="drop_face comment_face" style="margin-left:-5px;"><div></div></a>
                            <div class="drop_face_menu" data-target="comment_message"></div>
							<input type="hidden" name="tid" value="$thread[tid]" />
                            
							<input type="hidden" name="postsubmit" value="true" />
							<input type="button" id="postsubmit_btn" name="postsubmit_btn btn btn-sm btn-comments"style="margin-left:10px;" value="评论" class="submit btn sm btn-comments" onclick="ajaxpost('quickpostform_{$thread[tid]}', 'post_add')" />
						</td>
					</tr>
				</table>
				<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
			</form>
		</div>
		<!--{else}-->
		<div class="c_form">
		<!--{if $eventid}-->
			只有活动成员可以回复活动话题
		<!--{elseif $mtag[grade]==-1}-->
			您现在被群主禁言，不能参与讨论。
		<!--{else}-->
			你还不是该小组正式成员，不能参与讨论。
			<!--{if $mtag[grade]==-9}-->
			<a href="cp.php?ac=mtag&op=join&tagid=$mtag[tagid]" id="_tag_join_$mtag[tagid]" onclick="ajaxmenu(event, this.id)">现在就加入</a>。
			<!--{/if}-->
		<!--{/if}-->
		</div>
		<!--{/if}-->
		<div id="post_ul">

			<!--{if $pid}-->
			<div class="notice">
				当前只显示与你操作相关的单个帖子，<a href="space.php?uid=$thread[uid]&do=thread&id=$thread[tid]<!--{if $eventid}-->&eventid=$eventid<!--{/if}-->">点击此处查看全部回帖</a>
			</div>
			<!--{/if}-->

			<!--{loop $list $value}-->
			<!--{template space_post_li}-->
			<!--{/loop}-->
		</div>

		<div class="page">$multi</div>


	</div>
</div>

<script type="text/javascript">
	resizeImg('div_post','600');
</script>

<!--{template footer}-->
