<script language="javascript" src="source/face.js"></script>
<script language="javascript" src="plugin/at/jquery.form.js"></script>
<div id="continue_complain" style="display:none">
    <form method="post" id="complain_op_form" action="cp.php?ac=complain&op=continue&doid=$doid">
        <div >
            <div class="mood_statement" style="display:none">
                <div class="mood_say_something">
                    <input type="hidden" id="optype" name="optype" value="4" />
                    <ul id="mood-switch" class="nav nav-mood pull-left">
                        <li class="active reply">
                            <a href="#">继续诉求</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="reply_dep" style="display:none">
                <select style="margin-left:30px" name="relay_depid">
                    <!--{loop $deps $dep}-->
                    <option value="$dep[uid]">$dep['name']</option>
                    <!--{/loop}-->
                </select>
            </div>
            <textarea class="mood_textarea" id="message" name="message" style="margin-top:10px;"></textarea>
            <div class="demo">
                <div class="btn drop_face" id="face_smell">
                    <a href="javascript:;"><img src="image/icons/statues_face_normal.png" width="30" height="30" align="absmiddle" title="插入表情" /></a>

                </div>
                <div class="drop_face_menu" data-target="message" style="margin-top:40px;margin-left:5px;"></div>
                <div id="at_friends_box">
                    <div id="search_at_friends">
                        <input id="input_friends_name" class="form-control input-sm" type="text" onfocus="if(this.value=='搜索要@的好友') this.value='';" onblur="if(this.value=='') this.value='搜索要@的好友';" value="搜索要@的好友" name="friend_name" />
                    </div>
                </div>
                <div class="mood_submit">
                    <button type="submit" id="add" name="add">回复</button>
                </div>
            </div>
        </div>
        <input type="hidden" name="continuesubmit" value="true" />
        <input type="hidden" name="doid" value="$doid" />
        <input type="hidden" name="refer" value="$theurl" />
        <input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
        <input type="hidden" class="json_friend" id="json_friend" value="$_SGLOBAL[supe_uid]" />
        <input type="hidden" class="friendurl_r" id="friendurl_r" value="$friendurl_r" />
    </form>
</div>

