<h5>表态</h5>

<div class="digc">
	<table>
		<tr>
		<!--{eval $clicknum = 0;}-->
		<!--{loop $clicks $value}-->
		<!--{eval $clicknum = $clicknum + $value['clicknum'];}-->
		<!--{eval $value['height'] = $maxclicknum?intval($value['clicknum']*50/$maxclicknum):0;}-->
        <td>
            <a href="cp.php?ac=click&op=add&clickid=$value[clickid]&idtype=$idtype&id=$id&hash=$hash" id="click_{$idtype}_{$id}_{$value[clickid]}">
                <!--{if $value[clicknum]}-->
                <div class="digface">
                    <img src="image/click/$value[icon]" alt="" />
                    $value[name](<span class="click_num_$value[clickid]">{$value[clicknum]}</span>)
                </div>
                <!--{else}-->
                <style>
                    .digface img {
                        -webkit-transition:all 0.2s ease-in-out;
                    }
                    .digface img:hover {
                        -webkit-transform:rotate(30deg);
                    }
                </style>
                <div class="digface">
                    <img src="image/click/$value[icon]" alt="" />
                    $value[name]
                </div>
                <!--{/if}-->
            </a>
        </td>
		<!--{/loop}-->
		</tr>
	</table>
    <!--{if $clickuserlist}-->
    <style>
        .avatar_list li p {
            overflow:initial;
            white-space:initial;
        }
        .avatar_list li {
            overflow:initial;
        }
    </style>
<script>
     (function(){
        jQuery(function(){
            jQuery(".tool_avatar").tooltip({
                "html":true,
                "placement":"bottom"
            });
            jQuery(".cencle_click").on("click",function(){
                var num=jQuery(".click_num_"+jQuery(this).data("clickid")).html();
                
                num -= 1;
                jQuery(".click_num_"+jQuery(this).data("clickid")).html(num);
                jQuery.post("cp.php?ac=click&op=del&clickid="+jQuery(this).data("clickid")+"&uid=$_SGLOBAL['supe_uid']&idtype="+jQuery(this).data("idtype")+"&id="+jQuery(this).data("id")+"&hash=$hash");
                jQuery(this).prev(".avatar48").css({"display":"none"});
                jQuery(this).css({"display":"none"});
            });
        });

     })();
</script>
<div class="trace" style="padding-bottom: 10px;">
	<div id="trace_div">
		<ul class="avatar_list" style="margin-left:30px;" id="trace_ul">
		<!--{loop $clickuserlist $value}-->
		<li>
			<!--{if $value[username]}-->
			<div class="avatar48"><a href="space.php?uid=$value[uid]" target="_blank" class="tool_avatar" data-toggle="tooltip" title="$_SN[$value[uid]]<br>$value['clickname']">
            <!--{avatar($value[uid], 'small')}--></a></div>
            <!--{if $value[uid]==$_SGLOBAL['supe_uid']}-->
                <a href="javascript:;" class="cencle_click" style="float:right;position:absolute;" data-clickid="$value['clickid']" data-idtype="$value['idtype']" data-id="$value[id]">取消表态</a>
            <!--{/if}-->
			<!--{else}-->
			<div class="avatar48"><img src="image/magic/hidden.gif" alt="$value[clickname]" class="avatar" /></div>
			<p>匿名</p>
			<!--{/if}-->
		</li>
		<!--{/loop}-->
		</ul>
	</div>
</div>
<!--{/if}-->
<!--{if $click_multi}--><div class="page">$click_multi</div><!--{/if}-->
</div>
