
<!--{eval $_TPL['titles'] = array($poll['subject'], '投票');}-->
<!--{template header}-->
<script>
    (function(){
        jQuery(function(){
            jQuery("#addnewoption").click(function(){
                jQuery.get("cp.php?ac=poll&op=addopt&pid=$poll[pid]&inajax=1",function(data){
                    var html=jQuery(data).children("root").text();
                    jQuery("#append_newopt").html(html);
                    jQuery("#append_newopt").children().wrapAll("<div class='popupmenu_popup'></div>");
                });
            });
            jQuery(document).on("click",".float_del",function(){
                jQuery("#append_newopt").html("");
            });
        });
    })();
</script>
<style>
    #append_newopt {
        position:absolute;
        left:50%;
        z-index:10000;
        margin-left:-202px;
    }
</style>
<div id="append_newopt"></div>

<!--{if $space[self]}-->
<h4 class="title title30"><img class="pic10" src="image/icons/icon_vote.png" />投票</h4>
<a href="cp.php?ac=poll" style="position:absolute;top:40px;left:50%;margin-left:400px;font-size:14px;"><span>发起投票</span></a>
<div class="tabs_header">
	<ul class="tabs">
		<li><a href="space.php?uid=$space[uid]&do=$do&view=new"><span>最新投票</span></a></li>
		<li><a href="space.php?uid=$space[uid]&do=$do&view=hot"><span>最热投票</span></a></li>
		<li><a href="space.php?uid=$space[uid]&do=$do&view=reward"><span>悬赏投票</span></a></li>
		<!--{if $space[friendnum]}--><li$actives[friend]><a href="space.php?uid=$space[uid]&do=$do&view=friend"><span>好友投票</span></a></li><!--{/if}-->
		<li class="active"><a href="space.php?uid=$space[uid]&do=$do&view=me"><span>我的投票</span></a></li>
	</ul>
	<!--{if $_SGLOBAL[refer]}-->
<!--	<div class="r_option">
		<a  href="$_SGLOBAL[refer]">&laquo; 返回上一页</a>
      </div>wangnan-->
	<!--{/if}-->
</div>
<!--{else}-->
<!--{eval
	$_TPL['spacetitle'] = "投票";
	$_TPL['spacemenus'][] = "<a href=\"space.php?uid=$space[uid]&do=$do&view=me\">TA的所有投票</a>";
	$_TPL['spacemenus'][] = "<a href=\"space.php?uid=$space[uid]&do=poll&pid=$pid\">查看投票详情</a>";
}-->
<!--{template space_menu}-->
<!--{/if}-->

<div id="content" style="border-right:none;width:800px;">
	<div class="poll_title">

		<!--{if $poll[hot]}--><span class="hot"><em>热</em>$poll[hot]</span><!--{/if}--><h3><img src="image/poll_icon.gif" /> $poll[subject]</h3><!--{if $poll['sex'] && $poll['sex'] != $_SGLOBAL['member']['sex'] || $poll[multiple]}--> (<!--{if $poll['sex'] && $poll['sex'] != $_SGLOBAL['member']['sex']}-->仅限<strong><!--{if $poll['sex']==1}-->男<!--{else}-->女<!--{/if}--></strong>性参与 <!--{/if}--><!--{if $poll[multiple]}-->最多选{$poll[maxchoice]}项/至少选{$poll[minchoice]}项<!--{/if}-->) <!--{/if}-->
		<!--{if $_GET[reward]}-->
		<p style="color: #F30;margin-bottom:0">恭喜您获得  <strong>$_GET[reward]</strong> 个积分</p>
		<!--{elseif $poll[percredit]}-->
		<p style="color: #F30;margin-bottom:0">投票将获得 <strong>$poll[percredit]</strong> 个积分</p>
		<!--{/if}-->
	</div>
	<!--{if $poll[message]}--><p class="poll_depiction" style="padding-top:0;padding-bottom:0;text-align:center;">$poll[message]</p><!--{/if}-->
    <div>
		<!--{if $expiration}-->
		<div class="print overtime">[过期]</div>
		<!--{elseif $poll[percredit]}-->
		<div class="print guerdon">[悬赏]</div>
		<!--{/if}-->
		<div class="floatleft" style="float:right;margin-top:20px;padding-right:20px;">
			<p>发起时间: <!--{date('Y-m-d H:i',$poll[dateline],1)}--></p>
			<p>参与人数: <strong>$poll[voternum]</strong> 人</p>
			<!--{if $space[self] && $poll[credit]}-->
			<p>剩余悬赏: <strong>$poll[credit]</strong></p>
			<!--{/if}-->
			<!--{if $poll[expiration]}--><p>截止时间: <!--{date('Y-m-d',$poll[expiration])}--></p><!--{/if}-->
		</div>

	<form name="poll" method="post" action="cp.php?ac=poll&pid=$poll[pid]&op=vote" style="float:left;padding-left:5px;">
	<ol class="poll_item_list">
		<!--{eval $bcid = rand(0, 19);}-->
		<!--{loop $option $key $val}-->
		<li>
			<div style="float:left;min-width:100px;max-width:250px;padding-right:8px;" class="danteng">
			<div><label class="poll_item" style="width:100%">
                <!--{if $val[link]}--><a href={$val[link]} > <!--{/if}-->
                  <!--{if $val[img]}--><img src="{$val[img]}" width="90" onerror="this.onerror=null;this.src='attachment/{$val[img]}'"><br /><!--{/if}-->
			$val[option]
			<!--{if $val[link]}--> </a> <!--{/if}-->
			</label></div>
			</div>
			<!--{if $bcid>19}-->
			<!--{eval $bcid=$bcid-19}-->
			<!--{/if}-->
			<div class="bar_bg bc_$bcid">
				<div class="bar_left"></div>
				<div class="bar_middle" id="bar_$key" len="{$val[width]}"></div>
				<div class="bar_right"></div>
			</div>
			<!--{eval $bcid++;}-->
			<div class="poll_percent" style="width:60px;">$val[votenum] ($val[percent]%)</div>
			<div class="floatleft">
				<!--{if $allowedvote && !$hasvoted}-->
				<input type="<!--{if $poll[multiple]}-->checkbox<!--{else}-->radio<!--{/if}-->" name="option[]" value="$val[oid]" <!--{if $poll[multiple]}-->onclick="checkSelect(this.checked)"<!--{/if}-->/>
				<!--{/if}-->
			</div>
		</li>
		<!--{/loop}-->
	</ol>
    <script type="text/javascript">
        jQuery(function(){
            var max_width = 0;
            jQuery('.danteng').each(function(){
              max_width = jQuery(this).width()>max_width?jQuery(this).width():max_width;
              });
            jQuery('.danteng').width(max_width);
        });
    </script>
	<div class="poll_submit" style="padding-left:0;">

		<!--{if $allowedvote && !$hasvoted}-->
		<input type="hidden" name="votesubmit" value="true" />
		<input type="submit"  class="submit btn btn-sm btn-comments" id="votebutton" name="votebutton" value="投票" style="margin-right:10px;"/>
		<!--{if $poll[anonymous]}-->
		<label><input type="checkbox" name="anonymous" value="1"> 匿名投票</label>
		<!--{/if}-->
		<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
		<!--{/if}-->
	</div>
	</form>
    <div style="clear:both"></div> 
  </div>
	<!--{if $poll[summary]}-->
	<div class="poll_summary">
	<h5 class="poll_sumuptitle" style="padding-left:5px;">{$_SN[$poll[uid]]}对该投票的总结</h5>
	<p class="poll_sumup">$poll[summary]</p>
	</div>
	<!--{/if}-->
	<div class="poll_htitle">

        <!--{if $space[self]}-->
        <div class="r_option" style="margin-right:-6px;">
        <!--{else}-->
        <div class="r_option">
        <!--{/if}-->
		<!--{if $space[self]}-->
			<!--{if $poll[credit]}-->
            <a href="cp.php?ac=poll&op=endreward&pid=$poll[pid]" id="poll_reward_$poll[pid]" onclick="ajaxmenu(event, this.id)">终止悬赏</a><span class="pipe">|</span>
			<!--{/if}-->
            <a href="cp.php?ac=poll&op=addreward&pid=$poll[pid]" id="add_new_reward" onclick="ajaxmenu(event, this.id)">追加悬赏</a><span class="pipe">|</span>
            <a href="javascript:;" id="addnewoption">增加候选项</a><span class="pipe">|</span>
            <a href="cp.php?ac=poll&pid=$poll[pid]&op=delete" id="poll_delete_$poll[pid]" onclick="ajaxmenu(event, this.id)">删除</a><span class="pipe">|</span>
            <a href="cp.php?ac=poll&pid=$poll[pid]&op=modify" id="poll_modify_$poll[pid]" onclick="ajaxmenu(event, this.id)">修改截止时间</a><span class="pipe">|</span>
            <a href="cp.php?ac=poll&pid=$poll[pid]&op=summary" id="poll_summary_$poll[pid]" onclick="ajaxmenu(event, this.id, 1)">投票总结</a><span class="pipe">|</span>
		<!--{/if}-->

			<!--{if checkperm('managepoll')}-->
			<a href="cp.php?ac=poll&pid=$poll[pid]&op=edithot" id="a_hot_$poll[pid]" onclick="ajaxmenu(event, this.id)">热度</a><span class="pipe">|</span>
			<!--{/if}-->
			<a href="cp.php?ac=common&op=report&idtype=pid&id=$poll[pid]" id="a_report" onclick="ajaxmenu(event, this.id, 1)">举报</a><span class="pipe">|</span>
			<a href="cp.php?uid=$poll[uid]&ac=poll&op=invite&pid=$poll[pid]"/>邀请好友</a><span class="pipe">|</span>
            <a href="cp.php?ac=share&type=poll&id=$poll[pid]" id="a_share" onclick="ajaxmenu(event, this.id, 1)">分享</a>
		</div>
	</div>
    
    <div id="poll_who_list">
        <h5 style="padding-left:5px;">投票列表</h5>
		<div class="custom">
		<a id="newvoter" href="javascript:;"  style="margin-right:10px;line-height:17px"onclick="showVoter('new');">最新投票</a>
		<a id="wevoter" style="margin-right:0;line-height:17px" href="javascript:;" onclick="showVoter('we');">好友投票</a>
		</div>
    </div>
	<div id="showvoter"></div>
	<script type="text/javascript">
		<!--{if !$hasvoted}-->
		var maxSelect = $poll[maxchoice];
		var alreadySelect = 0;
		function checkSelect(sel) {
			if(sel) {
				alreadySelect++;
				if(alreadySelect == maxSelect) {
					var oObj = document.getElementsByName("option[]");
					for(i=0; i < oObj.length; i++) {
						if(!oObj[i].checked) {
							oObj[i].disabled = true;
						}
					}
				}
			} else {
				alreadySelect--;
				if(alreadySelect < maxSelect) {
					var oObj = document.getElementsByName("option[]");
					for(i=0; i < oObj.length; i++) {
						if(oObj[i].disabled) {
							oObj[i].disabled = false;
						}
					}
				}
			}
		}
		<!--{/if}-->

		//效查
		var optionNum = <!--{eval echo count($option)}-->;
		var maxLength = [0,1, 2, 3, 4, 5, 6, 7, 8, 9, 10,11,12,13,14,15,16,17,18,19];

		var timer;
		var length = 0;
		for(i = 0; i < optionNum; i++) {
			maxLength[i] = $("bar_" + i).getAttribute('len');
		}
		timer = setInterval(function(){
			setLength();
		}, 40);
		function setLength(){
			for (i = 0; i < optionNum; i++) {
				if (length - 1 >= maxLength[i]) {
					$('bar_' + i).style.width = maxLength[i] + "px";
				} else {
					$('bar_' + i).style.width = length + "px";
				}
				length = length + 1;
				if (length > 300) {
					clearInterval(timer);
				}
			}
		}
		function showVoter(filtrate) {
			$('newvoter').className = '';
			$('wevoter').className = '';
			$(filtrate+'voter').className = 'active';
			ajaxget('cp.php?ac=poll&op=get&pid=$poll[pid]&filtrate='+filtrate, 'showvoter');
		}
		showVoter('new')
	</script>
	<!--{if $isfriend}-->
	<div class="comments" id="div_main_content" style="padding: 0 0 20px;">

		<h5 style="padding-left:5px;">评论</h5>
		<form id="quickcommentform_{$pid}" name="quickcommentform_{$pid}" action="cp.php?ac=comment" method="post" class="quickpost">
			<table cellpadding="0" cellspacing="0">
				<tr>
					<td>
						<!--{if $_SGLOBAL['magic']['doodle']}-->
						<a id="a_magic_doodle" href="magic.php?mid=doodle&showid=comment_doodle&target=comment_message" onclick="ajaxmenu(event, this.id, 1)"><img src="image/magic/doodle.small.gif" class="magicicon" />涂鸦板</a>
						<!--{/if}-->

						<textarea id="comment_message" onkeydown="ctrlEnter(event, 'commentsubmit_btn');" name="message" rows="5" class="form-control"style="height:100px;border-radius:10px;padding:5px;"></textarea>
                        <script language="javascript" src="source/face.js"></script>
                        <a href="javascript:;" id="face" class="drop_face comment_face" title="插入表情"><div></div></a>
                        <div class="drop_face_menu" data-target="comment_message"></div>
						<input type="hidden" class="json_friend" id="json_friend" value="$_SGLOBAL[supe_uid]" />
						<input type="hidden" class="friendurl_r" id="friendurl_r" value="$friendurl_r" />
						<input type="hidden" name="refer" value="space.php?uid=$poll[uid]&do=$do&id=$pid" />
						<input type="hidden" name="id" value="$pid">
						<input type="hidden" name="idtype" value="pid">
						<input type="hidden" name="commentsubmit" value="true" />
						<input type="button" id="commentsubmit_btn" name="commentsubmit_btn" class="submit btn btn-comments" value="评论" style="margin-left:10px;"onclick="ajaxpost('quickcommentform_{$pid}', 'comment_add')" />
					</td>
				</tr>
			</table>
			<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
		</form>
    <style>
        #comment_ul {
            width:100% !important;
        }
        .info_comment{
            width:91%;
        }
        #comment_ul li {
            border-bottom:1px solid #dcdcdc;
        }
        #comment_ul li {
           padding-bottom:5px;
        }
    </style>
    <script>
        jQuery(function(){
            jQuery("#comment_ul li").last().css({"border":"none"});
        });
    </script>
		<div class="comments_list" id="comment" style="padding-left:5px;">
			<!--{if $cid}-->
			<div class="notice">
				当前只显示与你操作相关的单个评论，<a href="space.php?uid=$poll[uid]&do=poll&pid=$poll[pid]">点击此处查看全部评论</a>
			</div>
			<!--{/if}-->
            <ul id="comment_ul">
                <!--{loop $list $value}-->
				<!--{template space_poll_comment_li}-->
                <!--{/loop}-->
			</ul>
		</div>
		<div class="page">$multi</div>
	</div>
	<!--{/if}-->

</div>
<script type="text/javascript">
//彩虹炫
var elems = selector('div[class~=magicflicker]'); 
for(var i=0; i<elems.length; i++){
	magicColor(elems[i]);
}
</script>

<!--{template footer}-->
