<!--{template header}-->
<!--{if !empty($_SGLOBAL[inajax])}-->
<!--{else}-->
<div id="search_vertical" class="tabs_header">
	<ul class="tabs">
        <li><a href="space.php?query={$_GET['query']}&do=search&type=user"><span>好友</span></a></li>
        <li><a href="space.php?query={$_GET['query']}&do=search&type=doing"><span>足迹</span></a></li>
        <li><a href="space.php?query={$_GET['query']}&do=search&type=blog"><span>日志</span></a></li>
        <li><a href="space.php?query={$_GET['query']}&do=search&type=album"><span>相册</span></a></li>
        <li><a href="space.php?query={$_GET['query']}&do=search&type=poll"><span>投票</span></a></li>
        <li class="active"><a href="#"><span>活动</span></a></li>
        <li><a href="space.php?query={$_GET['query']}&do=search&type=mtag"><span>群组</span></a></li>
    </ul>
</div>
<!--{if !empty($eventlist)}-->
<div class="c_form">共找到{$all_item_count}个相关的活动</div>
<div class="event_list">
    <ol>
        <!--{eval $hiddecount = 0}-->
        <!--{loop $eventlist $key $event}-->
        <!--{if $event[uid] != $_SGLOBAL[supe_uid] && ($event[grade]==0 || ($event[public]==0 && ($_GET[view]!='me' || $_GET[uid] != $_SGLOBAL[supe_uid])))}-->
        <!--{eval $hiddencount = $hiddencount + 1}-->
        <!--{else}-->
        <li>
            <div class="event_icon">
                <a href="space.php?do=event&id=$event[eventid]"><img class="poster_pre" src="$event[pic]" alt="$event[title]" onerror="this.src='$_SGLOBAL[eventclass][$event[classid]][poster]'"></a>
            </div>
            <div class="event_content">
                <h4 class="event_title"><a href="space.php?do=event&id=$event[eventid]">$event[title]</a><span class="gray">[<!--{$_SGLOBAL[eventclass][$event[classid]][classname]}-->]</span></h4>
                <ul>
                    <li>
                        <span class="gray">活动时间:</span> 	<!--{eval echo sgmdate("m月d日 H:i", $event[starttime])}--> - <!--{eval echo sgmdate("m月d日 H:i", $event[endtime])}-->
                        <!--{if $event[grade] == 0}-->
                        <span class="event_state"> 待审核</span>
                        <!--{/if}-->
                        <!--{if $event[endtime]<$_SGLOBAL[timestamp]}-->
                        <span class="event_state"> 已结束</span>
                        <!--{elseif $event[deadline]<$_SGLOBAL[timestamp]}-->
                        <span class="event_state"> 报名截止</span>
                        <!--{/if}-->						
                    </li>
                    <li><span class="gray">活动地点:</span>
                        <a href="space.php?uid=$_GET[uid]&do=event&view=$view&type=$type&classid=$_GET[classid]&province=$event[province]&date=$_GET[date]">$event[province]</a>
                        <a href="space.php?uid=$_GET[uid]&do=event&view=$view&type=$type&classid=$_GET[classid]&province=$event[province]&city=$event[city]&date=$_GET[date]">$event[city]</a>
                        $event[location]
                    </li>
                    <li><span class="gray">发起人:</span> <a href="space.php?uid=$event[uid]">$_SN[$event[uid]]</a></li>
                    <!--{if $fevents[$event[eventid]]}-->
                    <li><span class="gray">好友:</span> 
                        <!--{loop $fevents[$event[eventid]] $value}-->
                        <a href="space.php?uid=$value[fuid]">$_SN[$value[fuid]]</a>
                        <!--{if $value[status] == 2}--><span class="gray">参加</span>
                        <!--{elseif $value[status] == 3}--><span class="gray">组织者</span>
                        <!--{elseif $value[status] == 4}--><span class="gray">发起者</span>
                        <!--{else}--><span class="gray">关注</span>
                        <!--{/if}-->
                        &nbsp;
                        <!--{/loop}-->
                    </li>
                    <!--{/if}-->
                    <li style="margin: 5px 0 0;">$event[viewnum] 次查看&nbsp; $event[membernum] 人参加&nbsp; $event[follownum] 人关注</li>
                </ul>
            </div>
        </li>
        <!--{/if}-->
        <!--{/loop}-->
    </ol>
    <!--{if $hiddencount}-->
    <div>本页有 $hiddencount 个活动因隐私设置而隐藏</div>
    <!--{/if}-->
    <div class="page">$multi</div>		
</div>
<!--{else}-->
<div class="c_form">
    <!--{if $view == "me"}-->
    现在还没有相关的活动
    <!--{else}-->
    还没有相关的活动。您可以 <a href="cp.php?ac=event">发起一个新活动</a>		
    <!--{/if}-->
</div>
<!--{/if}-->
<!--{/if}-->
<!--{template footer}-->
