<!--{eval $_TPL['titles']=array('诉求');}-->
<!--{template header}-->
<!--{if $complain}-->
<div id="content" style="border:none;">
<h4 class="title" style="margin:30px 15px;"><img class="pic10"src="image/icons/icon_appeal.png">诉求详情</h4>
<div class="complain_list">
    <ol>
        <li>
            <div class="feed_li_avatar" style="float:left !important">
                <div class="round_border head">
                    <a href="space.php?uid=$complain[uid]"><!--{avatar($complain[uid],big,false,0,'feed')}--></a>
                </div>
                <div>
                    <a href="space.php?uid=$complain[uid]" style="text-align:center;width:75px;overflow:hidden;display:inline-block;text-overflow:ellipsis;white-space:nowrap;" title="$_SN[$complain[uid]]">$_SN[$complain[uid]]</a>
                </div>
            </div>
            <script src="source/docomment.js"></script> 
            <div class="feed_li_inner bubble arrow_l" style="letter-spaceing:0x5px;">
                <span>$complain[message]</span>
                <div class="feed_content clearfix"></div>
                <div id="reply_content">
                    <span class="gray"><!--{date('m月d日 H:i',$dv[dateline],1)}--></span>
                    <span class="floatright">
                        <a href="javascript:;" data-doid="{$complain[doid]}" id="do_a_op_$doid" onclick="docomment_form($doid,0)"><img src="image/icons/icon-comment.png"/>&nbsp;<!--{if $dv['replynum']>0}-->评论($dv['replynum'])<!--{else}-->评论<!--{/if}--></a>
                    </span>
                </div>
                <!--{eval $list = $doclist[$complain[doid]];}-->
                <div class="sub_doing fcomment do_document" id="docomment_$doid" style="display:none;width:100%;">
                    <span id="docomment_form_{$complain[doid]}_0"></span>
                    <!--{template space_complain_li_index}-->
                </div>
            </div>
            <div class="clearfix"></div>
        </li>
        <!--{eval $complain_ops_count = count($complain_ops);}-->
        <!--{eval $op_index=0;}-->
        <!--{loop $complain_ops $op}-->
        <!--{eval $op_index++;}-->
        <!--{if $op[optype] == 2 || $op[optype] == 3 || $op[optype] == 4}-->
        <li id="complain_op_$op[id]">
        <!--{if $op[uid] == $complain[uid] && $op[optype] == 4}-->
            <div class="feed_li_avatar" style="float:left !important">
        <!--{else}-->
            <div class="feed_li_avatar" style="float:right !important">
        <!--{/if}-->
                <div class="round_border head">
                    <a href="space.php?uid=$dv[uid]"><!--{avatar($op[uid],big,false,0,'feed')}--></a>
                </div>
                <div>
                    <a href="space.php?uid=$dv[uid]" style="text-align:center;width:75px;overflow:hidden;display:inline-block;text-overflow:ellipsis;white-space:nowrap;" title="$_SN[$op[uid]]">$_SN[$op[uid]]</a>
                </div>
            </div>
            <!--{if $op[uid] == $complain[uid] && $op[optype] == 4}-->
            <div class="feed_li_inner bubble arrow_l" style="letter-spaceing:0x5px;">
            <!--{else}-->
            <div class="feed_li_inner bubble arrow_r" style="letter-spaceing:0x5px;">
            <!--{/if}-->
                <!--{if $op[optype] == 3}-->
                <p>操作类型：转发给$_SN[$op["opvalue"]]</p>
                <span>转发理由：$op[message]</span>
                <!--{else}-->
                <span>$op[message]</span>
                <!--{/if}-->
                <div class="feed_content clearfix"></div>
                <div id="reply_content">
                    <span class="gray"><!--{date('m月d日 H:i',$op[dateline],1)}--></span>
                    <span class="floatright">

                        <!--{if $op[optype] == 2}-->
                        <!--{if isset($opupdowns[$op[id]]) || $op[uid] == $_SGLOBAL[supe_uid]}-->
                        <!--{if $opupdowns[$op[id]] == 1}-->
                        <a style="color:gray;" id="complain_up_$op[id]"><img src="image/icons/icon_good_clicked.png"/>&nbsp;赞<!--{if $op['upnum']>0}-->($op['upnum'])<!--{/if}--></a><span style="color:#ccc">&nbsp;&nbsp;|&nbsp;</span>
                        <a style="color:gray;" id="complain_down_$op[id]"><img src="image/icons/icon_bad.png"/>&nbsp;踩<!--{if $op['downnum']>0}-->($op['downnum'])<!--{/if}--></a><span style="color:#ccc">&nbsp;&nbsp;|&nbsp;</span>
                        <!--{elseif $opupdowns[$op[id]] == 2}-->
                        <a style="color:gray;" id="complain_up_$op[id]"><img src="image/icons/icon_good.png"/>&nbsp;赞<!--{if $op['upnum']>0}-->($op['upnum'])<!--{/if}--></a><span style="color:#ccc">&nbsp;&nbsp;|&nbsp;</span>
                        <a style="color:gray;" id="complain_down_$op[id]"><img src="image/icons/icon_bad_clicked.png"/>&nbsp;踩<!--{if $op['downnum']>0}-->($op['downnum'])<!--{/if}--></a><span style="color:#ccc">&nbsp;&nbsp;|&nbsp;</span>
                        <!--{else}-->
                        <a style="color:gray;" id="complain_up_$op[id]"><img src="image/icons/icon_good.png"/>&nbsp;赞<!--{if $op['upnum']>0}-->($op['upnum'])<!--{/if}--></a><span style="color:#ccc">&nbsp;&nbsp;|&nbsp;</span>
                        <a style="color:gray;" id="complain_down_$op[id]"><img src="image/icons/icon_bad.png"/>&nbsp;踩<!--{if $op['downnum']>0}-->($op['downnum'])<!--{/if}--></a><span style="color:#ccc">&nbsp;&nbsp;|&nbsp;</span>
                        <!--{/if}-->
                        <!--{else}-->
                        <!--{if $complain[uid] == $_SGLOBAL[supe_uid] && $complain['lastopid'] == $op[id] && $complain['status'] == 1}-->
                        <a href="cp.php?ac=complain&doid=$doid&opid=$op[id]&op=up" id="complain_up_$op[id]" onclick="ajaxmenu(event, this.id)" ><img src="image/icons/icon_good.png"/>&nbsp;赞<!--{if $op['upnum']>0}-->($op['upnum'])<!--{/if}--></a><span style="color:#ccc">&nbsp;&nbsp;|&nbsp;</span>
                        <a href="cp.php?ac=complain&doid=$doid&opid=$op[id]&op=down" id="complain_down_$op[id]" onclick="ajaxmenu(event, this.id)" ><img src="image/icons/icon_bad.png"/>&nbsp;踩<!--{if $op['downnum']>0}-->($op['downnum'])<!--{/if}--></a><span style="color:#ccc">&nbsp;&nbsp;|&nbsp;</span>
                        <!--{else}-->
                        <a href="javascript:void(0)" id="complain_up_$op[id]"  onclick="refreshComplainOp($doid,$op[id],'up');return false;" ><img src="image/icons/icon_good.png"/>&nbsp;赞<!--{if $op['upnum']>0}-->($op['upnum'])<!--{/if}--></a><span style="color:#ccc">&nbsp;&nbsp;|&nbsp;</span>
                        <a href="javascript:void(0)" id="complain_down_$op[id]"  onclick="refreshComplainOp($doid,$op[id],'down');return false;" ><img src="image/icons/icon_bad.png"/>&nbsp;踩<!--{if $op['downnum']>0}-->($op['downnum'])<!--{/if}--></a><span style="color:#ccc">&nbsp;&nbsp;|&nbsp;</span>
                        <!--{/if}-->
                        <!--{/if}-->
                        <!--{/if}-->

                        <a href="javascript:;" data-rootid="cop_{$op[id]}" id="tree_comment_op_cop_{$op[id]}" onclick="treecomment_form('cop_{$op[id]}',0)"><img src="image/icons/icon-comment.png"/>&nbsp;<!--{if $op['replynum']>0}-->评论($op['replynum'])<!--{else}-->评论<!--{/if}--></a>
                    </span>
                </div>
                <!--{eval $list = $opclist[$op[id]];}-->
                <div class="sub_doing fcomment do_document" id="treecomment_cop_$op[id]" style="display:none;width:100%;">
                    <span id="treecomment_form_cop_{$op[id]}_0"></span>
                    <!--{template space_complaincomment_li}-->
                </div>
            </div>

            <div class="clearfix"></div>
        </li>
        <!--{/if}-->
        <!--{/loop}-->
        <script>
            function refreshComplainOp(doid,opid,updown) {
                var s = 'cp.php?ac=complain&doid='+doid+'&opid='+opid+'&op='+updown+'&confirm=1';
                jq('#complain_up_'+opid).removeAttr("href").attr('onclick','').unbind('click').css('color','gray');
                jq('#complain_down_'+opid).removeAttr("href").attr('onclick','').unbind('click').css('color','gray');
                if (updown != 'up' && updown != 'down') {return false;}
                jq.get(s,function(data){
                    count = parseInt(data) || 0;
                    if (count) {
                        var content = jq('#complain_'+updown+'_'+opid).html().replace(/(good|bad)\.png/g,'$1_clicked\.png').replace(/(踩|赞).*/g,'$1('+count+')');
                        jq('#complain_'+updown+'_'+opid).html(content);
                    }
                })
            }
        </script>
    </ol>
    <!--{if $complain[status] == 0 && $_SGLOBAL['isdept'] == 1}-->
    <!--{template space_complain_op_feed}-->
    <!--{/if}-->
    <!--{if $complain[status] == 1 && $complain[uid] == $_SGLOBAL[supe_uid]}-->
    <!--
    <div>
    <script type="text/javascript">
        function continue_complain() {
            if ($("continue_complain").style.display != "block") {
                $("continue_complain").style.display = "block";
                $("complain_continue").innerHTML = "收起";
            } else {
                $("continue_complain").style.display = "none";
                $("complain_continue").innerHTML = "继续诉求";
            }
        }
    </script>
    <a href="#" id="complain_continue" onclick="continue_complain();return false;" style="margin-left:10px;">继续诉求</a>
    </div>
    -->
    <!--{template space_complain_op_continue}-->
    <!--{/if}-->
</div>
</div>
<div id="sidebarbox">
    <a href="space.php?do=complain" class="r_option complain_ret" style="margin-top:30px;margin-right:15px;">返回我的诉求列表</a>
    <div class="sidebox" style="border:none;margin-top:88px;">
        <h4 class="title">诉求状态</h4>
        <!--{if $complain[status] == 0}-->
        <div class="complain_status complain_doing">
            <!--{if $_SGLOBAL[isdept] == 1}-->
            <p>未处理</p>
            <!--{else}-->
            <p>处理中</p>
            <!--{/if}-->
        <!--{elseif $complain[status] == 1}-->
        <div class="complain_status complain_done">
            <p>已处理</p>
        <!--{else}-->
        <div class="complain_status complain_closed">
            <p>已关闭</p>
        <!--{/if}-->
        </div>
        <div style="clear:both;height: 50px;"></div>
        <h4 class="title">诉求变更历史</h4>
        <div>
            <ol class="list-unstyled">
                <li>
                <p>发起诉求</p>
                <p class="status-time"><!--{date('Y年m月d日 H:i',$dv[dateline],1)}--></p>
                </li>
                <!--{loop $complain_ops $op}-->
                <li>
                    <!--{if $op[optype] == 2}-->
                    <p>回复诉求</p>
                    <!--{elseif $op[optype] == 3}-->
                    <p>转发诉求</p>
                    <!--{elseif $op[optype] == 4}-->
                    <p>继续诉求</p>
                    <!--{elseif $op[optype] == 5}-->
                    <p>重启诉求(点踩)</p>
                    <!--{elseif $op[optype] == 6}-->
                    <!--{if $op[opvalue] == 1}-->
                    <p>关闭诉求(点赞)</p>
                    <!--{elseif $op[opvalue] == 2}-->
                    <p>关闭诉求(超时)</p>
                    <!--{else}-->
                    <p>关闭诉求</p>
                    <!--{/if}-->
                    <!--{else}-->
                    <p>未知动作</p>
                    <!--{/if}-->
                    <p class="status-time"><!--{date('Y年m月d日 H:i',$op[dateline],1)}--></p>

                </li>
                <!--{/loop}-->

            </ol>
        </div>
    </div>
</div>
<!--{else}-->
<p class="no-content-tip">
<img src="image/icons/no_status.png">
<br>
没有找到改诉求，用户可能已将其删除
</p>
<!--{/if}-->
<!--{template footer}-->
