/*
[name]猫猫[/name]
 */
a{ color: #5778A1; }

body { padding: 0 0 50px; background: #6A8FA1; color: #666; }
#wrap { padding: 15px 10px; border: 3px solid #9DB7C1; background: #FFF; }
#Container{margin:0;width:100%;height:50px;overflow:hidden;}
#WebHead{ width:100%; background:none; height:auto;}

#header { margin: 0; background: url(images/top_bg.jpg) repeat-x; color: #CCC; width:100%;}
#header a { color: #6A8FA1; }
.headerwarp { height: 50px; color: #5A7B8C; width:996px;background:none;}
#diy {top:50px;}
#header .logo a { margin-top:3px;width: 137px; height: 33px; background: url(images/logo.png) no-repeat left center; overflow: hidden; display: block; }
#header .logo a img { margin: -200px; }
.login_thumb { background-image: url(images/login_bg.gif); }
.menu, .menu_other{margin-top:6px;}
.head_search {margin-top:5px;}
#bg_pic{padding:0;margin-top:-16px;}
#blank_pic{padding:0;margin:auto;background: url(images/header.gif) no-repeat 30px 0; width:996px;height:100px;overflow:hidden;}
#ubar h2,
#space_page .feed_header,
#space_page .sidebox h2.title { padding: 0 10px; height: 30px; background: #F2F2F2 url(images/title.gif); color: #5778A1; line-height: 29px; }

#ubar h2{
  background-position: 0 -100px;
}
#space_page .sidebox h2.title{
  background-position: 0 -200px;
}
.submit{background:none; color:#6A8FA1;}


.ulist,
#space_page .feed li,
#space_page .comments_list li,
#footer { border-color: #ECF1F3; }
.tabs_header{ position: absolute; margin:-44px 0 0 120px; width: 700px; border: none;}
#search_vertical{ position: static; margin: 0 0 15px 0; }

.tabs_header ul.tabs li a, .tabs_header ul.tabs li a span{ background-image: url(images/tab_bg.gif); color: #FFF; }
.tabs_header ul.tabs li.active a, .tabs_header ul.tabs li.active a span{ background-image: url(images/active_tab_bg.gif); color: #5778A1; }

.tabs_header ul.tabs li{
  margin: 0 5px 0 0;
}
#bg_pic{background:none;}


