.navbar-fixed-top { background-color: #de4197 !important;}
body { background-color:#ffd3dd !important; color:#3a282e !important; }
a { color:#da5882; }
#mainareafg a { color:#da5882;}
.header_resident,.header_score { color:#3a282e;}
body,div, th, td, input, select,  button { border-color:#ffedf1; }
#app_sidebar { background-color:transparent; }
#main { background-color:#ffedf1; }
.menu li a { color:#ffffff !important;}
#mainareafg { background-color:#FFFFFF;}
.navbar-ihome .navbar-nav > .open > a, .navbar-ihome .navbar-nav > .open > a:hover, .navbar-ihome .navbar-nav > .open > a:focus {
     background:#bd3780;
}
#app_sidebar {
    margin-left:10px;
}
#sidebar {
    padding-right:10px;
}
#sidebarbox {
    margin-left:10px;
    width:200px;
}
.calendarbox li.calendarli, .calendarbox li.calendarblank {
    width:27px;
}

.calendarbox {
    width:190px;
}
#obar {
    margin-left:10px;
}
