/*
[name]淡淡花香[/name]
*/
body { padding: 0 0 50px; background: #EFD5B2 url(images/body_bg.gif) repeat; color: #666; }
#WebHead{ width:100%; height:33px; background:none; overflow:hidden;background:none; }

a { color: #F05961; }
#wrap { padding: 15px; background: #FFF; }
#header { margin: auto; color: #CCC; width:1002px;}
.headerwarp { background: none; padding:0;float:left;width:100%;}
#header a { color: #2C629E; }
#header .logo a { width: 137px; height: 33px; background: url(images/logo.png) no-repeat left center; overflow: hidden; display: block; }
#header .logo a img { margin: -200px; }
.login_thumb { background-image: url(images/login_bg.gif); }
#ubar h2,
#space_page .feed_header,
#space_page .sidebox h2.title { padding: 0 10px; height: 30px; border-bottom: 1px solid #EFD5B2; background: #F9F0E3; color: #F05961; line-height: 30px; }
.ulist,
 .tabs_header,
 #space_page .feed li,
 #space_page .comments_list li,
 #footer { border-color: #EFD5B2; }
.tabs_header ul.tabs li.active a,
.tabs_header ul.tabs li.active a span,
.tabs_header ul.tabs li a,
.tabs_header ul.tabs li a span { background: none; }
.ulist { background: #F9F0E3; }
.tabs_header ul.tabs li a { border: 1px solid #EFD5B2; border-bottom: none; background: #F9F0E3; }
.tabs_header { height: 31px; }
.submit{background:none; color:#2C629E;}